<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-the-input-files" data-toc-modified-id="Read-the-input-files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read the input files</a></span><ul class="toc-item"><li><span><a href="#Set-paths-to-data" data-toc-modified-id="Set-paths-to-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Set paths to data</a></span></li><li><span><a href="#CEN-letters-set" data-toc-modified-id="CEN-letters-set-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>CEN letters set</a></span></li><li><span><a href="#Garfagnini's-invenctory-(cleaned-OCR)" data-toc-modified-id="Garfagnini's-invenctory-(cleaned-OCR)-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Garfagnini's invenctory (cleaned OCR)</a></span></li></ul></li><li><span><a href="#Prepare-the-input-files:-explode-multiple-correspondents-to-one-per-row" data-toc-modified-id="Prepare-the-input-files:-explode-multiple-correspondents-to-one-per-row-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Prepare the input files: explode multiple correspondents to one per row</a></span><ul class="toc-item"><li><span><a href="#CEN-letters-set" data-toc-modified-id="CEN-letters-set-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>CEN letters set</a></span></li><li><span><a href="#Garfagnini's-set" data-toc-modified-id="Garfagnini's-set-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Garfagnini's set</a></span></li></ul></li><li><span><a href="#Combine-Garfagnini-+-CEN-sets" data-toc-modified-id="Combine-Garfagnini-+-CEN-sets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Combine Garfagnini + CEN sets</a></span><ul class="toc-item"><li><span><a href="#Set1:-Get-the-CEN-slice-(up-to-second-degree)-that-contains-the-mapped-names-from-Garfagnini's-set" data-toc-modified-id="Set1:-Get-the-CEN-slice-(up-to-second-degree)-that-contains-the-mapped-names-from-Garfagnini's-set-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Set1: Get the CEN slice (up to second degree) that contains the mapped names from Garfagnini's set</a></span></li><li><span><a href="#Set2:-Get-the-intrinsic-slice-of-CEN-(up-to-2nd-degree)-of-Magliabechi" data-toc-modified-id="Set2:-Get-the-intrinsic-slice-of-CEN-(up-to-2nd-degree)-of-Magliabechi-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Set2: Get the intrinsic slice of CEN (up to 2nd degree) of Magliabechi</a></span><ul class="toc-item"><li><span><a href="#Generate-First-degree-correspondents-for-every-person-in-CEN" data-toc-modified-id="Generate-First-degree-correspondents-for-every-person-in-CEN-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Generate First-degree correspondents for every person in CEN</a></span></li><li><span><a href="#Indicate-person-of-interest" data-toc-modified-id="Indicate-person-of-interest-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Indicate person of interest</a></span></li><li><span><a href="#Get-First-degree-correspondents-per-person-of-interest" data-toc-modified-id="Get-First-degree-correspondents-per-person-of-interest-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Get First degree correspondents per person of interest</a></span></li><li><span><a href="#Add-a-mark-to-Letters-file-with-correspondents-of-person-of-interest" data-toc-modified-id="Add-a-mark-to-Letters-file-with-correspondents-of-person-of-interest-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>Add a mark to Letters file with correspondents of person of interest</a></span></li><li><span><a href="#Mark-the-slice" data-toc-modified-id="Mark-the-slice-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Mark the slice</a></span></li><li><span><a href="#Get-the-slice" data-toc-modified-id="Get-the-slice-3.2.6"><span class="toc-item-num">3.2.6&nbsp;&nbsp;</span>Get the slice</a></span></li></ul></li><li><span><a href="#Resulting-CEN-subsets:-Combining-Set1-and-Set2" data-toc-modified-id="Resulting-CEN-subsets:-Combining-Set1-and-Set2-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Resulting CEN subsets: Combining Set1 and Set2</a></span><ul class="toc-item"><li><span><a href="#Remove-CEN-letter-duplicates" data-toc-modified-id="Remove-CEN-letter-duplicates-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Remove CEN letter duplicates</a></span></li></ul></li><li><span><a href="#Resulting-dataset:-Combined-letters-Magliabechi's-second-degree-from-Garfagnini-and-CEN-datasets" data-toc-modified-id="Resulting-dataset:-Combined-letters-Magliabechi's-second-degree-from-Garfagnini-and-CEN-datasets-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Resulting dataset: Combined letters Magliabechi's second-degree from Garfagnini and CEN datasets</a></span><ul class="toc-item"><li><span><a href="#Summary-counts" data-toc-modified-id="Summary-counts-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Summary counts</a></span></li></ul></li></ul></li><li><span><a href="#Create-correspondent-pairs-and-their-correspondence-year-ranges" data-toc-modified-id="Create-correspondent-pairs-and-their-correspondence-year-ranges-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create correspondent pairs and their correspondence year ranges</a></span><ul class="toc-item"><li><span><a href="#Create-a-dictionary-of-personId-and-person-name" data-toc-modified-id="Create-a-dictionary-of-personId-and-person-name-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Create a dictionary of personId and person name</a></span></li><li><span><a href="#Create-correspondent-pairs" data-toc-modified-id="Create-correspondent-pairs-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Create correspondent pairs</a></span></li><li><span><a href="#Create-letter-year-ranges-for-each-pair" data-toc-modified-id="Create-letter-year-ranges-for-each-pair-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Create letter year ranges for each pair</a></span><ul class="toc-item"><li><span><a href="#For-pairs-with-letter-years-in-slice1_certain" data-toc-modified-id="For-pairs-with-letter-years-in-slice1_certain-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>For pairs with letter years in slice1_certain</a></span><ul class="toc-item"><li><span><a href="#Create-subset" data-toc-modified-id="Create-subset-4.3.1.1"><span class="toc-item-num">4.3.1.1&nbsp;&nbsp;</span>Create subset</a></span></li><li><span><a href="#Get-the-correspondence-year-ranges" data-toc-modified-id="Get-the-correspondence-year-ranges-4.3.1.2"><span class="toc-item-num">4.3.1.2&nbsp;&nbsp;</span>Get the correspondence year ranges</a></span></li><li><span><a href="#Add-these-years-to-letters-file-from-this-group" data-toc-modified-id="Add-these-years-to-letters-file-from-this-group-4.3.1.3"><span class="toc-item-num">4.3.1.3&nbsp;&nbsp;</span>Add these years to letters file from this group</a></span></li></ul></li><li><span><a href="#For-pairs-with-letter-years-in-slice2_uncertain" data-toc-modified-id="For-pairs-with-letter-years-in-slice2_uncertain-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>For pairs with letter years in slice2_uncertain</a></span><ul class="toc-item"><li><span><a href="#Create-subset" data-toc-modified-id="Create-subset-4.3.2.1"><span class="toc-item-num">4.3.2.1&nbsp;&nbsp;</span>Create subset</a></span></li><li><span><a href="#Split-dates-of-birth/death/fl-of-correspondents" data-toc-modified-id="Split-dates-of-birth/death/fl-of-correspondents-4.3.2.2"><span class="toc-item-num">4.3.2.2&nbsp;&nbsp;</span>Split dates of birth/death/fl of correspondents</a></span></li><li><span><a href="#Assign-min-and-max-year-of-correspondence-exchange-using-dates-of-birth/death/fl-of-correspondents" data-toc-modified-id="Assign-min-and-max-year-of-correspondence-exchange-using-dates-of-birth/death/fl-of-correspondents-4.3.2.3"><span class="toc-item-num">4.3.2.3&nbsp;&nbsp;</span>Assign min and max year of correspondence exchange using dates of birth/death/fl of correspondents</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Prepare-final-unique-correspondent-pairs-dataset" data-toc-modified-id="Prepare-final-unique-correspondent-pairs-dataset-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Prepare final unique correspondent pairs dataset</a></span><ul class="toc-item"><li><span><a href="#Combine-slice2_uncertain-with-slice1_certain" data-toc-modified-id="Combine-slice2_uncertain-with-slice1_certain-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Combine slice2_uncertain with slice1_certain</a></span></li><li><span><a href="#Drop-duplicates" data-toc-modified-id="Drop-duplicates-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Drop duplicates</a></span></li><li><span><a href="#Split-dates-of-birth/date/fl-of-correspondents" data-toc-modified-id="Split-dates-of-birth/date/fl-of-correspondents-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Split dates of birth/date/fl of correspondents</a></span></li><li><span><a href="#Find-earliest-date-of-death-of-the-correspondents" data-toc-modified-id="Find-earliest-date-of-death-of-the-correspondents-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Find earliest date of death of the correspondents</a></span></li><li><span><a href="#Change-column-names" data-toc-modified-id="Change-column-names-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Change column names</a></span></li><li><span><a href="#Resulting-dataset:-correspondent-pairs" data-toc-modified-id="Resulting-dataset:-correspondent-pairs-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Resulting dataset: correspondent pairs</a></span></li></ul></li><li><span><a href="#Read-and-integrate-extra-data:-annotated-ties" data-toc-modified-id="Read-and-integrate-extra-data:-annotated-ties-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Read and integrate extra data: annotated ties</a></span><ul class="toc-item"><li><span><a href="#Extra-dataA:-annotated-NEGATIVE-ties-for-previous-groups" data-toc-modified-id="Extra-dataA:-annotated-NEGATIVE-ties-for-previous-groups-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Extra dataA: annotated NEGATIVE ties for previous groups</a></span><ul class="toc-item"><li><span><a href="#Upload-dataset-A" data-toc-modified-id="Upload-dataset-A-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Upload dataset A</a></span></li><li><span><a href="#Integrate-datasetA-data-with-existing-groups" data-toc-modified-id="Integrate-datasetA-data-with-existing-groups-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Integrate datasetA data with existing groups</a></span><ul class="toc-item"><li><span><a href="#Add-end-of-conflict-year-to-annotated-dataset-using-rules" data-toc-modified-id="Add-end-of-conflict-year-to-annotated-dataset-using-rules-6.1.2.1"><span class="toc-item-num">6.1.2.1&nbsp;&nbsp;</span>Add end of conflict year to annotated dataset using rules</a></span></li><li><span><a href="#Generate-relations-dataset-depending-on-the-case" data-toc-modified-id="Generate-relations-dataset-depending-on-the-case-6.1.2.2"><span class="toc-item-num">6.1.2.2&nbsp;&nbsp;</span>Generate relations dataset depending on the case</a></span></li></ul></li></ul></li><li><span><a href="#Extra-dataB:-annotated-ties-for-non-existing-pairs" data-toc-modified-id="Extra-dataB:-annotated-ties-for-non-existing-pairs-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Extra dataB: annotated ties for non-existing pairs</a></span><ul class="toc-item"><li><span><a href="#Upload-dataset-B" data-toc-modified-id="Upload-dataset-B-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Upload dataset B</a></span></li><li><span><a href="#Generate-correspondent-pair-Ids" data-toc-modified-id="Generate-correspondent-pair-Ids-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Generate correspondent pair Ids</a></span><ul class="toc-item"><li><span><a href="#Create-personStrId" data-toc-modified-id="Create-personStrId-6.2.2.1"><span class="toc-item-num">6.2.2.1&nbsp;&nbsp;</span>Create personStrId</a></span></li><li><span><a href="#Create-a-dictionary-of-personId-and-person-name" data-toc-modified-id="Create-a-dictionary-of-personId-and-person-name-6.2.2.2"><span class="toc-item-num">6.2.2.2&nbsp;&nbsp;</span>Create a dictionary of personId and person name</a></span></li><li><span><a href="#Generate-pair-Ids" data-toc-modified-id="Generate-pair-Ids-6.2.2.3"><span class="toc-item-num">6.2.2.3&nbsp;&nbsp;</span>Generate pair Ids</a></span></li></ul></li><li><span><a href="#Add-end-of-conflict-year-to-annotated-dataset-using-rules" data-toc-modified-id="Add-end-of-conflict-year-to-annotated-dataset-using-rules-6.2.3"><span class="toc-item-num">6.2.3&nbsp;&nbsp;</span>Add end of conflict year to annotated dataset using rules</a></span></li></ul></li></ul></li><li><span><a href="#Combine-all-relations-into-one-set" data-toc-modified-id="Combine-all-relations-into-one-set-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Combine all relations into one set</a></span></li><li><span><a href="#Create-slices-per-year" data-toc-modified-id="Create-slices-per-year-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Create slices per year</a></span><ul class="toc-item"><li><span><a href="#Certain-slice-only" data-toc-modified-id="Certain-slice-only-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Certain slice only</a></span></li><li><span><a href="#ALL:-including-uncertain" data-toc-modified-id="ALL:-including-uncertain-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>ALL: including uncertain</a></span></li></ul></li><li><span><a href="#ANALYSIS-(R-script)" data-toc-modified-id="ANALYSIS-(R-script)-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>ANALYSIS (R script)</a></span></li></ul></div>

This notebook describes all the processes used in the article "Unlinked: Conflict Management and Structural Balance in the Early Modern Republic of Letters" by Ingeborg van Vugt and Liliana Melgar (DOI: )

In [1]:
import matplotlib
import pandas as pd
import numpy as np
import re

import csv

from IPython.display import display
from IPython.display import clear_output

from IPython.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

# to add timestamp to file names
import time

# This library is needed to convert enclosed strings in a list to a real list (https://www.youtube.com/watch?v=t8kAiabrM_E)
from ast import literal_eval

# import os.path to add paths to files
import os

# Read the input files

## Set paths to data

In [2]:
# path to repository: add the path to the folder you will use for this project in your local machine.

# path to the main data folder in the repository
data_directory = os.path.abspath(os.path.join('..', 'data'))
# path to the sub-folder in the repository where the raw (unprocessed) data is located
data_raw_directory = os.path.join(data_directory, 'raw')
# path to the sub-folder in the repository where the processed data is located
data_processed_directory = os.path.join(data_directory, 'processed')
# path to the sub-folder in the repository to store temporary data files
data_temp_directory = os.path.join(data_directory, 'temp')

## CEN letters set

We upload the entire CEN dataset which is being curated by SKILLNET for the years 1200-1820. For this article, we use the cleaned version of the CEN (latest version is to find here: https://doi.org/10.34894/G8XQI0). An exact copy of the letters file is stored in the data/raw folder of the article's repository. In this link you can also see an explanation of the meaning of each column and the data cleaning operations applied.

In [3]:
# Read CEN letters file

letters_path = os.path.join(data_raw_directory, 'letters_CEN_1200to1820_cleanedSkillnet.csv')

cen_letters_imp = pd.read_csv(letters_path, sep = ",", index_col=False, engine='python')

# convert datatypes and fill in empty values

# convert and fill in depending on original data type
cen_letters_imp_columns = cen_letters_imp.columns
for column in cen_letters_imp_columns:
    dataType = cen_letters_imp.dtypes[column]
    if dataType == np.float64:
        cen_letters_imp[column] = cen_letters_imp[column].fillna(0.0)
        cen_letters_imp[column] = cen_letters_imp[column].astype(int)
    if dataType == object:
        cen_letters_imp[column] = cen_letters_imp[column].fillna('null')
        cen_letters_imp[column] = cen_letters_imp[column].astype(str)
        
# make a copy
letV01_v00 = cen_letters_imp.copy()

In [4]:
letV01_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65413 entries, 0 to 65412
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SKletterId                65413 non-null  object
 1   CENRecordID               65413 non-null  object
 2   WorldCatRecordId          65413 non-null  object
 3   TITLE_Original            65413 non-null  object
 4   ISBD_OriginalCEN          65413 non-null  object
 5   AFZENDER_OriginalCEN      65413 non-null  object
 6   SKpersonId_sender         65413 non-null  object
 7   personStrId_sender        65413 non-null  object
 8   isUncertainAfzender       65413 non-null  object
 9   ONTVANGER_OriginalCEN     65413 non-null  object
 10  SKpersonId_receiver       65413 non-null  object
 11  personStrId_receiver      65413 non-null  object
 12  isUncertainOntvanger      65413 non-null  object
 13  YEAR_Original             65413 non-null  object
 14  yearItem_start            65413 non-null  int64
 15  yearItem_end              65413 non-null  int64
 16  isYearRange               65413 non-null  object
 17  yearRangeType             65413 non-null  object
 18  isYearRangeInferredSk     65413 non-null  object
 19  isYearItemInferredSk      65413 non-null  object
 20  isYearItemUncertain       65413 non-null  object
 21  isYearItemProblematic     65413 non-null  object
 22  yearItemNotesSk           65413 non-null  object
 23  DATERING_OriginalCEN      65413 non-null  object
 24  dayDatingSk               65413 non-null  int64
 25  monthDatingSk             65413 non-null  int64
 26  isDateringUncertain       65413 non-null  object
 27  AANTAL_OriginalCEN        65413 non-null  object
 28  quantity_CleanedSk        65413 non-null  int64
 29  isQuantityUncertain       65413 non-null  object
 30  quantity_BinaryTypeSk     65413 non-null  object
 31  quantity_DocumentTypeSk   65413 non-null  object
 32  PLAATS_OriginalCEN        65413 non-null  object
 33  TAAL_OriginalCEN          65413 non-null  object
 34  Taal_CleanedSk            65413 non-null  object
 35  SIGNATUUR_OriginalCEN     65413 non-null  object
 36  Signatuur_SplitLibrarySK  65413 non-null  object
 37  ANNOTATIE_OriginalCEN     65413 non-null  object
 38  X1700_OriginalCEN         65413 non-null  object
 39  HERKOMST_OriginalCEN      65413 non-null  object
 40  GeneralNotes_Skillnet     65413 non-null  object
 41  URLOrLocator              65413 non-null  object
dtypes: int64(5), object(37)
memory usage: 21.0+ MB

In [5]:
# select only necessary columns for the article

letV01 = letV01_v00[['SKletterId', 
                     'SKpersonId_sender',
                     'personStrId_sender',
                     'SKpersonId_receiver',
                     'personStrId_receiver',
                     'YEAR_Original',
                     'yearItem_start',
                     'yearItem_end',
                     'isYearRange',
                     'yearRangeType',
                     'isYearItemUncertain',
                     'quantity_CleanedSk',
                     'URLOrLocator',
                     'ISBD_OriginalCEN']].copy()

In [6]:
letV01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65413 entries, 0 to 65412
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKletterId            65413 non-null  object
 1   SKpersonId_sender     65413 non-null  object
 2   personStrId_sender    65413 non-null  object
 3   SKpersonId_receiver   65413 non-null  object
 4   personStrId_receiver  65413 non-null  object
 5   YEAR_Original         65413 non-null  object
 6   yearItem_start        65413 non-null  int64
 7   yearItem_end          65413 non-null  int64
 8   isYearRange           65413 non-null  object
 9   yearRangeType         65413 non-null  object
 10  isYearItemUncertain   65413 non-null  object
 11  quantity_CleanedSk    65413 non-null  int64
 12  URLOrLocator          65413 non-null  object
 13  ISBD_OriginalCEN      65413 non-null  object
dtypes: int64(3), object(11)
memory usage: 7.0+ MB

## Garfagnini's invenctory (cleaned OCR)
We upload the curated dataset of Garfagnini's inventory of Magliabechi's letters and person names. For this article we included the dated letters only from Gargagnini's invenctory (the non-dated letters were left out). For more information see: https://doi.org/10.34894/GTV2RN.

In [7]:
# Read Garfagnini's letters file
letters_path = os.path.join(data_raw_directory, 'letters_garfagniniMagliabechiOCR_cleanedSkillnet.csv')

garfag_letters_imp = pd.read_csv(letters_path, sep = ",", index_col=False, engine='python')

garfag_letters_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20575 entries, 0 to 20574
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             20575 non-null  object
 1   SKpersonId_sender      20575 non-null  object
 2   personStrId_sender     20575 non-null  object
 3   isUncertainAfzender    20575 non-null  object
 4   SKpersonId_receiver    20575 non-null  object
 5   personStrId_receiver   20575 non-null  object
 6   isUncertainOntvanger   20575 non-null  object
 7   YEAR_Original          20575 non-null  object
 8   yearItem_start         20575 non-null  int64
 9   yearItem_end           20575 non-null  int64
 10  isYearRange            20575 non-null  object
 11  yearRangeType          20575 non-null  object
 12  isYearRangeInferredSk  20575 non-null  object
 13  isYearItemInferredSk   20575 non-null  object
 14  isYearItemUncertain    20575 non-null  object
 15  DATERING_Original      20565 non-null  object
 16  monthDatingSk          20493 non-null  float64
 17  dayDatingSk            20493 non-null  float64
 18  yearItemNotesSk        11 non-null     object
 19  TITLE_Original         20567 non-null  object
 20  PLACE_Original         20540 non-null  object
 21  placeSk                20543 non-null  object
 22  URLOrLocator           20567 non-null  object
 23  dateringRoman          365 non-null    object
 24  isDateringUncertain    128 non-null    object
 25  SOURCE                 20574 non-null  object
 26  GeneralNotes_Skillnet  14 non-null     object
dtypes: float64(2), int64(2), object(23)
memory usage: 4.2+ MB

In [8]:
# Read Garfagnini's person file
persons_path = os.path.join(data_raw_directory, 'persons_garfagniniMagliabechiOCR_cleanedSkillnet.csv')

garfag_persons_imp = pd.read_csv(persons_path, sep = ",", index_col=False, engine='python')

garfag_persons_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SKpersonId   2252 non-null   object
 1   personStrId  2252 non-null   object
dtypes: object(2)
memory usage: 35.3+ KB

In [9]:
# select only necessary columns for the article from the letters file

garfV01_v00 = garfag_letters_imp[[
'SKletterId',
'SKpersonId_sender',
'personStrId_sender',
'SKpersonId_receiver',
'personStrId_receiver',
'YEAR_Original',
'yearItem_start',
'yearItem_end',
'isYearRange',
'yearRangeType',
'isYearRangeInferredSk',
'isYearItemInferredSk',
'isYearItemUncertain',
'URLOrLocator',
'TITLE_Original']]

In [10]:
garfV01_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20575 entries, 0 to 20574
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             20575 non-null  object
 1   SKpersonId_sender      20575 non-null  object
 2   personStrId_sender     20575 non-null  object
 3   SKpersonId_receiver    20575 non-null  object
 4   personStrId_receiver   20575 non-null  object
 5   YEAR_Original          20575 non-null  object
 6   yearItem_start         20575 non-null  int64
 7   yearItem_end           20575 non-null  int64
 8   isYearRange            20575 non-null  object
 9   yearRangeType          20575 non-null  object
 10  isYearRangeInferredSk  20575 non-null  object
 11  isYearItemInferredSk   20575 non-null  object
 12  isYearItemUncertain    20575 non-null  object
 13  URLOrLocator           20567 non-null  object
 14  TITLE_Original         20567 non-null  object
dtypes: int64(2), object(13)
memory usage: 2.4+ MB

In [11]:
garfV01 = garfV01_v00.reset_index(drop=True).copy()

In [12]:
# garfV01.info()

In [13]:
garfV01.head(5)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original
0,gaL000000,gap1350,Magliabechi Jacopo^0^0^1667,skp003623,Antonio Marco Magliabechi^1633^1714^0,1650,1650,0,n,n.a.,n.a.,n,n,1650_001,"1. Magliabechi Jacopo, Pisa, 21 novembre [II.V..."
1,gaL000001,skp031942,Lorenzo Panciatichi^1635^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1652,1652,0,n,n.a.,n.a.,n,n,1652_001,"1. Panciatichi Lorenzo, ®di Villa¯, 20 dicembr..."
2,gaL000002,skp016870,Gilles Ménage^1613^1692^0,skp006710,Carlo Roberto Dati^1619^1676^0,1654,1654,0,n,n.a.,n.a.,n,n,1654_001,"1. Menage Gilles, Parigi, 16 giugno [Vili, 362..."
3,gaL020567,skp016870,Gilles Ménage^1613^1692^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,n.a.,1667,0,n,n.a.,n.a.,y,n,NaN,NaN
4,gaL000003,skp016870,Gilles Ménage^1613^1692^0,skp006710,Carlo Roberto Dati^1619^1676^0,1654,1654,0,n,n.a.,n.a.,n,n,1654_002,"2. Menage Gilles, Parigi, 15 marzo [Vili, 362 ..."

In [14]:
# # test, here add Id of a letter I know has multiple senders/receivers
# # test1 = garfV01[garfV01.SKletterId.str.contains('gaL011612')]
# test2 = garfV01[garfV01.SKletterId.str.contains('gaL000019')]

# #skp025230

# test2

In [15]:
# # test
# test100 = garfV01[garfV01.SKpersonId_sender.str.contains('gap0615')]

# test100

# Prepare the input files: explode multiple correspondents to one per row
In this version of the CEN and Garfagnini's set, there were occassionally multiple correspondents per row (i.e., a letter that was sent to or by many persons). For network analysis, we need to have every single person in a separate row. The next steps do this split.

## CEN letters set

Not applicable, the CEN at this stage (March 21, 2022) doesn't have yet multiple correspondents as senders or receivers. They do exist, but at this moment they are still in the original columns (afzender/ontvanger), and the current cleaned columns only contain one of them per row. Because this article doesn't use letters in which there are multiple correspondents in CEN, the data won't be updated and thus the code is not applicable

## Garfagnini's set

This set does have multiple senders in one cell. Thus, it is necessary to separate them in a way that each person is in one row.

In [16]:
# Make first a subset of the letters that have multiple senders (there are no letters with multiple receivers in this set)
garfV01_v02 = garfV01[garfV01.SKpersonId_sender.str.contains(',') == True]
garfV01_v02.head(5)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original
20,gaL000019,"['gap0615','gap2278']","['Combi Sebastiano^0^0^1659','La Nou Giovanni^...",skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6..."
41,gaL000040,"['gap0615','gap2278']","['Combi Sebastiano^0^0^1659','La Nou Giovanni^...",skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640..."
47,gaL000046,"['gap0615','gap2278']","['Combi Sebastiano^0^0^1659','La Nou Giovanni^...",skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_007,"7. Combi - La Nou, Venezia, 16 marzo [Vili, 64..."
51,gaL000050,"['gap0615','gap2278']","['Combi Sebastiano^0^0^1659','La Nou Giovanni^...",skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_011,"11. Combi - La Nou, Venezia, 6 aprile [Vili, 6..."
57,gaL000056,"['gap0615','gap2278']","['Combi Sebastiano^0^0^1659','La Nou Giovanni^...",skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_017,"17. Combi-La Nou, Venezia, 27 aprile [Vili, 64..."

In [17]:
garfV01_v02.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 20 to 20293
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             805 non-null    object
 1   SKpersonId_sender      805 non-null    object
 2   personStrId_sender     805 non-null    object
 3   SKpersonId_receiver    805 non-null    object
 4   personStrId_receiver   805 non-null    object
 5   YEAR_Original          805 non-null    object
 6   yearItem_start         805 non-null    int64
 7   yearItem_end           805 non-null    int64
 8   isYearRange            805 non-null    object
 9   yearRangeType          805 non-null    object
 10  isYearRangeInferredSk  805 non-null    object
 11  isYearItemInferredSk   805 non-null    object
 12  isYearItemUncertain    805 non-null    object
 13  URLOrLocator           805 non-null    object
 14  TITLE_Original         805 non-null    object
dtypes: int64(2), object(13)
memory usage: 100.6+ KB

In [18]:
# garfV01_v02.tail(10)

In [19]:
# now create a dataset of the letters that DO NOT have multiple senders
garfV01_v03 = garfV01[garfV01.SKpersonId_sender.str.contains(',') == False]

In [20]:
garfV01_v03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19770 entries, 0 to 20574
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             19770 non-null  object
 1   SKpersonId_sender      19770 non-null  object
 2   personStrId_sender     19770 non-null  object
 3   SKpersonId_receiver    19770 non-null  object
 4   personStrId_receiver   19770 non-null  object
 5   YEAR_Original          19770 non-null  object
 6   yearItem_start         19770 non-null  int64
 7   yearItem_end           19770 non-null  int64
 8   isYearRange            19770 non-null  object
 9   yearRangeType          19770 non-null  object
 10  isYearRangeInferredSk  19770 non-null  object
 11  isYearItemInferredSk   19770 non-null  object
 12  isYearItemUncertain    19770 non-null  object
 13  URLOrLocator           19762 non-null  object
 14  TITLE_Original         19762 non-null  object
dtypes: int64(2), object(13)
memory usage: 2.4+ MB

In [21]:
# # test, here add Id of a letter I know has multiple senders/receivers and shoulnd't be in this set
# test01 = garfV01_v03[garfV01_v03.SKletterId.str.contains('gaL011612')]
# #skp025230

# test01

In [22]:
# this is the copy that contains multiple senders
garfV01_v04 = garfV01_v02.reset_index(drop=True).copy()

In [23]:
# this is the copy that DOESN'T contain multiple senders
garfV01_v05 = garfV01_v03.reset_index(drop=True).copy()

In [24]:
# garfV01_v04.info()

In [25]:
# garfV01_v05.info()

In [26]:
# Because there are only multiple senders and not multiple receivers, we convert to list only the senders. The purpose of converting it to a list is to facilitate the splitting into multiple rows (one per person)
# literal_eval is a library that is needed to convert enclosed strings in a list to a real list (https://www.youtube.com/watch?v=t8kAiabrM_E)
garfV01_v04['SKpersonId_sender'] = garfV01_v04['SKpersonId_sender'].apply(literal_eval) #convert to list type
garfV01_v04['personStrId_sender'] = garfV01_v04['personStrId_sender'].apply(literal_eval) #convert to list type

In [27]:
# now "explode" the multiple senders into different rows, one row per person (keeping all the remaining metadata as the same)
garfV01_v06 = garfV01_v04.apply(pd.Series.explode)

In [28]:
garfV01_v06.head(5)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original
0,gaL000019,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6..."
0,gaL000019,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6..."
1,gaL000040,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640..."
1,gaL000040,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640..."
2,gaL000046,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_007,"7. Combi - La Nou, Venezia, 16 marzo [Vili, 64..."

In [29]:
garfV01_v07 = garfV01_v06.reset_index(drop=True).copy()

In [30]:
garfV01_v07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707 entries, 0 to 1706
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             1707 non-null   object
 1   SKpersonId_sender      1707 non-null   object
 2   personStrId_sender     1707 non-null   object
 3   SKpersonId_receiver    1707 non-null   object
 4   personStrId_receiver   1707 non-null   object
 5   YEAR_Original          1707 non-null   object
 6   yearItem_start         1707 non-null   int64
 7   yearItem_end           1707 non-null   int64
 8   isYearRange            1707 non-null   object
 9   yearRangeType          1707 non-null   object
 10  isYearRangeInferredSk  1707 non-null   object
 11  isYearItemInferredSk   1707 non-null   object
 12  isYearItemUncertain    1707 non-null   object
 13  URLOrLocator           1707 non-null   object
 14  TITLE_Original         1707 non-null   object
dtypes: int64(2), object(13)
memory usage: 200.2+ KB

In [31]:
# # test, here add Id of a letter I know has multiple senders/receivers
# test02 = garfV01_v07[garfV01_v07.SKletterId.str.contains('gaL020003')]
# #gaL011612

# test02

In [32]:
# Now combine this set with the other letters that didn't have multiple senders
garfV01_v08 = pd.concat([garfV01_v07, garfV01_v05])

In [33]:
garfV01_v08.head(2)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original
0,gaL000019,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6..."
1,gaL000019,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6..."

In [34]:
# number of letters
garfV01_v08.SKletterId.nunique()

20575

In [35]:
# # test, here add Id of a letter I know has multiple senders/receivers
# test6 = garfV01_v08[garfV01_v08.SKletterId.str.contains('gaL011612')]
# #skp025230

# test6

In [36]:
# This is Garfagnini's set prepared (1 row per person when there were multiple correspondents per letter)
garfV02 = garfV01_v08.reset_index(drop=True).copy()

In [37]:
garfV02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             21477 non-null  object
 1   SKpersonId_sender      21477 non-null  object
 2   personStrId_sender     21477 non-null  object
 3   SKpersonId_receiver    21477 non-null  object
 4   personStrId_receiver   21477 non-null  object
 5   YEAR_Original          21477 non-null  object
 6   yearItem_start         21477 non-null  int64
 7   yearItem_end           21477 non-null  int64
 8   isYearRange            21477 non-null  object
 9   yearRangeType          21477 non-null  object
 10  isYearRangeInferredSk  21477 non-null  object
 11  isYearItemInferredSk   21477 non-null  object
 12  isYearItemUncertain    21477 non-null  object
 13  URLOrLocator           21469 non-null  object
 14  TITLE_Original         21469 non-null  object
dtypes: int64(2), object(13)
memory usage: 2.5+ MB

In [38]:
# # test, here add Id of a letter I know has multiple senders/receivers
# test03 = garfV02[garfV02.SKletterId.str.contains('letOcr_020003')]
# # letOcr_011612

# test03

# Combine Garfagnini + CEN sets

In this step, we capture the different sets and combine them into one.
1. First, we get the subsets from the CEN:
- Set1: This is the slice of the CEN dataset which contains the second-degree network of all the mapped names from Garfagnini's set (first-degree)
- Set2: This is the slice of the CEN dataset which contains the second-degree network of Magliabechi (intrinsic to the CEN)
- Resulting CEN subsets: This is the combination of Set1 and Set2 removing duplicates.
2. Then, we combine this resulting CEN subsets with the entire Garfagnini's set uploaded before
- In step 3.4 this resulting set is stored, it can also be downloaded.

## Set1: Get the CEN slice (up to second degree) that contains the mapped names from Garfagnini's set
All person names in Garfagnini's set were mapped to the CEN person names. When there was a correct mapping we added the corresponding SKpersonId (these Ids start with "skp"). When there was no mapping between the persons in the Garfagnini's edition and the CEN, we assigned a person Id to those names which starts with "gap" (which stands for: 'garfagnini person'). Thus, we can use the "skp" part of the Id to create a list of the mapped Ids in the Garfagnini's set, and then search for those person Ids in the CEN dataset.

Here we capture the slice of the letters (rows) that have a matching Id in Garfagnini's set in either sender OR receiver, thus capturing the correspondents up to a second-degree.

In [39]:
# use the Garfagnini person file uploaded before to make a list of the persons with a skp Id
garf_mapped_names = garfag_persons_imp[garfag_persons_imp.SKpersonId.str.contains('skp')]

In [40]:
# convert the SKpersonId to a list
garf_mapped_names_list = garf_mapped_names.SKpersonId.values.tolist()

# garf_mapped_names_list

In [41]:
# select the rows (letters slice) from CEN which contain a mapped person in Garfagnini's set
CENslice2ndGarf_v00 = letV01[letV01['SKpersonId_sender'].isin(garf_mapped_names_list) | letV01['SKpersonId_receiver'].isin(garf_mapped_names_list)]

In [42]:
# CENslice2ndGarf_v00.info()

In [43]:
CENslice2ndGarf = CENslice2ndGarf_v00.reset_index(drop=True).copy()

In [44]:
CENslice2ndGarf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3491 entries, 0 to 3490
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKletterId            3491 non-null   object
 1   SKpersonId_sender     3491 non-null   object
 2   personStrId_sender    3491 non-null   object
 3   SKpersonId_receiver   3491 non-null   object
 4   personStrId_receiver  3491 non-null   object
 5   YEAR_Original         3491 non-null   object
 6   yearItem_start        3491 non-null   int64
 7   yearItem_end          3491 non-null   int64
 8   isYearRange           3491 non-null   object
 9   yearRangeType         3491 non-null   object
 10  isYearItemUncertain   3491 non-null   object
 11  quantity_CleanedSk    3491 non-null   int64
 12  URLOrLocator          3491 non-null   object
 13  ISBD_OriginalCEN      3491 non-null   object
dtypes: int64(3), object(11)
memory usage: 382.0+ KB

## Set2: Get the intrinsic slice of CEN (up to 2nd degree) of Magliabechi
The CEN dataset contains a few first-degree correspondents of Magliabechi. For each first-degree correspondent, we capture here the correspondents (i.e., the second-degree network)

### Generate First-degree correspondents for every person in CEN

In [45]:
## Group ontvangers per afzender

# following instructions from this site, but adding "unique": https://towardsdatascience.com/10-python-pandas-tricks-to-make-data-analysis-more-enjoyable-cb8f55af8c30
letV01_ontPerAfz_v01 = letV01.groupby('SKpersonId_sender')['SKpersonId_receiver'].unique()\
                             .apply(list)\
                             .reset_index()

# Rename columns
letV01_ontPerAfz_v01.rename(columns={"SKpersonId_sender":"SKpersonId"},inplace=True)
letV01_ontPerAfz_v01.rename(columns={"SKpersonId_receiver":"Correspondents"},inplace=True)

# apply function to convert the list to strings separated by '|'
letV01_ontPerAfz_v01['Correspondents'] = letV01_ontPerAfz_v01.apply(lambda x: ('|'.join([str(s) for s in x['Correspondents']])), axis = 1)



## Group afzenders per ontvanger

# following instructions from this site, but adding "unique": https://towardsdatascience.com/10-python-pandas-tricks-to-make-data-analysis-more-enjoyable-cb8f55af8c30
letV01_afzPerOnt_v01 = letV01.groupby('SKpersonId_receiver')['SKpersonId_sender'].unique()\
                             .apply(list)\
                             .reset_index()

# rename columns
letV01_afzPerOnt_v01.rename(columns={"SKpersonId_receiver":"SKpersonId"},inplace=True)
letV01_afzPerOnt_v01.rename(columns={"SKpersonId_sender":"Correspondents"},inplace=True)

# apply function to convert the list to strings separated by '|'
letV01_afzPerOnt_v01['Correspondents'] = letV01_afzPerOnt_v01.apply(lambda x: ('|'.join([str(s) for s in x['Correspondents']])), axis = 1)


## Put the two dataframes together
corrV01_v04 = letV01_ontPerAfz_v01.append(letV01_afzPerOnt_v01)

In [46]:
# Here I have to stack it, because otherwise it won't detect unique values, since now they are joined by |
# We start with creating a new dataframe from the series with personId as the index
corrV01_v05 = pd.DataFrame(corrV01_v04.Correspondents.str.split('|').tolist(), index=corrV01_v04.SKpersonId).stack()

# We now want to get rid of the secondary index
# To do this, we will make EmployeeId as a column (it can't be an index since the values will be duplicate)
corrV01_v05 = corrV01_v05.reset_index([0, 'SKpersonId'])

# Set the column names as we want them
corrV01_v05.columns = ['SKpersonId', 'Correspondents']

# Remove duplicates (leave unique values only)
corrV01_v06 = corrV01_v05[['SKpersonId', 'Correspondents']].drop_duplicates()\
                                                           .groupby('SKpersonId')['Correspondents'].unique()\
                                                           .apply(list)\
                                                           .reset_index()

# apply function to convert the list to strings separated by '|'
corrV01_v06['Correspondents'] = corrV01_v06.apply(lambda x: ('|'.join([str(s) for s in x['Correspondents']])), axis = 1)

In [47]:
# # TEST to see if the Ids of the first-degree correspondents of the person of interest are captured
# test03 = corrV01_v06[corrV01_v06.SKpersonId == 'skp003623'] #Magliabechi

# display(HTML(test03.head().to_html()))

In [48]:
# THESE ARE FIRST DEGREE: a dataframe that contains all persons and their first degree correspondents (with SKpersonID)
corrV01_1stBySKpId = corrV01_v06.set_index('SKpersonId')

### Indicate person of interest

In [49]:
# define variable personOfInterest

personOfInterest = 'skp003623' #magliabechi

### Get First degree correspondents per person of interest
(returns list of SKpIds)

In [50]:
# obtain the cell where the first degree correspondents of a person of interest are included 
# (using the dataframe correspondents1stDegreeB which contains the list with SKpIds)
# this retuns a series object
corrV01_1stBySKpIdPerPers_v01 = corrV01_1stBySKpId.loc[personOfInterest]

# split correspondents
corrV01_1stBySKpIdPerPers_v02 = corrV01_1stBySKpIdPerPers_v01.str.split("|")

# converting series object to list
corrV01_1stBySKpIdPerPers_v03 = corrV01_1stBySKpIdPerPers_v02.to_list()

# get unique values only
corrV01_1stBySKpIdPerPers_v04 = np.unique(corrV01_1stBySKpIdPerPers_v03)

# convert array with first-degree correspondents to a list
corrV01_1stBySKpIdPerPers = corrV01_1stBySKpIdPerPers_v04.tolist()

# Notes to understand why these are different:
# firstDegreeCorrespPerPersonList (corrV01_1stBySKpIdPerPers_v03) --> is an object of type list, but it comes in double square brackets: [['skpTEST', 'skp038427', 'skp003623', 'skp011706', 'skp035864']]
# firstDegreeCorrespPerPersonUniqueList (corrV01_1stBySKpIdPerPers) --> is also an object of type list, but it comes in single square brackets: ['skp003623', 'skp011706', 'skp035864', 'skp038427', 'skpTEST']
# if I understand correctly, the first one (double square brackets) it's still a subset of the dataframe, that's why I can call info using those values, while the second one is a flat list

### Add a mark to Letters file with correspondents of person of interest

In [51]:
letV01_withSliceMark = letV01.copy()

In [52]:
# Senders

# Identify which senders are in the list of 1st degree correspondents of the person of interest and mark them
letV01_withSliceMark['isSliceOfPersOfInt_afz'] = letV01_withSliceMark.SKpersonId_sender[letV01_withSliceMark.SKpersonId_sender.isin(corrV01_1stBySKpIdPerPers)].copy()

letV01_withSliceMark.shape

(65413, 15)

In [53]:
# fill empty values
letV01_withSliceMark['isSliceOfPersOfInt_afz'] = letV01_withSliceMark['isSliceOfPersOfInt_afz'].fillna('null').copy()
letV01_withSliceMark['isSliceOfPersOfInt_afz'] = letV01_withSliceMark['isSliceOfPersOfInt_afz'].astype('string').copy()

In [54]:
# change the value in the column "isSliceOfPersOfInt" from the afzender Id to "y_afz"
letV01_withSliceMark['isSliceOfPersOfInt_afz'] = letV01_withSliceMark['isSliceOfPersOfInt_afz'].replace(to_replace=r'\d.*', value='y_afz', regex=True).copy()

In [55]:
# Receivers

# Identify which senders are in the list of 1st degree correspondents of the person of interest and mark them
letV01_withSliceMark['isSliceOfPersOfInt_ont'] = letV01_withSliceMark.SKpersonId_receiver[letV01_withSliceMark.SKpersonId_receiver.isin(corrV01_1stBySKpIdPerPers)].copy()

letV01_withSliceMark.shape

(65413, 16)

In [56]:
# fill empty values
letV01_withSliceMark['isSliceOfPersOfInt_ont'] = letV01_withSliceMark['isSliceOfPersOfInt_ont'].fillna('null').copy()
letV01_withSliceMark['isSliceOfPersOfInt_ont'] = letV01_withSliceMark['isSliceOfPersOfInt_ont'].astype('string').copy()

In [57]:
# change the value in the column "isSliceOfPersOfInt" from the afzender Id to "y_ont"
letV01_withSliceMark['isSliceOfPersOfInt_ont'] = letV01_withSliceMark['isSliceOfPersOfInt_ont'].replace(to_replace=r'\d.*', value='y_ont', regex=True).copy()

In [58]:
letV01_withSliceMark['isSliceOfPersOfInt_ont'].unique()

<StringArray>
['null', 'skpy_ont']
Length: 2, dtype: string

### Mark the slice

In [59]:
letV01_withSliceMark['isSliceOfPersOfInt'] = letV01_withSliceMark['isSliceOfPersOfInt_afz'] + '-' + letV01_withSliceMark['isSliceOfPersOfInt_ont']

In [60]:
letV01_withSliceMark['isSliceOfPersOfInt'].unique()

<StringArray>
['null-null', 'null-skpy_ont', 'skpy_afz-null', 'skpy_afz-skpy_ont']
Length: 4, dtype: string

In [61]:
# replace values to leave only y if it is part of the slice
letV01_withSliceMark['isSliceOfPersOfInt'] = letV01_withSliceMark['isSliceOfPersOfInt'].replace(to_replace=r'y.*|.*y.*', value='y', regex=True).copy()

# replace null-null for null
letV01_withSliceMark['isSliceOfPersOfInt'] = letV01_withSliceMark['isSliceOfPersOfInt'].replace(to_replace=r'null-null', value='null', regex=True).copy()

In [62]:
# THIS IS THE FINAL VERSION OF LETTERS THAT CONTAINS MARKS OF THE UP TO 2ND DEGREE CORRESP OF A PERSON OF INTEREST
letV01_withSliceMarkFinal = letV01_withSliceMark.reset_index(drop=True).copy()

In [63]:
letV01_withSliceMarkFinal['isSliceOfPersOfInt'].unique()

<StringArray>
['null', 'y']
Length: 2, dtype: string

### Get the slice

In [64]:
sliceCENLettersMaglia2ndD_v01 = letV01_withSliceMarkFinal[letV01_withSliceMarkFinal.isSliceOfPersOfInt.str.contains('y')]

In [65]:
sliceCENLettersMaglia2ndD_v01.shape

(4170, 17)

In [66]:
sliceCENLettersMaglia2ndD_v01.head(5)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearItemUncertain,quantity_CleanedSk,URLOrLocator,ISBD_OriginalCEN,isSliceOfPersOfInt_afz,isSliceOfPersOfInt_ont,isSliceOfPersOfInt
104,skL00000098,skp042578,Thomas Reinesius^1587^1667^0,skp035864,Nicolaas Heinsius^1620^1681^0,1606,1606,0,n,n.a.,y,1,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,Letters from Thomas Reinesius 1587-1667 To Nic...,null,skpy_ont,y
120,skL00000113,skp042320,Theodorus Janssonius van Almeloveen^1657^1712^0,skp043189,Verschuur^0^0^1681,1681,1681,0,n,n.a.,n,3,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,Letters from Theodorus Janssonius van Almelove...,skpy_afz,null,y
196,skL00000184,skp019383,Henricus Copes^1648^1708^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1696,1696,0,n,n.a.,n,2,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,Letters from Hendrik Copes 1708 (gest.) To Ant...,skpy_afz,null,y
203,skL00000190,skp028586,Johannes Georgius Graevius^1632^1703^0,skp020583,Isaac Vossius^1618^1689^0,1685,1685,0,n,n.a.,n,1,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,Letters from Joannes Georgius Graevius 1632-17...,skpy_afz,skpy_ont,y
204,skL00000191,skp001862,Adriaan Beverland^1650^1716^0,skp020583,Isaac Vossius^1618^1689^0,1684-1687,1684,0,n,n.a.,n,1,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,Letters from Adrianus Beverland 1650-1716 To I...,null,skpy_ont,y

In [67]:
sliceCENLettersMaglia2ndD_v01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4170 entries, 104 to 65201
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SKletterId              4170 non-null   object
 1   SKpersonId_sender       4170 non-null   object
 2   personStrId_sender      4170 non-null   object
 3   SKpersonId_receiver     4170 non-null   object
 4   personStrId_receiver    4170 non-null   object
 5   YEAR_Original           4170 non-null   object
 6   yearItem_start          4170 non-null   int64
 7   yearItem_end            4170 non-null   int64
 8   isYearRange             4170 non-null   object
 9   yearRangeType           4170 non-null   object
 10  isYearItemUncertain     4170 non-null   object
 11  quantity_CleanedSk      4170 non-null   int64
 12  URLOrLocator            4170 non-null   object
 13  ISBD_OriginalCEN        4170 non-null   object
 14  isSliceOfPersOfInt_afz  4170 non-null   string
 15  isSliceOfPersOfInt_ont  4170 non-null   string
 16  isSliceOfPersOfInt      4170 non-null   string
dtypes: int64(3), object(11), string(3)
memory usage: 586.4+ KB

In [68]:
# drop unnecessary columns with marks
sliceCENLettersMaglia2ndD = sliceCENLettersMaglia2ndD_v01.drop(['isSliceOfPersOfInt_afz', 
                                                                'isSliceOfPersOfInt_ont', 
                                                                'isSliceOfPersOfInt'], axis=1).reset_index(drop = True).copy()

In [69]:
sliceCENLettersMaglia2ndD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4170 entries, 0 to 4169
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKletterId            4170 non-null   object
 1   SKpersonId_sender     4170 non-null   object
 2   personStrId_sender    4170 non-null   object
 3   SKpersonId_receiver   4170 non-null   object
 4   personStrId_receiver  4170 non-null   object
 5   YEAR_Original         4170 non-null   object
 6   yearItem_start        4170 non-null   int64
 7   yearItem_end          4170 non-null   int64
 8   isYearRange           4170 non-null   object
 9   yearRangeType         4170 non-null   object
 10  isYearItemUncertain   4170 non-null   object
 11  quantity_CleanedSk    4170 non-null   int64
 12  URLOrLocator          4170 non-null   object
 13  ISBD_OriginalCEN      4170 non-null   object
dtypes: int64(3), object(11)
memory usage: 456.2+ KB

## Resulting CEN subsets: Combining Set1 and Set2

In [70]:
# Simply combine Set1 and Set2 (both from CEN)

combinedCENsubsets_v00 = pd.concat((CENslice2ndGarf, sliceCENLettersMaglia2ndD), axis = 0)

### Remove CEN letter duplicates
Between Set1 and Set2 there are duplicated records. Because the CEN dataset doesn't have at this point (March 2022) multiple senders or receivers, duplicates can be detected by just looking at the LetterId. If at some point the cleaning of the CEN integrates multiple senders/receivers, this step has to be removed or adjusted.

In [71]:
# This removes duplicates using the LetterID but we still don't know if there are duplicated letters between Garfagnini's set and the CEN, because this requires letter mapping (to be done later, not so important for the article since
# the calculations are not done using the number of letters, but only the years)

combinedCENsubsets_v00.sort_values('SKletterId', inplace=True)
combinedCENsubsets_v00.drop_duplicates('SKletterId', inplace=True)

In [72]:
combinedCENsubsets = combinedCENsubsets_v00.reset_index(drop=True).copy()

In [73]:
combinedCENsubsets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4852 entries, 0 to 4851
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKletterId            4852 non-null   object
 1   SKpersonId_sender     4852 non-null   object
 2   personStrId_sender    4852 non-null   object
 3   SKpersonId_receiver   4852 non-null   object
 4   personStrId_receiver  4852 non-null   object
 5   YEAR_Original         4852 non-null   object
 6   yearItem_start        4852 non-null   int64
 7   yearItem_end          4852 non-null   int64
 8   isYearRange           4852 non-null   object
 9   yearRangeType         4852 non-null   object
 10  isYearItemUncertain   4852 non-null   object
 11  quantity_CleanedSk    4852 non-null   int64
 12  URLOrLocator          4852 non-null   object
 13  ISBD_OriginalCEN      4852 non-null   object
dtypes: int64(3), object(11)
memory usage: 530.8+ KB

## Resulting dataset: Combined letters Magliabechi's second-degree from Garfagnini and CEN datasets

In [74]:
# combine set3 (CEN sets) and Garfagnini's prepared set
combinedSetGarfCEN_v00 = pd.concat((garfV02, combinedCENsubsets), axis = 0)

In [75]:
combinedSetGarfCEN_v00.head(5)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original,quantity_CleanedSk,ISBD_OriginalCEN
0,gaL000019,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6...",NaN,NaN
1,gaL000019,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6...",NaN,NaN
2,gaL000040,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640...",NaN,NaN
3,gaL000040,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640...",NaN,NaN
4,gaL000046,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_007,"7. Combi - La Nou, Venezia, 16 marzo [Vili, 64...",NaN,NaN

In [76]:
combinedSetGarfCEN_v00.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26329 entries, 0 to 4851
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             26329 non-null  object
 1   SKpersonId_sender      26329 non-null  object
 2   personStrId_sender     26329 non-null  object
 3   SKpersonId_receiver    26329 non-null  object
 4   personStrId_receiver   26329 non-null  object
 5   YEAR_Original          26329 non-null  object
 6   yearItem_start         26329 non-null  int64
 7   yearItem_end           26329 non-null  int64
 8   isYearRange            26329 non-null  object
 9   yearRangeType          26329 non-null  object
 10  isYearRangeInferredSk  21477 non-null  object
 11  isYearItemInferredSk   21477 non-null  object
 12  isYearItemUncertain    26329 non-null  object
 13  URLOrLocator           26321 non-null  object
 14  TITLE_Original         21469 non-null  object
 15  quantity_CleanedSk     4852 non-null   float64
 16  ISBD_OriginalCEN       4852 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 3.6+ MB

In [77]:
# convert datatypes and fill in empty values

combinedSetGarfCEN_v00_columns = combinedSetGarfCEN_v00.columns

for column in combinedSetGarfCEN_v00_columns:
    dataType = combinedSetGarfCEN_v00.dtypes[column]
    if dataType == np.float64:
        combinedSetGarfCEN_v00[column] = combinedSetGarfCEN_v00[column].fillna(0.0)
        combinedSetGarfCEN_v00[column] = combinedSetGarfCEN_v00[column].astype(int)
    if dataType == object:
        combinedSetGarfCEN_v00[column] = combinedSetGarfCEN_v00[column].fillna('null')
        combinedSetGarfCEN_v00[column] = combinedSetGarfCEN_v00[column].astype(str)

In [78]:
combinedSetGarfCEN_v00.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26329 entries, 0 to 4851
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             26329 non-null  object
 1   SKpersonId_sender      26329 non-null  object
 2   personStrId_sender     26329 non-null  object
 3   SKpersonId_receiver    26329 non-null  object
 4   personStrId_receiver   26329 non-null  object
 5   YEAR_Original          26329 non-null  object
 6   yearItem_start         26329 non-null  int64
 7   yearItem_end           26329 non-null  int64
 8   isYearRange            26329 non-null  object
 9   yearRangeType          26329 non-null  object
 10  isYearRangeInferredSk  26329 non-null  object
 11  isYearItemInferredSk   26329 non-null  object
 12  isYearItemUncertain    26329 non-null  object
 13  URLOrLocator           26329 non-null  object
 14  TITLE_Original         26329 non-null  object
 15  quantity_CleanedSk     26329 non-null  int64
 16  ISBD_OriginalCEN       26329 non-null  object
dtypes: int64(3), object(14)
memory usage: 3.6+ MB

In [79]:
# # test, here add Id of a letter I know has multiple senders/receivers
# test05 = combinedSetGarfCEN_v00[combinedSetGarfCEN_v00.SKletterId.str.contains('gaL011612')]
# #skp025230

# test05

In [80]:
combinedSetGarfCEN = combinedSetGarfCEN_v00.reset_index(drop=True).copy()

In [81]:
combinedSetGarfCEN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26329 entries, 0 to 26328
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             26329 non-null  object
 1   SKpersonId_sender      26329 non-null  object
 2   personStrId_sender     26329 non-null  object
 3   SKpersonId_receiver    26329 non-null  object
 4   personStrId_receiver   26329 non-null  object
 5   YEAR_Original          26329 non-null  object
 6   yearItem_start         26329 non-null  int64
 7   yearItem_end           26329 non-null  int64
 8   isYearRange            26329 non-null  object
 9   yearRangeType          26329 non-null  object
 10  isYearRangeInferredSk  26329 non-null  object
 11  isYearItemInferredSk   26329 non-null  object
 12  isYearItemUncertain    26329 non-null  object
 13  URLOrLocator           26329 non-null  object
 14  TITLE_Original         26329 non-null  object
 15  quantity_CleanedSk     26329 non-null  int64
 16  ISBD_OriginalCEN       26329 non-null  object
dtypes: int64(3), object(14)
memory usage: 3.4+ MB

In [82]:
# # test, here add Id of a letter I know has multiple senders/receivers
# test500 = combinedSetGarfCEN[combinedSetGarfCEN.personStrId_sender.str.contains('_Unidentified_017690')]
# #skp025230

# test500

### Summary counts

In [83]:
# Count total number of letters
countTotalLetters = combinedSetGarfCEN.SKletterId.nunique()
countTotalLetters

25427

In [84]:
# count number of letters of Gargagnini's set
countGarfagLetters = combinedSetGarfCEN[combinedSetGarfCEN.SKletterId.str.contains('gaL')]
countGarfagLetters.nunique()

SKletterId               20575
SKpersonId_sender         2251
personStrId_sender        2251
SKpersonId_receiver          2
personStrId_receiver         2
YEAR_Original               64
yearItem_start              63
yearItem_end                 1
isYearRange                  1
yearRangeType                1
isYearRangeInferredSk        1
isYearItemInferredSk         2
isYearItemUncertain          2
URLOrLocator             20553
TITLE_Original           20568
quantity_CleanedSk           1
ISBD_OriginalCEN             1
dtype: int64

In [85]:
# count number of unique persons in Garfagnini's set (remember that only senders are different, receiver is only Magliabechi (except in one single case))
countGarfagPersons = countGarfagLetters.SKpersonId_sender.nunique()
countGarfagPersons

2251

In [86]:
# Total number of unique persons in the combined dataset: See step 4.1 below.

In [87]:
# store this set as a file in /data/temp folder of the repository

# this line will add the time stamp to the file name
timestr = time.strftime("%Y%m%d-%H%M%S")

# (this is the resulting aggregated file of All Magliabechi's letters up to second-degree from the combination of Garfagnini's dataset and the CEN dataset)
setGarfCEN_file = (f"resultingDataset_CombinedGarfagniniAndCEN_Letters_{timestr}.csv")
setGarfCEN_path = os.path.join(data_temp_directory, setGarfCEN_file)
combinedSetGarfCEN.to_csv(setGarfCEN_path, index = False)

# Create correspondent pairs and their correspondence year ranges

This section creates groups of correspondents. For example, Negri Salomon^0^0^1709 (sender) + Policala Georg^0^0^1709 (receiver) and Policala Georg^0^0^1709 (sender) + Negri Salomon^0^0^1709 (receiver) are converted into a single group with no roles (sender or receiver) but only taking them in alphabetical order. Thus: 
group# --> Negri Salomon^0^0^1709 + Policala Georg^0^0^1709

In order to generate the combinations, multiple correspondents per letter were separated into different rows in previous steps.

## Create a dictionary of personId and person name
For the resulting dataset, to be used in the group Ids

In [88]:
# first create dictionary for senders (source: https://cmdlinetips.com/2021/04/convert-two-column-values-from-pandas-dataframe-to-a-dictionary/)
senders = combinedSetGarfCEN.set_index('SKpersonId_sender').to_dict()['personStrId_sender']

In [89]:
# senders

In [90]:
# for item in senders.items():
#     print(item)

In [91]:
len(senders)

3431

In [92]:
# # test: find Id per value using list comprehension
# dict_items = senders.items()
# myValue1 = "_Unidentified_017690^0^0^1687"
# myKey1 = [key for key,value in dict_items if value==myValue1]
# print(myKey1)

In [93]:
# create dictionary for receivers
receivers = combinedSetGarfCEN.set_index('SKpersonId_receiver').to_dict()['personStrId_receiver']

In [94]:
# receivers

In [95]:
# # test: find Id per value using list comprehension
# dict_items = receivers.items()
# myValue2 = "Johannes d' Outrein^1662^1722^0"
# myKey2 = [key for key,value in dict_items if value==myValue2]
# print(myKey2)

In [96]:
len(receivers)

970

In [97]:
# combine both dictionaries (source: https://datagy.io/python-merge-dictionaries/)
personsDict = {**senders, **receivers}

In [98]:
# unique persons in the combined dictionary (-> number of unique persons in the resulting combined dataset)
len(personsDict)

3881

In [99]:
# # Way to check that the dictionary doesn't contain duplicated values (source: https://www.geeksforgeeks.org/python-test-if-dictionary-contains-unique-keys-and-values/)
# # using loops
# # check for unique values
# flag = False
# hash_val = dict()
# for keys in senders:
#     if senders[keys] in hash_val:
#         flag = True
#         break
#     else :
#         hash_val[senders[keys]] = 1
  
# # print result
# print("Does dictionary contain repetition : " + str(flag))

In [100]:
# Get values and keys
key_list = list(personsDict.keys())
value_list = list(personsDict.values())

In [101]:
# Function to return key for any value
def get_key(val):
    for key, value in personsDict.items():
         if val == value:
             return key
    return "key doesn't exist"

In [102]:
# # test: find Id per value using list comprehension
# dict_items = personsDict.items()
# myValue = "Johannes Georgius Graevius^1632^1703^0"
# myKey = [key for key,value in dict_items if value==myValue]
# print(myKey)

# #_Unidentified_017690^0^0^1687
# #Jacobus Gronovius^1645^1716^0

In [103]:
# len(dict_items)

## Create correspondent pairs

In [104]:
# create a copy
combinedSet_v00 = combinedSetGarfCEN.reset_index(drop=True).copy()

In [105]:
combinedSet_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26329 entries, 0 to 26328
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             26329 non-null  object
 1   SKpersonId_sender      26329 non-null  object
 2   personStrId_sender     26329 non-null  object
 3   SKpersonId_receiver    26329 non-null  object
 4   personStrId_receiver   26329 non-null  object
 5   YEAR_Original          26329 non-null  object
 6   yearItem_start         26329 non-null  int64
 7   yearItem_end           26329 non-null  int64
 8   isYearRange            26329 non-null  object
 9   yearRangeType          26329 non-null  object
 10  isYearRangeInferredSk  26329 non-null  object
 11  isYearItemInferredSk   26329 non-null  object
 12  isYearItemUncertain    26329 non-null  object
 13  URLOrLocator           26329 non-null  object
 14  TITLE_Original         26329 non-null  object
 15  quantity_CleanedSk     26329 non-null  int64
 16  ISBD_OriginalCEN       26329 non-null  object
dtypes: int64(3), object(14)
memory usage: 3.4+ MB

In [106]:
for index, row in combinedSet_v00.iterrows():
    #capture personId for sender
    senderId = combinedSet_v00.iloc[index,1]
    #capture personId for receiver
    receiverId = combinedSet_v00.iloc[index,3]
    #capture personStrId for sender
    senderName = combinedSet_v00.iloc[index,2]
    #capture personStrId for receiver
    receiverName = combinedSet_v00.iloc[index,4]
    #find the first one in alphabetical order
    firstPairName = min(senderName,receiverName)
    # Get the key (personId) for this pair name using the dictionary created in the previous step
    IdFirstName = get_key(firstPairName)
    #find the second one in alphabetical order
    secondPairName = max(senderName,receiverName)
    # Get the key (personId) for this pair name using the dictionary created in the previous step
    IdSecondName = get_key(secondPairName)
    #add the names to the dataframe
    combinedSet_v00.loc[index,'correspPairNames'] = firstPairName + "@" + secondPairName
    combinedSet_v00.loc[index,'correspPairIds'] = IdFirstName + "@" + IdSecondName

In [107]:
combinedSet_v00.head(5)

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original,quantity_CleanedSk,ISBD_OriginalCEN,correspPairNames,correspPairIds
0,gaL000019,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6...",0,null,Antonio Marco Magliabechi^1633^1714^0@Combi Se...,skp003623@gap0615
1,gaL000019,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1657,1657,0,n,n.a.,n.a.,n,n,1657_007,"7. Combi-La Nou, Venezia, 16 febbraio [Vili, 6...",0,null,Antonio Marco Magliabechi^1633^1714^0@La Nou G...,skp003623@gap2278
2,gaL000040,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640...",0,null,Antonio Marco Magliabechi^1633^1714^0@Combi Se...,skp003623@gap0615
3,gaL000040,gap2278,La Nou Giovanni^0^0^1658,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_001,"1. Combi-La Nou, Venezia, 4 gennaio [Vili, 640...",0,null,Antonio Marco Magliabechi^1633^1714^0@La Nou G...,skp003623@gap2278
4,gaL000046,gap0615,Combi Sebastiano^0^0^1659,skp003623,Antonio Marco Magliabechi^1633^1714^0,1658,1658,0,n,n.a.,n.a.,n,n,1658_007,"7. Combi - La Nou, Venezia, 16 marzo [Vili, 64...",0,null,Antonio Marco Magliabechi^1633^1714^0@Combi Se...,skp003623@gap0615

In [108]:
combinedSet_v00.correspPairNames.nunique()

4625

In [109]:
combinedSet_v00.correspPairIds.nunique()

4625

In [110]:
combinedSet_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26329 entries, 0 to 26328
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             26329 non-null  object
 1   SKpersonId_sender      26329 non-null  object
 2   personStrId_sender     26329 non-null  object
 3   SKpersonId_receiver    26329 non-null  object
 4   personStrId_receiver   26329 non-null  object
 5   YEAR_Original          26329 non-null  object
 6   yearItem_start         26329 non-null  int64
 7   yearItem_end           26329 non-null  int64
 8   isYearRange            26329 non-null  object
 9   yearRangeType          26329 non-null  object
 10  isYearRangeInferredSk  26329 non-null  object
 11  isYearItemInferredSk   26329 non-null  object
 12  isYearItemUncertain    26329 non-null  object
 13  URLOrLocator           26329 non-null  object
 14  TITLE_Original         26329 non-null  object
 15  quantity_CleanedSk     26329 non-null  int64
 16  ISBD_OriginalCEN       26329 non-null  object
 17  correspPairNames       26329 non-null  object
 18  correspPairIds         26329 non-null  object
dtypes: int64(3), object(16)
memory usage: 3.8+ MB

In [111]:
# make a copy -> resulting set with correspondent pairs (names) in alphabetical order
combinedSet_v01 = combinedSet_v00.reset_index(drop=True).copy()

In [112]:
# # test, here add Id of a letter I know has multiple senders/receivers
# test06 = combinedSet_v01[combinedSet_v01.SKletterId.str.contains('letOcr_011612')]
# #skp025230

# test06

In [113]:
# test06.correspPairNames.value_counts

In [114]:
combinedSet_v01.SKletterId.nunique()

25427

## Create letter year ranges for each pair

Each pair of correspondents may have exchanged letters for a period of years. To create a range of letter exchanges we use the earliest year and the latest year of the letters that a pair exchanged as the range borders. However, there is an issue with "UNCERTAINTY" in the letter dates. With the aim to generate the minimun and maximum years to create the time range in which a pair of correspondents exchanged letters, also keeping into account the degree of uncertainty, we have divided the dataset into two groups:

1. slice1_certain: We group here:
- the letters that have specific years and these years are certain.
- the original letter record (only in the CEN dataset) was used to describe not only one letter but several letters. E.g., one row is to describe 60 letters, which were written between 1688 and 1680. In this case, the range doesn't indicate uncertainty, but an actual period of time in which several letters were exchanged.

2. slice2_uncertain: The other group is made up of letters which letter year falls into any of the "uncertainty" cases below. We make a separate group with these letters because they have the potential of introducing noise in the creation of the ranges in which two persons were actively exchanging letters. For this group we use a standard year range, which is assigned based on the years of birth/death of the correspondents. When these don't exist, we use the years in which Magliabechi was active as correspondent (1650-1714).
- A letter may have a specific year, but this is uncertain (as indicated by a question mark or any other uncertainty mark in the original metadata, e.g., 1520?).
- It can also happen that uncertainty was indicated by adding a range (e.g., a letter was written in some year between 1688 and 1680). 
- Several letters described with a range (as above) may also be uncertain or incorrect. For example, in this CEN record (https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/PPN?PPN=310885922) the range of letter exchange indicated by the cataloguer was 1641-1674 (for 3 letters). However, the dates of birth and death of the correspondents let see that there is a mistake in that range, since one of the correspondents was already dead in the ending year of the range.

### For pairs with letter years in slice1_certain

In [115]:
# Make a copy
combinedSet_v02 = combinedSet_v01.reset_index(drop=True).copy()

#### Create subset

In [116]:
# create mask for letters which fullfil the requirements of Group1 as described above
# first criterium: letter has specific years (no ranges) --> isYearRange == 'n' and the specific year of the letter is not uncertain --> isYearItemUncertain == 'n'
# second criterium: letter has a range --> isYearRange == 'n' and this range is not uncertain --> isYearRangeUncertain == 'n'

combinedSet_v03 = combinedSet_v02[((combinedSet_v02.isYearRange == 'n') & (combinedSet_v02.isYearItemUncertain == 'n')) | ((combinedSet_v02.isYearRange == 'y') & (combinedSet_v02.yearRangeType == 'bunchOfLetters_certainRange'))]

In [117]:
combinedSet_v03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25648 entries, 0 to 26328
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             25648 non-null  object
 1   SKpersonId_sender      25648 non-null  object
 2   personStrId_sender     25648 non-null  object
 3   SKpersonId_receiver    25648 non-null  object
 4   personStrId_receiver   25648 non-null  object
 5   YEAR_Original          25648 non-null  object
 6   yearItem_start         25648 non-null  int64
 7   yearItem_end           25648 non-null  int64
 8   isYearRange            25648 non-null  object
 9   yearRangeType          25648 non-null  object
 10  isYearRangeInferredSk  25648 non-null  object
 11  isYearItemInferredSk   25648 non-null  object
 12  isYearItemUncertain    25648 non-null  object
 13  URLOrLocator           25648 non-null  object
 14  TITLE_Original         25648 non-null  object
 15  quantity_CleanedSk     25648 non-null  int64
 16  ISBD_OriginalCEN       25648 non-null  object
 17  correspPairNames       25648 non-null  object
 18  correspPairIds         25648 non-null  object
dtypes: int64(3), object(16)
memory usage: 3.9+ MB

In [118]:
# make a copy
combinedSet_v04 = combinedSet_v03.reset_index(drop=True).copy()

In [119]:
letterscount_slice1 = combinedSet_v04.SKletterId.nunique()
letterscount_slice1

24746

In [120]:
# combinedSet_v04.yearItem_end.nunique()

In [121]:
# combinedSet_v04.yearItem_end.value_counts()

In [122]:
# test to see if the two types of records are captured: 1 letter with a certain year, and a group of letters with a certain range
combinedSet_v04[combinedSet_v04.correspPairIds.str.contains('skp024024@skp028586')]

,SKletterId,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,YEAR_Original,yearItem_start,yearItem_end,isYearRange,yearRangeType,isYearRangeInferredSk,isYearItemInferredSk,isYearItemUncertain,URLOrLocator,TITLE_Original,quantity_CleanedSk,ISBD_OriginalCEN,correspPairNames,correspPairIds
23036,skL00036895,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,1685,1685,0,n,n.a.,null,null,n,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,null,1,Letters from Johannes Georgius Graevius To J. ...,Jacobus Gronovius^1645^1716^0@Johannes Georgiu...,skp024024@skp028586
24941,skL00056111,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,1682-1692,1682,1692,y,bunchOfLetters_certainRange,null,null,n.a.,https://picarta.oclc.org/psi/DB=3.23/XMLPRS=Y/...,null,4,Letters from Joannes Georgius Graevius 1632-17...,Jacobus Gronovius^1645^1716^0@Johannes Georgiu...,skp024024@skp028586

#### Get the correspondence year ranges

In [123]:
# To get the ranges of years (minimum and maximum years in which a pair exchanged correspondence, we fill in Year_end with Year_start in the case the Year_end was not present.
# This is to get the maximum year of correspondence from the second column.

# first create a temporary copy to work on the "yearItem_end"
combinedSet_v04['yearItem_end_temp'] = combinedSet_v04['yearItem_end']

# now replace the '0' for NaN
combinedSet_v04['yearItem_end_temp'].replace(0, np.nan, inplace =True)

In [124]:
# combinedSet_v04.yearItem_end_temp.value_counts()

In [125]:
# make a copy
combinedSet_v05 = combinedSet_v04.reset_index(drop=True).copy()

In [126]:
combinedSet_v05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25648 entries, 0 to 25647
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             25648 non-null  object
 1   SKpersonId_sender      25648 non-null  object
 2   personStrId_sender     25648 non-null  object
 3   SKpersonId_receiver    25648 non-null  object
 4   personStrId_receiver   25648 non-null  object
 5   YEAR_Original          25648 non-null  object
 6   yearItem_start         25648 non-null  int64
 7   yearItem_end           25648 non-null  int64
 8   isYearRange            25648 non-null  object
 9   yearRangeType          25648 non-null  object
 10  isYearRangeInferredSk  25648 non-null  object
 11  isYearItemInferredSk   25648 non-null  object
 12  isYearItemUncertain    25648 non-null  object
 13  URLOrLocator           25648 non-null  object
 14  TITLE_Original         25648 non-null  object
 15  quantity_CleanedSk     25648 non-null  int64
 16  ISBD_OriginalCEN       25648 non-null  object
 17  correspPairNames       25648 non-null  object
 18  correspPairIds         25648 non-null  object
 19  yearItem_end_temp      935 non-null    float64
dtypes: float64(1), int64(3), object(16)
memory usage: 3.9+ MB

In [127]:
# combinedSet_v05.yearItem_end_temp.unique()

In [128]:
# # fill in blanks in yearEnd with yearStart and change datatype
combinedSet_v05['yearItem_end_temp'] = combinedSet_v05['yearItem_end_temp'].fillna(combinedSet_v05['yearItem_start'])
combinedSet_v05['yearItem_end_temp'] = combinedSet_v05['yearItem_end_temp'].astype(int)

In [129]:
combinedSet_v06 = combinedSet_v05.reset_index(drop=True).copy()

In [130]:
combinedSet_v06.yearItem_end.nunique()

103

In [131]:
combinedSet_v06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25648 entries, 0 to 25647
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             25648 non-null  object
 1   SKpersonId_sender      25648 non-null  object
 2   personStrId_sender     25648 non-null  object
 3   SKpersonId_receiver    25648 non-null  object
 4   personStrId_receiver   25648 non-null  object
 5   YEAR_Original          25648 non-null  object
 6   yearItem_start         25648 non-null  int64
 7   yearItem_end           25648 non-null  int64
 8   isYearRange            25648 non-null  object
 9   yearRangeType          25648 non-null  object
 10  isYearRangeInferredSk  25648 non-null  object
 11  isYearItemInferredSk   25648 non-null  object
 12  isYearItemUncertain    25648 non-null  object
 13  URLOrLocator           25648 non-null  object
 14  TITLE_Original         25648 non-null  object
 15  quantity_CleanedSk     25648 non-null  int64
 16  ISBD_OriginalCEN       25648 non-null  object
 17  correspPairNames       25648 non-null  object
 18  correspPairIds         25648 non-null  object
 19  yearItem_end_temp      25648 non-null  int64
dtypes: int64(4), object(16)
memory usage: 3.9+ MB

In [132]:
# combinedSet_v06.yearItem_end_temp.value_counts()

In [133]:
# combinedSet_v06.yearItem_end_temp.unique()

In [134]:
# Group per correspPairs getting the min year per pair
combinedSet_v07 = combinedSet_v06.groupby('correspPairIds')['yearItem_start'].min().reset_index()

In [135]:
# combinedSet_v07.tail(50)

In [136]:
# # test
# test07 = combinedSet_v07[combinedSet_v07.correspPairIds.str.contains('skp024024@skp028586')]
# # #letOcr_011612
# # #letOcr_006148
# # #'_Unidentified_017690'
# # #skp046382

# test07

In [137]:
# Group per correspPairs getting the max year per pair. Here I use the column I created with the values from Year1
# in Year2, because the higher year is part of a range (be in column Year2) or be part of Year1
combinedSet_v08 = combinedSet_v06.groupby('correspPairIds')['yearItem_end_temp'].max().reset_index()

In [138]:
combinedSet_v08.tail(500)

           correspPairIds  yearItem_end_temp
3852  skp027250@skp037757               1726
3853  skp027262@skp035864               1640
3854  skp027264@skp028586               1695
3855  skp027264@skp035864               1679
3856  skp027264@skp037757               1707
...                   ...                ...
4347  skp053080@skp037852               1706
4348  skp053080@skp046442               1707
4349  skp053488@skp035864               1640
4350  skp053495@skp042320               1712
4351  skp053503@skp042320               1709

[500 rows x 2 columns]

In [139]:
# # test
# test08 = combinedSet_v08[combinedSet_v08.correspPairIds.str.contains('skp024024@skp028586')]
# #gaL011612
# #'_Unidentified_017690'
# #skp046382
# test08

In [140]:
# Merge the two dataframes with min and max values
combinedSet_v09 = combinedSet_v07.merge(combinedSet_v08, how = 'inner', left_on = 'correspPairIds', right_on = 'correspPairIds')

In [141]:
combinedSet_v09.head(5)

      correspPairIds  yearItem_start  yearItem_end_temp
0  gap0000@skp003623            1689               1689
1  gap0001@skp003623            1697               1697
2  gap0002@skp003623            1670               1670
3  gap0003@skp003623            1691               1691
4  gap0004@skp003623            1687               1687

In [142]:
# rename columns
combinedSet_v09.rename(columns={"yearItem_start":"correspYearStart", "yearItem_end_temp":"correspYearEnd"},inplace=True)

In [143]:
# test
test09 = combinedSet_v09[combinedSet_v09.correspPairIds.str.contains('skp024024@skp028586')] #gronovius/graevius
#_Unidentified_017690
#gaL011612
#skp016830 #Cuper?

test09

           correspPairIds  correspYearStart  correspYearEnd
3570  skp024024@skp028586              1682            1692

In [144]:
combinedSet_v09.nunique()

correspPairIds      4352
correspYearStart     122
correspYearEnd       116
dtype: int64

#### Add these years to letters file from this group
Here I use the letters file in this group

In [145]:
# Now add these years to the df with all letters in this set
combinedSet_v10 = combinedSet_v09.merge(combinedSet_v04, how = 'outer', left_on = 'correspPairIds', right_on = 'correspPairIds')

In [146]:
# Add a value in a new column indicating the level of certainty of this range
combinedSet_v10['_tempTypePair'] = 'slice1_certain'

In [147]:
combinedSet_v11 = combinedSet_v10.reset_index(drop=True).copy()

In [148]:
combinedSet_v11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25648 entries, 0 to 25647
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   correspPairIds         25648 non-null  object
 1   correspYearStart       25648 non-null  int64
 2   correspYearEnd         25648 non-null  int64
 3   SKletterId             25648 non-null  object
 4   SKpersonId_sender      25648 non-null  object
 5   personStrId_sender     25648 non-null  object
 6   SKpersonId_receiver    25648 non-null  object
 7   personStrId_receiver   25648 non-null  object
 8   YEAR_Original          25648 non-null  object
 9   yearItem_start         25648 non-null  int64
 10  yearItem_end           25648 non-null  int64
 11  isYearRange            25648 non-null  object
 12  yearRangeType          25648 non-null  object
 13  isYearRangeInferredSk  25648 non-null  object
 14  isYearItemInferredSk   25648 non-null  object
 15  isYearItemUncertain    25648 non-null  object
 16  URLOrLocator           25648 non-null  object
 17  TITLE_Original         25648 non-null  object
 18  quantity_CleanedSk     25648 non-null  int64
 19  ISBD_OriginalCEN       25648 non-null  object
 20  correspPairNames       25648 non-null  object
 21  yearItem_end_temp      935 non-null    float64
 22  _tempTypePair          25648 non-null  object
dtypes: float64(1), int64(5), object(17)
memory usage: 4.5+ MB

In [149]:
# # test
# test10 = combinedSet_v11[combinedSet_v11.SKletterId.str.contains('skL00008845')]
# #skL00008845
# #letOcr_011612
# #letOcr_006148

# test10

In [150]:
# # test
# # test11 = combinedSet_v11[combinedSet_v11.correspPairIds.str.contains('mop0670')]
# test11 = combinedSet_v11[combinedSet_v11.SKletterId.str.contains('skL00056111')]
# #skL00056111
# #letOcr_011612

# test11

In [151]:
# test11.iloc[0,10]

In [152]:
# certainYears = combinedSet_v11[combinedSet_v11.isYearItemUncertain.str.contains('n')]
# certainYears.nunique()

In [153]:
# Keep necessary columns only. Since from here onwards we only work with correspondent pairs and the time ranges of their correspondence (ignoring the individual letters), we drop unnecessary columns
combinedSet_v12 = combinedSet_v11[['correspPairIds', 'correspPairNames', 'SKpersonId_sender', 'personStrId_sender', 'SKpersonId_receiver', 'personStrId_receiver', 'correspYearStart', 'correspYearEnd', '_tempTypePair']]

In [154]:
slice1_certain = combinedSet_v12.reset_index(drop=True).copy()

In [155]:
slice1_certain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25648 entries, 0 to 25647
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        25648 non-null  object
 1   correspPairNames      25648 non-null  object
 2   SKpersonId_sender     25648 non-null  object
 3   personStrId_sender    25648 non-null  object
 4   SKpersonId_receiver   25648 non-null  object
 5   personStrId_receiver  25648 non-null  object
 6   correspYearStart      25648 non-null  int64
 7   correspYearEnd        25648 non-null  int64
 8   _tempTypePair         25648 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.8+ MB

In [156]:
#check
slice1_certain._tempTypePair.value_counts()

slice1_certain    25648
Name: _tempTypePair, dtype: int64

### For pairs with letter years in slice2_uncertain

#### Create subset

In [157]:
# create mask for letters which fullfil the requirements of slice2_uncertain as described above
# first criterium: a letter has a specific year but this is uncertain, isYearItemUncertain == 'y' --> those that have a specific year but this is uncertain)
# second criterium: when the year was added as a range to indicate uncertainty -->  yearRangeType == '1LetterUncertain' (this captures the years which are uncertain and estimated via a range
# third criterium: several letters included in a range have an incorrect or uncertain range --> yearRangeType == 'bunchOfLetters_uncertainRange' --> this means that the range used to capture the years of a bunch of letters is also uncertain

combinedSet_v14 = combinedSet_v02[((combinedSet_v02.isYearRange == 'n') & (combinedSet_v02.isYearItemUncertain == 'y')) | ((combinedSet_v02.yearRangeType == '1LetterUncertain')) | ((combinedSet_v02.yearRangeType == 'bunchOfLetters_uncertainRange'))]

In [158]:
combinedSet_v14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 681 entries, 1781 to 26321
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             681 non-null    object
 1   SKpersonId_sender      681 non-null    object
 2   personStrId_sender     681 non-null    object
 3   SKpersonId_receiver    681 non-null    object
 4   personStrId_receiver   681 non-null    object
 5   YEAR_Original          681 non-null    object
 6   yearItem_start         681 non-null    int64
 7   yearItem_end           681 non-null    int64
 8   isYearRange            681 non-null    object
 9   yearRangeType          681 non-null    object
 10  isYearRangeInferredSk  681 non-null    object
 11  isYearItemInferredSk   681 non-null    object
 12  isYearItemUncertain    681 non-null    object
 13  URLOrLocator           681 non-null    object
 14  TITLE_Original         681 non-null    object
 15  quantity_CleanedSk     681 non-null    int64
 16  ISBD_OriginalCEN       681 non-null    object
 17  correspPairNames       681 non-null    object
 18  correspPairIds         681 non-null    object
dtypes: int64(3), object(16)
memory usage: 106.4+ KB

In [159]:
# make a copy to reset index
combinedSet_v15 = combinedSet_v14.reset_index(drop=True).copy()

In [160]:
letterscount_slice2 = combinedSet_v15.SKletterId.nunique()
letterscount_slice2

681

#### Split dates of birth/death/fl of correspondents

In [161]:
# split dates of birth/death/fl. of correspondents (senders)
combinedSet_v16 = combinedSet_v15['personStrId_sender'].str.split("^", n = 4, expand = True)

In [162]:
combinedSet_v16

                                  0     1     2     3
0               Lorenzo Panciatichi  1635  1676     0
1          Ottavio Piero Falconieri  1636  1675     0
2                Gastines Gilles de     0     0  1673
3                   Bellini Lorenzo  1643  1704     0
4                     Susini Pietro     0     0  1664
..                              ...   ...   ...   ...
676  Ferdinando Cosimo II de Medici  1610  1670     0
677               Nicolaas Heinsius  1620  1681     0
678            Tiberius Hemsterhuis  1685  1766     0
679                 Samuel ten Nuyl  1635  1688     0
680                 Samuel ten Nuyl  1635  1688     0

[681 rows x 4 columns]

In [163]:
# add those fields to the main df (senders)
combinedSet_v15['nameString_sender'] = combinedSet_v16[0].astype(str)
combinedSet_v15['dateBirth_sender'] = combinedSet_v16[1].astype(int)
combinedSet_v15['dateDeath_sender'] = combinedSet_v16[2].astype(int)
combinedSet_v15['dateFl_sender'] = combinedSet_v16[3].astype(int)

In [164]:
#make a copy
combinedSet_v17 = combinedSet_v15.reset_index(drop=True).copy()

In [165]:
combinedSet_v17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             681 non-null    object
 1   SKpersonId_sender      681 non-null    object
 2   personStrId_sender     681 non-null    object
 3   SKpersonId_receiver    681 non-null    object
 4   personStrId_receiver   681 non-null    object
 5   YEAR_Original          681 non-null    object
 6   yearItem_start         681 non-null    int64
 7   yearItem_end           681 non-null    int64
 8   isYearRange            681 non-null    object
 9   yearRangeType          681 non-null    object
 10  isYearRangeInferredSk  681 non-null    object
 11  isYearItemInferredSk   681 non-null    object
 12  isYearItemUncertain    681 non-null    object
 13  URLOrLocator           681 non-null    object
 14  TITLE_Original         681 non-null    object
 15  quantity_CleanedSk     681 non-null    int64
 16  ISBD_OriginalCEN       681 non-null    object
 17  correspPairNames       681 non-null    object
 18  correspPairIds         681 non-null    object
 19  nameString_sender      681 non-null    object
 20  dateBirth_sender       681 non-null    int64
 21  dateDeath_sender       681 non-null    int64
 22  dateFl_sender          681 non-null    int64
dtypes: int64(6), object(17)
memory usage: 122.5+ KB

In [166]:
# split dates of birth/death/fl. of correspondents (receivers)
combinedSet_v18 = combinedSet_v15['personStrId_receiver'].str.split("^", n = 4, expand = True)

In [167]:
combinedSet_v18

                             0     1     2  3
0    Antonio Marco Magliabechi  1633  1714  0
1    Antonio Marco Magliabechi  1633  1714  0
2    Antonio Marco Magliabechi  1633  1714  0
3    Antonio Marco Magliabechi  1633  1714  0
4    Antonio Marco Magliabechi  1633  1714  0
..                         ...   ...   ... ..
676          Nicolaas Heinsius  1620  1681  0
677           Legatus gallicus     0     0  0
678              Henry Dodwell  1641  1711  0
679           Andreas Arnoldus  1646  1694  0
680           Etienne Le Moine  1624  1689  0

[681 rows x 4 columns]

In [168]:
# add those fields to the main df (receivers)
combinedSet_v17['nameString_receiver'] = combinedSet_v18[0].astype(str)
combinedSet_v17['dateBirth_receiver'] = combinedSet_v18[1].astype(int)
combinedSet_v17['dateDeath_receiver'] = combinedSet_v18[2].astype(int)
combinedSet_v17['dateFl_receiver'] = combinedSet_v18[3].astype(int)

In [169]:
combinedSet_v17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             681 non-null    object
 1   SKpersonId_sender      681 non-null    object
 2   personStrId_sender     681 non-null    object
 3   SKpersonId_receiver    681 non-null    object
 4   personStrId_receiver   681 non-null    object
 5   YEAR_Original          681 non-null    object
 6   yearItem_start         681 non-null    int64
 7   yearItem_end           681 non-null    int64
 8   isYearRange            681 non-null    object
 9   yearRangeType          681 non-null    object
 10  isYearRangeInferredSk  681 non-null    object
 11  isYearItemInferredSk   681 non-null    object
 12  isYearItemUncertain    681 non-null    object
 13  URLOrLocator           681 non-null    object
 14  TITLE_Original         681 non-null    object
 15  quantity_CleanedSk     681 non-null    int64
 16  ISBD_OriginalCEN       681 non-null    object
 17  correspPairNames       681 non-null    object
 18  correspPairIds         681 non-null    object
 19  nameString_sender      681 non-null    object
 20  dateBirth_sender       681 non-null    int64
 21  dateDeath_sender       681 non-null    int64
 22  dateFl_sender          681 non-null    int64
 23  nameString_receiver    681 non-null    object
 24  dateBirth_receiver     681 non-null    int64
 25  dateDeath_receiver     681 non-null    int64
 26  dateFl_receiver        681 non-null    int64
dtypes: int64(9), object(18)
memory usage: 143.8+ KB

In [170]:
# make a copy
combinedSet_v19 = combinedSet_v17.reset_index(drop=True).copy()

In [171]:
combinedSet_v19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             681 non-null    object
 1   SKpersonId_sender      681 non-null    object
 2   personStrId_sender     681 non-null    object
 3   SKpersonId_receiver    681 non-null    object
 4   personStrId_receiver   681 non-null    object
 5   YEAR_Original          681 non-null    object
 6   yearItem_start         681 non-null    int64
 7   yearItem_end           681 non-null    int64
 8   isYearRange            681 non-null    object
 9   yearRangeType          681 non-null    object
 10  isYearRangeInferredSk  681 non-null    object
 11  isYearItemInferredSk   681 non-null    object
 12  isYearItemUncertain    681 non-null    object
 13  URLOrLocator           681 non-null    object
 14  TITLE_Original         681 non-null    object
 15  quantity_CleanedSk     681 non-null    int64
 16  ISBD_OriginalCEN       681 non-null    object
 17  correspPairNames       681 non-null    object
 18  correspPairIds         681 non-null    object
 19  nameString_sender      681 non-null    object
 20  dateBirth_sender       681 non-null    int64
 21  dateDeath_sender       681 non-null    int64
 22  dateFl_sender          681 non-null    int64
 23  nameString_receiver    681 non-null    object
 24  dateBirth_receiver     681 non-null    int64
 25  dateDeath_receiver     681 non-null    int64
 26  dateFl_receiver        681 non-null    int64
dtypes: int64(9), object(18)
memory usage: 143.8+ KB

#### Assign min and max year of correspondence exchange using dates of birth/death/fl of correspondents

In [172]:
# if sender and receiver have both db and dd, select: latest date of birth and earliest date of death

for index, row in combinedSet_v19.iterrows():
    #check if both sender and receiver have db and dd
    if (row['dateBirth_sender'] != 0 and row['dateDeath_sender'] != 0) and (row['dateBirth_receiver'] != 0 and row['dateDeath_receiver'] != 0):
        #check which is the latest date of birth and add 15 years
        if row['dateBirth_sender'] <= row['dateBirth_receiver']:
            #capture value
            latestDb = row['dateBirth_receiver'] + 15 #ToDo: find the lowest date of birth in this set and use that as value
            #add latest date of birth + 15 to column
            combinedSet_v19.at[index,'correspYearStart'] = latestDb
        elif row['dateBirth_receiver'] <= row['dateBirth_sender']:
            #capture value
            latestDb = row['dateBirth_sender'] + 15 #ToDo: find the lowest date of birth in this set and use that as value
            #add latest date of birth + 15 to column
            combinedSet_v19.at[index,'correspYearStart'] = latestDb
        #check which is the earliest date of death
        if row['dateDeath_sender'] <= row['dateDeath_receiver']:
            #add earliest date of death to column
            combinedSet_v19.at[index,'correspYearEnd'] = row['dateDeath_sender']
        elif row['dateDeath_receiver'] <= row['dateDeath_sender']:
            #add earliest date of death to column
            combinedSet_v19.at[index,'correspYearEnd'] = row['dateDeath_receiver']
    # if there were no dates, use the default range in which Magliabechi was actively corresponding
    else:
        combinedSet_v19.at[index,'correspYearStart'] = 1650
        combinedSet_v19.at[index,'correspYearEnd'] = 1714

In [173]:
combinedSet_v19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             681 non-null    object
 1   SKpersonId_sender      681 non-null    object
 2   personStrId_sender     681 non-null    object
 3   SKpersonId_receiver    681 non-null    object
 4   personStrId_receiver   681 non-null    object
 5   YEAR_Original          681 non-null    object
 6   yearItem_start         681 non-null    int64
 7   yearItem_end           681 non-null    int64
 8   isYearRange            681 non-null    object
 9   yearRangeType          681 non-null    object
 10  isYearRangeInferredSk  681 non-null    object
 11  isYearItemInferredSk   681 non-null    object
 12  isYearItemUncertain    681 non-null    object
 13  URLOrLocator           681 non-null    object
 14  TITLE_Original         681 non-null    object
 15  quantity_CleanedSk     681 non-null    int64
 16  ISBD_OriginalCEN       681 non-null    object
 17  correspPairNames       681 non-null    object
 18  correspPairIds         681 non-null    object
 19  nameString_sender      681 non-null    object
 20  dateBirth_sender       681 non-null    int64
 21  dateDeath_sender       681 non-null    int64
 22  dateFl_sender          681 non-null    int64
 23  nameString_receiver    681 non-null    object
 24  dateBirth_receiver     681 non-null    int64
 25  dateDeath_receiver     681 non-null    int64
 26  dateFl_receiver        681 non-null    int64
 27  correspYearStart       681 non-null    float64
 28  correspYearEnd         681 non-null    float64
dtypes: float64(2), int64(9), object(18)
memory usage: 154.4+ KB

In [174]:
combinedSet_v19.correspYearEnd.value_counts()

1714.0    250
1689.0     78
1681.0     35
1716.0     29
1667.0     19
         ...
1722.0      1
1647.0      1
1655.0      1
1685.0      1
1702.0      1
Name: correspYearEnd, Length: 76, dtype: int64

In [175]:
# convert datatypes
combinedSet_v19['correspYearStart'] = combinedSet_v19['correspYearStart'].astype(int)
combinedSet_v19['correspYearEnd'] = combinedSet_v19['correspYearEnd'].astype(int)

In [176]:
# Add a value in a new column indicating the level of certainty of this range
combinedSet_v19['_tempTypePair'] = 'slice2_uncertain'

In [177]:
combinedSet_v19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKletterId             681 non-null    object
 1   SKpersonId_sender      681 non-null    object
 2   personStrId_sender     681 non-null    object
 3   SKpersonId_receiver    681 non-null    object
 4   personStrId_receiver   681 non-null    object
 5   YEAR_Original          681 non-null    object
 6   yearItem_start         681 non-null    int64
 7   yearItem_end           681 non-null    int64
 8   isYearRange            681 non-null    object
 9   yearRangeType          681 non-null    object
 10  isYearRangeInferredSk  681 non-null    object
 11  isYearItemInferredSk   681 non-null    object
 12  isYearItemUncertain    681 non-null    object
 13  URLOrLocator           681 non-null    object
 14  TITLE_Original         681 non-null    object
 15  quantity_CleanedSk     681 non-null    int64
 16  ISBD_OriginalCEN       681 non-null    object
 17  correspPairNames       681 non-null    object
 18  correspPairIds         681 non-null    object
 19  nameString_sender      681 non-null    object
 20  dateBirth_sender       681 non-null    int64
 21  dateDeath_sender       681 non-null    int64
 22  dateFl_sender          681 non-null    int64
 23  nameString_receiver    681 non-null    object
 24  dateBirth_receiver     681 non-null    int64
 25  dateDeath_receiver     681 non-null    int64
 26  dateFl_receiver        681 non-null    int64
 27  correspYearStart       681 non-null    int64
 28  correspYearEnd         681 non-null    int64
 29  _tempTypePair          681 non-null    object
dtypes: int64(11), object(19)
memory usage: 159.7+ KB

In [178]:
# ## remember that there are 72 letters from Garfagnini which are uncertain, and 549 from CEN

# cenUncertain = combinedSet_v20[combinedSet_v20.SKletterId.str.contains('skL')]
# cenUncertain.nunique()

In [179]:
# Keep necessary columns only. Since from here onwards we only work with correspondent pairs and the time ranges of their correspondence (ignoring the individual letters), we drop unnecessary columns
combinedSet_v20 = combinedSet_v19[['correspPairIds', 'correspPairNames', 'SKpersonId_sender', 'personStrId_sender', 'SKpersonId_receiver', 'personStrId_receiver', 'correspYearStart', 'correspYearEnd', '_tempTypePair']] ##_tempTypePair: this column indicates level of certainty in the year ranges (two groups)

In [180]:
# # test
# test14 = combinedSet_v20[combinedSet_v20.SKletterId.str.contains('skL00001097')]

# test14

In [181]:
slice2_uncertain = combinedSet_v20.reset_index(drop=True).copy()

In [182]:
slice2_uncertain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        681 non-null    object
 1   correspPairNames      681 non-null    object
 2   SKpersonId_sender     681 non-null    object
 3   personStrId_sender    681 non-null    object
 4   SKpersonId_receiver   681 non-null    object
 5   personStrId_receiver  681 non-null    object
 6   correspYearStart      681 non-null    int64
 7   correspYearEnd        681 non-null    int64
 8   _tempTypePair         681 non-null    object
dtypes: int64(2), object(7)
memory usage: 48.0+ KB

# Prepare final unique correspondent pairs dataset

The previous two datasets are slices of the entire aggregated letter set of CEN and Garfagnini (up to 2nd degree of Magliabechi). One slice is created using only letter year values which were certain. While the other slice was created using the uncertain year values. Even though in our research we want to use the most certain values, we also don't want to loose the data of existing relationships between two persons. For example, we can have a correspondence pair a-b in the "certain" slice, and also a pair a-b in the "uncertain" slice. In that case, we prefere the data (i.e., year ranges) about a-b from the certain slice. But, if there was a relationship d-e in the "uncertain" dataset with no equivalent d-e values in the "certain" dataset, we want to include d-e in our final dataset, even though the ranges of letter exchange are uncertain. We keep of course an uncertainty mark to be able to filter in or out those pairs during our analysis.

## Combine slice2_uncertain with slice1_certain
In this step, we check if the same pair combination in the "uncertain" slice exists or not in the "certain" slice. If it does, we discard it, if it doesn't, we keep it in our resulting dataset.

In [183]:
# Now put together the previous groups using the rules mentioned above
# slice1_certain is the "certain" ranges dataset, slice2_uncertain is the "uncertain" ranges dataset
# First obtain the rows from the uncertain dataset which are NOT in the certain dataset (using the correspPairIds)
df_diff = slice2_uncertain[~slice2_uncertain.correspPairIds.isin(slice1_certain.correspPairIds)]

# Source: https://stackoverflow.com/questions/64582124/appending-only-rows-that-are-not-yet-in-a-pandas-dataframe

In [184]:
df_diff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 4 to 680
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        306 non-null    object
 1   correspPairNames      306 non-null    object
 2   SKpersonId_sender     306 non-null    object
 3   personStrId_sender    306 non-null    object
 4   SKpersonId_receiver   306 non-null    object
 5   personStrId_receiver  306 non-null    object
 6   correspYearStart      306 non-null    int64
 7   correspYearEnd        306 non-null    int64
 8   _tempTypePair         306 non-null    object
dtypes: int64(2), object(7)
memory usage: 23.9+ KB

In [185]:
df_diff.correspPairIds.nunique()

273

In [186]:
# Now combine the pairs with the certain slice with the pairs of the uncertain slice which are not in the certain slice (df_diff)
combinedSet_v30 = pd.concat([slice1_certain, df_diff], ignore_index=True)

In [187]:
combinedSet_v30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25954 entries, 0 to 25953
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        25954 non-null  object
 1   correspPairNames      25954 non-null  object
 2   SKpersonId_sender     25954 non-null  object
 3   personStrId_sender    25954 non-null  object
 4   SKpersonId_receiver   25954 non-null  object
 5   personStrId_receiver  25954 non-null  object
 6   correspYearStart      25954 non-null  int64
 7   correspYearEnd        25954 non-null  int64
 8   _tempTypePair         25954 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.8+ MB

In [188]:
combinedSet_v30.correspPairIds.nunique()

4625

In [189]:
# # test
# test90 = combinedSet_v30[combinedSet_v30.correspPairIds.str.contains('skp024024@skp028586')]
# #_Unidentified_017690
# #letOcr_011612

# test90

In [190]:
# see = test90.iloc[1,10]
# see

In [191]:
combinedSetGarfCENGroups = combinedSet_v30.reset_index(drop=True).copy()

In [192]:
combinedSetGarfCENGroups.correspPairIds.nunique()

4625

In [193]:
combinedSetGarfCENGroups._tempTypePair.value_counts()

slice1_certain      25648
slice2_uncertain      306
Name: _tempTypePair, dtype: int64

In [194]:
combinedSetGarfCENGroups.head(5)

,correspPairIds,correspPairNames,SKpersonId_sender,personStrId_sender,SKpersonId_receiver,personStrId_receiver,correspYearStart,correspYearEnd,_tempTypePair
0,gap0000@skp003623,"""Un accademico di Roma""^0^0^1689@Antonio Marco...",gap0000,"""Un accademico di Roma""^0^0^1689",skp003623,Antonio Marco Magliabechi^1633^1714^0,1689,1689,slice1_certain
1,gap0001@skp003623,(Girolamo di S. Ubaldo^0^0^1697@Antonio Marco ...,gap0001,(Girolamo di S. Ubaldo^0^0^1697,skp003623,Antonio Marco Magliabechi^1633^1714^0,1697,1697,slice1_certain
2,gap0002@skp003623,(Missing in original)^0^0^1670@Antonio Marco M...,gap0002,(Missing in original)^0^0^1670,skp003623,Antonio Marco Magliabechi^1633^1714^0,1670,1670,slice1_certain
3,gap0003@skp003623,A.B.A.S.^0^0^1691@Antonio Marco Magliabechi^16...,gap0003,A.B.A.S.^0^0^1691,skp003623,Antonio Marco Magliabechi^1633^1714^0,1691,1691,slice1_certain
4,gap0004@skp003623,A.P.C.^0^0^1687@Antonio Marco Magliabechi^1633...,gap0004,A.P.C.^0^0^1687,skp003623,Antonio Marco Magliabechi^1633^1714^0,1687,1687,slice1_certain

## Drop duplicates
In this step, duplicated groups are dropped.

In [195]:
# Keep only one row with correspPairIds (drop duplicates using subset parameter, to make sure that if persons 
# are in inverse order they also get dropped (have to drop based on correspGroupId
combinedSetGroups_v01 = combinedSetGarfCENGroups.drop_duplicates(subset=['correspPairIds'])

In [196]:
combinedSetGroups_v01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4625 entries, 0 to 25953
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        4625 non-null   object
 1   correspPairNames      4625 non-null   object
 2   SKpersonId_sender     4625 non-null   object
 3   personStrId_sender    4625 non-null   object
 4   SKpersonId_receiver   4625 non-null   object
 5   personStrId_receiver  4625 non-null   object
 6   correspYearStart      4625 non-null   int64
 7   correspYearEnd        4625 non-null   int64
 8   _tempTypePair         4625 non-null   object
dtypes: int64(2), object(7)
memory usage: 361.3+ KB

In [197]:
combinedSetGroups_v02 = combinedSetGroups_v01.reset_index(drop=True).copy()

In [198]:
combinedSetGroups_v02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        4625 non-null   object
 1   correspPairNames      4625 non-null   object
 2   SKpersonId_sender     4625 non-null   object
 3   personStrId_sender    4625 non-null   object
 4   SKpersonId_receiver   4625 non-null   object
 5   personStrId_receiver  4625 non-null   object
 6   correspYearStart      4625 non-null   int64
 7   correspYearEnd        4625 non-null   int64
 8   _tempTypePair         4625 non-null   object
dtypes: int64(2), object(7)
memory usage: 325.3+ KB

In [199]:
# # test
# test15 = combinedSetGroups_v02[combinedSetGroups_v02.correspPairNames.str.contains('Rijckius')]
# # skp003623 'Magliabechi
# #_Unidentified_017690
# #letOcr_011612

# test15

In [200]:
# test15._tempTypePair.value_counts()

In [201]:
# # test
# test16 = combinedSetGroups_v02[combinedSetGroups_v02.correspPairNames.str.contains('Bellini Lorenzo')] 
# #_Unidentified_017690
# #letOcr_011612

# test16

In [202]:
# This is the resulting set that contains only the group names + Ids plus the ranges
combinedSetGroups = combinedSetGroups_v02.reset_index(drop=True).copy()

In [203]:
# # check groups
# test17 = combinedSetGroups[combinedSetGroups.correspPairIds.str.contains('skp024024@skp042335')] 
# test17

In [204]:
combinedSetGroups._tempTypePair.value_counts()

slice1_certain      4352
slice2_uncertain     273
Name: _tempTypePair, dtype: int64

## Split dates of birth/date/fl of correspondents 
to be used in the forthcoming cases = ranges of positive/negative ties

In [205]:
# make a copy
combinedSetGroupsPersonDates_v00 = combinedSetGroups.reset_index(drop=True).copy()

In [206]:
# split dates of birth/death/fl. of correspondents (senders)
combinedSetGroupsPersonDates_v01 = combinedSetGroupsPersonDates_v00['personStrId_sender'].str.split("^", n = 4, expand = True)

In [207]:
combinedSetGroupsPersonDates_v01

                                   0     1     2     3
0            "Un accademico di Roma"     0     0  1689
1             (Girolamo di S. Ubaldo     0     0  1697
2              (Missing in original)     0     0  1670
3                           A.B.A.S.     0     0  1691
4                             A.P.C.     0     0  1687
...                              ...   ...   ...   ...
4620      Nicholaus Antonius Bynaeus     0  1716     0
4621  Ferdinando Cosimo II de Medici  1610  1670     0
4622            Tiberius Hemsterhuis  1685  1766     0
4623                 Samuel ten Nuyl  1635  1688     0
4624                 Samuel ten Nuyl  1635  1688     0

[4625 rows x 4 columns]

In [208]:
# add those fields to the main df (senders)
combinedSetGroupsPersonDates_v00['nameString_sender'] = combinedSetGroupsPersonDates_v01[0].astype(str)
combinedSetGroupsPersonDates_v00['dateBirth_sender'] = combinedSetGroupsPersonDates_v01[1].astype(int)
combinedSetGroupsPersonDates_v00['dateDeath_sender'] = combinedSetGroupsPersonDates_v01[2].astype(int)
combinedSetGroupsPersonDates_v00['dateFl_sender'] = combinedSetGroupsPersonDates_v01[3].astype(int)

In [209]:
#make a copy
combinedSetGroupsPersonDates_v02 = combinedSetGroupsPersonDates_v01.reset_index(drop=True).copy()

In [210]:
combinedSetGroupsPersonDates_v02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4625 non-null   object
 1   1       4625 non-null   object
 2   2       4625 non-null   object
 3   3       4625 non-null   object
dtypes: object(4)
memory usage: 144.7+ KB

In [211]:
# split dates of birth/death/fl. of correspondents (receivers)
combinedSetGroupsPersonDates_v03 = combinedSetGroupsPersonDates_v00['personStrId_receiver'].str.split("^", n = 4, expand = True)

In [212]:
combinedSetGroupsPersonDates_v03

                              0     1     2  3
0     Antonio Marco Magliabechi  1633  1714  0
1     Antonio Marco Magliabechi  1633  1714  0
2     Antonio Marco Magliabechi  1633  1714  0
3     Antonio Marco Magliabechi  1633  1714  0
4     Antonio Marco Magliabechi  1633  1714  0
...                         ...   ...   ... ..
4620              Petrus Burman  1668  1741  0
4621          Nicolaas Heinsius  1620  1681  0
4622              Henry Dodwell  1641  1711  0
4623           Andreas Arnoldus  1646  1694  0
4624           Etienne Le Moine  1624  1689  0

[4625 rows x 4 columns]

In [213]:
# add those fields to the main df (receivers)
combinedSetGroupsPersonDates_v00['nameString_receiver'] = combinedSetGroupsPersonDates_v03[0].astype(str)
combinedSetGroupsPersonDates_v00['dateBirth_receiver'] = combinedSetGroupsPersonDates_v03[1].astype(int)
combinedSetGroupsPersonDates_v00['dateDeath_receiver'] = combinedSetGroupsPersonDates_v03[2].astype(int)
combinedSetGroupsPersonDates_v00['dateFl_receiver'] = combinedSetGroupsPersonDates_v03[3].astype(int)

In [214]:
combinedSetGroupsPersonDates_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        4625 non-null   object
 1   correspPairNames      4625 non-null   object
 2   SKpersonId_sender     4625 non-null   object
 3   personStrId_sender    4625 non-null   object
 4   SKpersonId_receiver   4625 non-null   object
 5   personStrId_receiver  4625 non-null   object
 6   correspYearStart      4625 non-null   int64
 7   correspYearEnd        4625 non-null   int64
 8   _tempTypePair         4625 non-null   object
 9   nameString_sender     4625 non-null   object
 10  dateBirth_sender      4625 non-null   int64
 11  dateDeath_sender      4625 non-null   int64
 12  dateFl_sender         4625 non-null   int64
 13  nameString_receiver   4625 non-null   object
 14  dateBirth_receiver    4625 non-null   int64
 15  dateDeath_receiver    4625 non-null   int64
 16  dateFl_receiver       4625 non-null   int64
dtypes: int64(8), object(9)
memory usage: 614.4+ KB

In [215]:
# make a copy
combinedSetGroupsPersonDates_v04 = combinedSetGroupsPersonDates_v00.reset_index(drop=True).copy()

In [216]:
combinedSetGroupsPersonDates_v04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        4625 non-null   object
 1   correspPairNames      4625 non-null   object
 2   SKpersonId_sender     4625 non-null   object
 3   personStrId_sender    4625 non-null   object
 4   SKpersonId_receiver   4625 non-null   object
 5   personStrId_receiver  4625 non-null   object
 6   correspYearStart      4625 non-null   int64
 7   correspYearEnd        4625 non-null   int64
 8   _tempTypePair         4625 non-null   object
 9   nameString_sender     4625 non-null   object
 10  dateBirth_sender      4625 non-null   int64
 11  dateDeath_sender      4625 non-null   int64
 12  dateFl_sender         4625 non-null   int64
 13  nameString_receiver   4625 non-null   object
 14  dateBirth_receiver    4625 non-null   int64
 15  dateDeath_receiver    4625 non-null   int64
 16  dateFl_receiver       4625 non-null   int64
dtypes: int64(8), object(9)
memory usage: 614.4+ KB

In [217]:
combinedSetGroupsPersonDates_v04.dateDeath_sender.value_counts()

0       2730
1716     219
1712     209
1681     132
1703     114
        ...
1658       1
1782       1
1665       1
1740       1
1621       1
Name: dateDeath_sender, Length: 133, dtype: int64

## Find earliest date of death of the correspondents
This is necessary for the next step, to determine the boundaries of the positive or negative relationships

In [218]:
for index, row in combinedSetGroupsPersonDates_v04.iterrows():
    # determine which is the earliest date of death when both sender and receiver have dateBirth and dateDeath
    # check if both sender and receiver have dateDeath
    if (row['dateDeath_sender'] != 0) & (row['dateDeath_receiver'] != 0):
        # check which is the earliest date of death
        if row['dateDeath_sender'] <= row['dateDeath_receiver']:
            #add earliest date of death to a column
            combinedSetGroupsPersonDates_v04.at[index,'dateDeath_earliest'] = row['dateDeath_sender']
        # check which is the earliest date of death
        elif row['dateDeath_receiver'] <= row['dateDeath_sender']:
            #add earliest date of death to a column
            combinedSetGroupsPersonDates_v04.at[index,'dateDeath_earliest'] = row['dateDeath_receiver']
    # determine which is the earliest date of death when only sender has dateDeath
    # check if sender has dateDeath and receiver has not
    if (row['dateDeath_sender'] != 0) & (row['dateDeath_receiver'] == 0):
        # sender's dateDeath is the earliest date of death
        #add earliest date of death to a column
        combinedSetGroupsPersonDates_v04.at[index,'dateDeath_earliest'] = row['dateDeath_sender']
    # determine which is the earliest date of death when only receiver has dateDeath
    # check if receiver has dateDeath and sender has not
    if (row['dateDeath_sender'] == 0) & (row['dateDeath_receiver'] != 0):
        # receiver's dateDeath is the earliest date of death
        #add earliest date of death to a column
        combinedSetGroupsPersonDates_v04.at[index,'dateDeath_earliest'] = row['dateDeath_receiver']
    # if nor sender/receiver have dateDeath add Magliabechi's dateDeath as earliest date of death
    elif (row['dateDeath_sender'] == 0) & (row['dateDeath_receiver'] == 0):
        combinedSetGroupsPersonDates_v04.at[index,'dateDeath_earliest'] = 1714

        
## Pending ToDo: to test and/or document further. Comments from Ingeborg April 20, 2022:
# we will use dates of Magliabechi, because even if they are second degree and have no dates of birth and death, it means they
# are not so important (because floriat dates were added based on correspondence). TEST this

In [219]:
combinedSetGroupsPersonDates = combinedSetGroupsPersonDates_v04.reset_index(drop=True).copy()

In [220]:
# convert datatypes and fill in empty values

combinedSetGroupsPersonDates_columns = combinedSetGroupsPersonDates.columns

for column in combinedSetGroupsPersonDates_columns:
    dataType = combinedSetGroupsPersonDates.dtypes[column]
    if dataType == np.float64:
        combinedSetGroupsPersonDates[column] = combinedSetGroupsPersonDates[column].fillna(0.0)
        combinedSetGroupsPersonDates[column] = combinedSetGroupsPersonDates[column].astype(int)
    if dataType == object:
        combinedSetGroupsPersonDates[column] = combinedSetGroupsPersonDates[column].fillna('null')
        combinedSetGroupsPersonDates[column] = combinedSetGroupsPersonDates[column].astype(str)

In [221]:
combinedSetGroupsPersonDates.dateDeath_earliest.value_counts()

1714    2177
1681     369
1716     222
1712     207
1741     195
        ...
1662       1
1644       1
1735       1
1762       1
1621       1
Name: dateDeath_earliest, Length: 108, dtype: int64

## Change column names
Each pair of correspondents has now a range of years in which they exchanged correspondence. Here we change the column names and create the final copy of the dataset which contains the unique groups (i.e., pairs of correspondents) with the ranges in which they exchanged letters, using the year letters from the combined datasets that were merged above.

In [222]:
combinedSetGroupsTies_v00 = combinedSetGroupsPersonDates.reset_index(drop=True).copy()

In [223]:
combinedSetGroupsTies_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   correspPairIds        4625 non-null   object
 1   correspPairNames      4625 non-null   object
 2   SKpersonId_sender     4625 non-null   object
 3   personStrId_sender    4625 non-null   object
 4   SKpersonId_receiver   4625 non-null   object
 5   personStrId_receiver  4625 non-null   object
 6   correspYearStart      4625 non-null   int64
 7   correspYearEnd        4625 non-null   int64
 8   _tempTypePair         4625 non-null   object
 9   nameString_sender     4625 non-null   object
 10  dateBirth_sender      4625 non-null   int64
 11  dateDeath_sender      4625 non-null   int64
 12  dateFl_sender         4625 non-null   int64
 13  nameString_receiver   4625 non-null   object
 14  dateBirth_receiver    4625 non-null   int64
 15  dateDeath_receiver    4625 non-null   int64
 16  dateFl_receiver       4625 non-null   int64
 17  dateDeath_earliest    4625 non-null   int64
dtypes: int64(9), object(9)
memory usage: 650.5+ KB

In [224]:
# Change column names: since the direction of the relationship is not anymore based on "sender"/"receiver"
combinedSetGroupsTies_v01 = combinedSetGroupsTies_v00.rename(columns={'SKpersonId_sender':'SKpersonId_person1',
                                                                      'SKpersonId_receiver':'SKpersonId_person2',
                                                                      'personStrId_sender':'personStrId_person1',
                                                                      'personStrId_receiver':'personStrId_person2',
                                                                      'dateBirth_sender':'dateBirth_person1',
                                                                      'dateDeath_sender':'dateDeath_person1', 
                                                                      'dateFl_sender':'dateFl_person1',
                                                                      'dateBirth_receiver':'dateBirth_person2', 
                                                                      'dateDeath_receiver':'dateDeath_person2', 
                                                                      'dateFl_receiver':'dateFl_person2'
                                                                     })

In [225]:
# convert min and max year back to integers
combinedSetGroupsTies_v01['correspYearStart'] = combinedSetGroupsTies_v01['correspYearStart'].astype(int)
combinedSetGroupsTies_v01['correspYearEnd'] = combinedSetGroupsTies_v01['correspYearEnd'].astype(int)

In [226]:
combinedSetGroupsTies = combinedSetGroupsTies_v01.reset_index(drop=True).copy()

In [227]:
combinedSetGroupsTies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4625 non-null   object
 1   correspPairNames     4625 non-null   object
 2   SKpersonId_person1   4625 non-null   object
 3   personStrId_person1  4625 non-null   object
 4   SKpersonId_person2   4625 non-null   object
 5   personStrId_person2  4625 non-null   object
 6   correspYearStart     4625 non-null   int64
 7   correspYearEnd       4625 non-null   int64
 8   _tempTypePair        4625 non-null   object
 9   nameString_sender    4625 non-null   object
 10  dateBirth_person1    4625 non-null   int64
 11  dateDeath_person1    4625 non-null   int64
 12  dateFl_person1       4625 non-null   int64
 13  nameString_receiver  4625 non-null   object
 14  dateBirth_person2    4625 non-null   int64
 15  dateDeath_person2    4625 non-null   int64
 16  dateFl_person2       4625 non-null   int64
 17  dateDeath_earliest   4625 non-null   int64
dtypes: int64(9), object(9)
memory usage: 650.5+ KB

In [228]:
# test 18
# check groups
test18 = combinedSetGroupsTies[combinedSetGroupsTies.correspPairIds.str.contains('skp013301')] 
test18

# skp024024@skp028586 (Gronovius/Graevius)

,correspPairIds,correspPairNames,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspYearStart,correspYearEnd,_tempTypePair,nameString_sender,dateBirth_person1,dateDeath_person1,dateFl_person1,nameString_receiver,dateBirth_person2,dateDeath_person2,dateFl_person2,dateDeath_earliest
2909,skp013301@skp035864,Francesco Baldo di Paolo Feroni^1614^1696^0@Ni...,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp035864,Nicolaas Heinsius^1620^1681^0,1652,1652,slice1_certain,Francesco Baldo di Paolo Feroni,1614,1696,0,Nicolaas Heinsius,1620,1681,0,1681

In [229]:
# countsCertainty = combinedSetGroupsTies._tempTypePair.value_counts()
# countsCertainty

In [230]:
# # ToDo: CHECK WITH INGEBORG: influence of uncertain set
# # after preliminary tests, she concluded this set has no significant influence

# checkUncertain = combinedSetGroupsTies[combinedSetGroupsTies._tempTypePair.str.contains('slice2_uncertain')] 
# checkUncertain

In [231]:
# # Store this file externally to explore
# timestr = time.strftime("%Y%m%d-%H%M%S")
# fileName15 = (f"{pathRepository}pairsWithUncertainLetters_{timestr}.csv")
# checkUncertain.to_csv(fileName15)

In [232]:
# # CHECK WITH INGEBORG: influence of earliest date of death 1714, these are those

# checkEarliestDdeath = combinedSetGroupsTies[combinedSetGroupsTies.dateDeath_earliest == 1714] 
# checkEarliestDdeath

In [233]:
combinedSetGroupsTies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4625 non-null   object
 1   correspPairNames     4625 non-null   object
 2   SKpersonId_person1   4625 non-null   object
 3   personStrId_person1  4625 non-null   object
 4   SKpersonId_person2   4625 non-null   object
 5   personStrId_person2  4625 non-null   object
 6   correspYearStart     4625 non-null   int64
 7   correspYearEnd       4625 non-null   int64
 8   _tempTypePair        4625 non-null   object
 9   nameString_sender    4625 non-null   object
 10  dateBirth_person1    4625 non-null   int64
 11  dateDeath_person1    4625 non-null   int64
 12  dateFl_person1       4625 non-null   int64
 13  nameString_receiver  4625 non-null   object
 14  dateBirth_person2    4625 non-null   int64
 15  dateDeath_person2    4625 non-null   int64
 16  dateFl_person2       4625 non-null   int64
 17  dateDeath_earliest   4625 non-null   int64
dtypes: int64(9), object(9)
memory usage: 650.5+ KB

In [234]:
combinedSetGroupsTies.correspPairIds.nunique()

4625

In [235]:
combinedSetGroupsTies.correspPairNames.nunique()

4625

In [236]:
combinedSetGroupsTies.dateDeath_earliest.value_counts()

1714    2177
1681     369
1716     222
1712     207
1741     195
        ...
1662       1
1644       1
1735       1
1762       1
1621       1
Name: dateDeath_earliest, Length: 108, dtype: int64

## Resulting dataset: correspondent pairs

In [237]:
# # Store this file externally. ToDo: fix path

# timestr = time.strftime("%Y%m%d-%H%M%S")
# fileName3 = (f"{pathFolder}set2_CEN2ndDGarfagnini_groupsAndRanges_{timestr}.csv")
# combinedSetGarfCENGroups.to_csv(fileName3)

# Read and integrate extra data: annotated ties
Based on a close reading of a significant sample of Magliabechi's letters, it was discovered that some of them pointed to conflicts between Magliabechi and other scholars. A more detailed description of the collection of negative mentions can be found in Chapter 1 of the R_script_Unlinked_09052022 notebook in this repository. The dating of the negative ties is based on the first negative mention made by Magliabechi in his letters and continues until the death of one of the correspondents unless Magliabechi explicitly mentions a reconciliation. Via manual annotation, a file was created in which each correspondent pair who had a conflict (i.e., negative relationship) was recorded with a negative sign (-1). In addition, pairs that were collaborating together against a common enemy are recorded with a positive sign (1). These was done in two datasets:

- One for which we know that the correspondent pairs coincide with pairs in the existing letter dataset (this is datasetA)
- One for which we know that there was no correspondent pair coinciding with a pair in the existing letter dataset, these pairs are new (this is datasetB)

We have created rules and cases for integrating these datasets. The resulting set is a "relationship" dataset with correspondent pairs, year ranges of their relation, and a sign on whether this was positive or negative.

## Extra dataA: annotated NEGATIVE ties for previous groups
This file contains manually annotated NEGATIVE ties for the groups above, i.e., it is a file that adds negative relations to the existing dataset. For adding extra groups, i.e., correspondent pairs, which are non-existing in the previous dataset, use the other file import: "Extra dataB" below.

### Upload dataset A
This file contains manually added negative ties to some of the previous groups. A negative tie is indicated wiht -1. This happens when there is evidence of a conflict or negative relation on a specific year.
1. We import dataset A in the required format:
- correspPairIds --same as in the latest combined dataset "combinedSetGroupsTies" if it exists
- Optional columns: SKpersonId_person1; personStrId_person1; SKpersonId_person2; personStrId_person2. These columns are to register the person Ids and their name strings during the creation of the annotated ties, but they are not mandatory for the import. If imported, they will be dropped later.
- startYear_Conflict: this is a year in which a conflict started. Register in the format \d\d\d\d. It is mandatory!
- endYear_Conflict: this year is only registered if there is evidence that a conflict ended. If not, leave empty or register a zero, the end value will be filled in automatically (the rules are described later). This column is mandatory!
- signRelation: because this file is to register negative ties from the existing dataset, the default annotation is "-1" (the sign for a negative relation). This column is mandatory.
- notesConflict: add any notes in free text about the negative relation. This column is not mandatory.

In [238]:
# Read annotated negative tiesA file
negative_tiesA_path = os.path.join(data_raw_directory, 'extraPairsWithTiesA_20220414_181600.csv')

annotatedTiesA_v00 = pd.read_csv(negative_tiesA_path, sep = ",", index_col=False, engine='python')

In [239]:
annotatedTiesA_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       26 non-null     object
 1   SKpersonId_person1   26 non-null     object
 2   personStrId_person1  26 non-null     object
 3   SKpersonId_person2   26 non-null     object
 4   personStrId_person2  26 non-null     object
 5   conflictYearStart    26 non-null     int64
 6   conflictYearEnd      26 non-null     int64
 7   signRelation         26 non-null     int64
 8   notesConflict        1 non-null      object
dtypes: int64(3), object(6)
memory usage: 2.0+ KB

In [240]:
annotatedTiesA_v00.head(5)

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,conflictYearStart,conflictYearEnd,signRelation,notesConflict
0,skp003623@skp003755,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,NaN
1,skp003623@mop0217,mop0217,Bartolommei Mattia Maria^0^0^1676,skp003623,Antonio Marco Magliabechi^1633^1714^0,1685,0,-1,NaN
2,skp003623@mop0239,mop0239,Bellini Francesco Maria^0^0^1684,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,NaN
3,skp003623@mop0241,mop0241,Bellini Lorenzo^1643^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1695,0,-1,NaN
4,skp003623@mop0255,mop0255,Benfatti Francesco^0^0^1683,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,NaN

In [241]:
# convert datatypes and fill in empty values

annotatedTiesA_columns = annotatedTiesA_v00.columns

for column in annotatedTiesA_columns:
    dataType = annotatedTiesA_v00.dtypes[column]
    if dataType == np.float64:
        annotatedTiesA_v00[column] = annotatedTiesA_v00[column].fillna(0.0)
        annotatedTiesA_v00[column] = annotatedTiesA_v00[column].astype(int)
    if dataType == object:
        annotatedTiesA_v00[column] = annotatedTiesA_v00[column].fillna('null')
        annotatedTiesA_v00[column] = annotatedTiesA_v00[column].astype(str)

In [242]:
annotatedTiesA_v1 = annotatedTiesA_v00.reset_index(drop=True).copy()

In [243]:
annotatedTiesA_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       26 non-null     object
 1   SKpersonId_person1   26 non-null     object
 2   personStrId_person1  26 non-null     object
 3   SKpersonId_person2   26 non-null     object
 4   personStrId_person2  26 non-null     object
 5   conflictYearStart    26 non-null     int64
 6   conflictYearEnd      26 non-null     int64
 7   signRelation         26 non-null     int64
 8   notesConflict        26 non-null     object
dtypes: int64(3), object(6)
memory usage: 2.0+ KB

In [244]:
# test 19
# check groups
test19 = annotatedTiesA_v1[annotatedTiesA_v1.correspPairIds.str.contains('skp024024@skp028586')] 
test19

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,conflictYearStart,conflictYearEnd,signRelation,notesConflict
23,skp024024@skp028586,skp024024,Jacobus Gronovius^1645^1716^0,skp028586,Johannes Georgius Graevius^1632^1703^0,1681,1682,-1,Reconciliation

### Integrate datasetA data with existing groups

The correspGroupId is used to combine the previous dataset (combinedSetGroupsTies) with the imported annotated negative ties set (dataset A). The purpose is to obtain the ranges for positive and negative relationships. We do it in this way:

1. We use iterrows to check if there is a matching correspGroupId between the existing dataset and the annotated datasetA. If there is a match, we adjust the end year of the conflict (conflictYearEnd) depending on different rules and cases:

- Rule1: when we know that a conflict started but we don't have evidence on when/whether it ended, the "conflictYearEnd" value is converted to 0 (empty) in the annotated datasetA, and we use the earliest date of death of the correspondents as a default year for the end of the conflict. We make this assumption that a conflict only ends when one of the participants dies, unless there is evidence that they reconciliated (Rule2).

- Rule2: when we know that a conflict started and also do have evidence that it ended and when, the value for "conflictYearEnd" is hard-coded/written in the original annotated datasetA that was imported before. 

2. After filling in all the values for "conflictYearEnd" in the annotated relations file (step1) according to the two rules above, we determine the new ranges for different relations between correspondents based on the conflict year. We assign a "relationYearStart" and "relationYearEnd" and the type of relation for those ranges (positive or negative) using these cases:

- CASES type A: Those that fall into Rule1 above. As default for all the cases of typeA the conflict ends with the earliest year of death of one of the correspondents. We then define the relationships in this way:
    * CaseA1. The conflict and the correspondence start at the same time:
        - Positive relation: none.
        - Negative relation: yes, in which relationYearStart = conflictYearStart = correspYearStart until relationYearEnd = conflictYearEnd = earliest date of death.

    * CaseA2. The conflict starts after the correspondence starts: 
        - Positive relation: yes, in which relationYearStart = correspYearStart until relationYearEnd = conflictYearStart minus 1.
        - Negative relation: yes, in which relationYearStart = conflictYearStart until relationYearEnd = earliest date of death of the correspondents.<br />
    For example, the relation between Apollonio Bassetti^1631^1699^0 and Antonio Marco Magliabechi^1633^1714^0 includes correspondence exchange between 1667 and 1695. However, there is evidence of a conflict that started in 1674, and there is no evidence that this conflict ended. We then create two ranges: one for the positive relation (1667 until 1673) and another one for the negative relation (1674 until 1699) being 1699 Bassetti's date of death.

    * CaseA3. The conflict starts before the correspondence starts. In this case, because we don't know whether the conflict was resolved when the letter exchange started, we create the same relation as in case A1.


- CASES type B: Those tlat fall into Rule2 above. In these cases, the date in which a conflict ends is known. Because of this, we create different relations depending on the start and end year of the correspondence. Because these cases are many, we have created a separate table (HERE GOES EXCEL TABLE) with them. Here below we only explain and code the cases that apply to our data.

    * CaseB9. If the conflict starts before the start period of a correspondence and ends before the end year of the correspondence: we split this group into two relations:
        - Negative relation: in which relationYearStart =  conflictYearStart until the year in which a conflict ended (conflictYearEnd).
        - Positive relation: in which relationYearStart = conflictYearEnd plus 1, until the end year of the correspondence.<br />
    For example, the relationship between Jacobus Gronovius^1645^1716^0 and Johannes Georgius Graevius^1632^1703^0 is represented by letter exchanges between 1682 and 1692 in the combined letter dataset. There is evidence that there was a conflict in 1681 and that they reconciled in 1682. Thus, we create a negative relation in 1681, and a positive relation between 1682 and 1692 (correspYearEnd). 
    
    
checked already, we choose the first one:    
(NOTE: Inbegorg please check, I chose the end of correspondence as the boundary because somehow this matches more the logics of the table with cases typeB...) but we could also put the boundaries of the positive relation between 1682 and 1703 (date of death of Johannes Georgius Graevius) and say that we keep the boundary years of the conflict as they were found to be based on close reading, ignoring the years in which letters were exchanged, something like: Even though we have the year in which the corresponded ended, we assume that the correspondents kept a positive relation after the conflict ended since there is no evidence that the correspondence that was written after the conflict ended is friendly or not.)

#### Add end of conflict year to annotated dataset using rules

In [245]:
# iterate rows in the annotated ties file checking if there is a common group Id in the main dataset.
# In that case, and if the end year of the conflict is missing, fill in the earliest date of death in the annotatedTiesApersonDates set
# Note: dates of birth and death are values present the combinedSetGroupsTies not in the annotatedTiesApersonDates

for indexA, rowA in annotatedTiesA_v1.iterrows():
    for indexB, rowB in combinedSetGroupsTies.iterrows():
        # check which rows have the same groupId
        if rowA['correspPairIds'] == rowB['correspPairIds']:
            # check rule1 (if the end of the relation is unknown, we use earliest date of death as default and don't generate a positive relation if the correspondence )
            if rowA['conflictYearEnd'] == 0:
                #add a column with the type of case (casesA: end of conflict not available, )
                annotatedTiesA_v1.loc[indexA,'conflictCaseType'] = "A"
                # add the earliest date of death (step 5.4) as end of the conflict
                #add earliest date of death to annotatedTiesApersonDates as end of conflict
                annotatedTiesA_v1.at[indexA,'conflictYearEnd'] = rowB['dateDeath_earliest']
            # check rule2 (if the end of the relation is known), for now just add the type of case (casesB: end of conflict is known)
            elif rowA['conflictYearEnd'] != 0:
                #add a column with the type of case (casesA: end of conflict not available, casesB: end of conflict is known)
                annotatedTiesA_v1.loc[indexA,'conflictCaseType'] = "B"

In [246]:
annotatedTiesA_v1.head(10)

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,conflictYearStart,conflictYearEnd,signRelation,notesConflict,conflictCaseType
0,skp003623@skp003755,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,1699,-1,null,A
1,skp003623@mop0217,mop0217,Bartolommei Mattia Maria^0^0^1676,skp003623,Antonio Marco Magliabechi^1633^1714^0,1685,0,-1,null,NaN
2,skp003623@mop0239,mop0239,Bellini Francesco Maria^0^0^1684,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,null,NaN
3,skp003623@mop0241,mop0241,Bellini Lorenzo^1643^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1695,0,-1,null,NaN
4,skp003623@mop0255,mop0255,Benfatti Francesco^0^0^1683,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,null,NaN
5,skp003623@skp006710,skp006710,Carlo Roberto Dati^1619^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1668,1676,-1,null,A
6,skp003623@skp008118,skp008118,Christoph. Arnoldus^0^0^1679,skp003623,Antonio Marco Magliabechi^1633^1714^0,1675,1714,-1,null,A
7,skp003623@mop0647,mop0647,Coronelli Vincenzo Maria^1650^1718^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1703,0,-1,null,NaN
8,skp003623@skp008617,skp008617,Domenico Passionei^1682^1761^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1709,1714,-1,null,A
9,skp003623@skp011835,skp011835,Enrico Noris^1631^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,1704,-1,null,A

In [247]:
# This is the version of the annotatedTiesA file with the end of conflict year filled in using rules
annotatedTiesA_v2 = annotatedTiesA_v1.reset_index(drop=True).copy()

In [248]:
annotatedTiesA_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       26 non-null     object
 1   SKpersonId_person1   26 non-null     object
 2   personStrId_person1  26 non-null     object
 3   SKpersonId_person2   26 non-null     object
 4   personStrId_person2  26 non-null     object
 5   conflictYearStart    26 non-null     int64
 6   conflictYearEnd      26 non-null     int64
 7   signRelation         26 non-null     int64
 8   notesConflict        26 non-null     object
 9   conflictCaseType     12 non-null     object
dtypes: int64(3), object(7)
memory usage: 2.2+ KB

In [249]:
annotatedTiesA_v2.head(10)

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,conflictYearStart,conflictYearEnd,signRelation,notesConflict,conflictCaseType
0,skp003623@skp003755,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,1699,-1,null,A
1,skp003623@mop0217,mop0217,Bartolommei Mattia Maria^0^0^1676,skp003623,Antonio Marco Magliabechi^1633^1714^0,1685,0,-1,null,NaN
2,skp003623@mop0239,mop0239,Bellini Francesco Maria^0^0^1684,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,null,NaN
3,skp003623@mop0241,mop0241,Bellini Lorenzo^1643^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1695,0,-1,null,NaN
4,skp003623@mop0255,mop0255,Benfatti Francesco^0^0^1683,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,0,-1,null,NaN
5,skp003623@skp006710,skp006710,Carlo Roberto Dati^1619^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1668,1676,-1,null,A
6,skp003623@skp008118,skp008118,Christoph. Arnoldus^0^0^1679,skp003623,Antonio Marco Magliabechi^1633^1714^0,1675,1714,-1,null,A
7,skp003623@mop0647,mop0647,Coronelli Vincenzo Maria^1650^1718^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1703,0,-1,null,NaN
8,skp003623@skp008617,skp008617,Domenico Passionei^1682^1761^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1709,1714,-1,null,A
9,skp003623@skp011835,skp011835,Enrico Noris^1631^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,1704,-1,null,A

#### Generate relations dataset depending on the case

In [250]:
# now that the value for end conflict is filled in in the annotatedTiesApersonDates dataset and that we have labelled the two types of cases depending on the conflict ending year, we create the relations depending on the case
# for that purpose, we will create new rows for the updated relations, which only need these metadata: correspPairIds, relationYearStart, relationYearEnd, signRelation

dfRelations1_v0 = pd.DataFrame()

for indexA, rowA in annotatedTiesA_v2.iterrows():
    for indexB, rowB in combinedSetGroupsTies.iterrows():
        # check which rows have the same groupId
        if rowA['correspPairIds'] == rowB['correspPairIds']:
            # first work with cases of type A (in which the end year of the conflict is the same as the earliest date of death)
            if rowA['conflictCaseType'] == 'A':
                # create relations for cases A1 and A3 (in which the conflict starts earlier or at the same time that the correspondence starts)
                if (rowA['conflictYearStart'] <= rowB['correspYearStart']):
                    # update relations in combinedSetGroupsTies
                    # create negative relation in which relationYearStart = conflictYearStart = correspYearStart until relationYearEnd = conflictYearEnd = earliest date of death
                    correspPairIds = rowB['correspPairIds']
                    SKpersonId_person1 = rowB['SKpersonId_person1']
                    personStrId_person1 = rowB['personStrId_person1']
                    SKpersonId_person2 = rowB['SKpersonId_person2']
                    personStrId_person2 = rowB['personStrId_person2']
                    relationYearStart = rowA['conflictYearStart']
                    relationYearEnd = rowA['conflictYearEnd']
                    signRelation = -1
                    _tempTypePair = 'slice1_certain'
                    notesConflict = rowA['notesConflict']
                    dfRelations1_v0 = dfRelations1_v0.append({
                        'SKpersonId_person1':SKpersonId_person1,
                        'personStrId_person1':personStrId_person1,
                        'SKpersonId_person2':SKpersonId_person2,
                        'personStrId_person2':personStrId_person2,
                        'correspPairIds':correspPairIds,
                        'relationYearStart':relationYearStart,
                        'relationYearEnd':relationYearEnd,
                        'signRelation':signRelation,
                        '_tempTypePair':_tempTypePair,
                        'notesConflict':notesConflict
                    },ignore_index=True)
                # create relations for cases A2 (in which the conflict starts after the correspondence starts)
                elif (rowB['correspYearStart'] < rowA['conflictYearStart']):
                    # update relations in combinedSetGroupsTies
                    # create positive relation in which relationYearStart = correspYearStart until relationYearEnd = conflictYearEnd
                    correspPairIds = rowB['correspPairIds']
                    SKpersonId_person1 = rowB['SKpersonId_person1']
                    personStrId_person1 = rowB['personStrId_person1']
                    SKpersonId_person2 = rowB['SKpersonId_person2']
                    personStrId_person2 = rowB['personStrId_person2']
                    relationYearStart = rowB['correspYearStart']
                    relationYearEnd = rowA['conflictYearStart']
                    signRelation = 1
                    _tempTypePair = 'slice1_certain'
                    notesConflict = rowA['notesConflict']
                    dfRelations1_v0 = dfRelations1_v0.append({
                        'SKpersonId_person1':SKpersonId_person1,
                        'personStrId_person1':personStrId_person1,
                        'SKpersonId_person2':SKpersonId_person2,
                        'personStrId_person2':personStrId_person2,
                        'correspPairIds':correspPairIds,
                        'relationYearStart':relationYearStart,
                        'relationYearEnd':relationYearEnd,
                        'signRelation':signRelation,
                        '_tempTypePair':_tempTypePair,
                        'notesConflict':notesConflict
                    },ignore_index=True)
                    # create negative relation in which relationYearStart = conflictYearStart until relationYearEnd = conflictYearEnd = earliest date of death
                    correspPairIds = rowB['correspPairIds']
                    SKpersonId_person1 = rowB['SKpersonId_person1']
                    personStrId_person1 = rowB['personStrId_person1']
                    SKpersonId_person2 = rowB['SKpersonId_person2']
                    personStrId_person2 = rowB['personStrId_person2']
                    relationYearStart = rowA['conflictYearStart']
                    relationYearEnd = rowA['conflictYearEnd']
                    signRelation = -1
                    _tempTypePair = 'slice1_certain'
                    notesConflict = rowA['notesConflict']
                    dfRelations1_v0 = dfRelations1_v0.append({
                        'SKpersonId_person1':SKpersonId_person1,
                        'personStrId_person1':personStrId_person1,
                        'SKpersonId_person2':SKpersonId_person2,
                        'personStrId_person2':personStrId_person2,
                        'correspPairIds':correspPairIds,
                        'relationYearStart':relationYearStart,
                        'relationYearEnd':relationYearEnd,
                        'signRelation':signRelation,
                        '_tempTypePair':_tempTypePair,
                        'notesConflict':notesConflict
                    },ignore_index=True)
            # cases typeB are many, here we only code one that is present in our data TODO: code them all?
            elif rowA['conflictCaseType'] == 'B':
                # create relations for cases B9 (in which the conflict starts before the start period of a correspondence and ends before the end year of the correspondence)
                if (rowA['conflictYearStart'] < rowB['correspYearStart']) and (rowA['conflictYearEnd'] < rowB['correspYearEnd']):
                    # update relations in combinedSetGroupsTies
                    # create negative relation in which in which relationYearStart =  conflictYearStart until the year in which a conflict ended (conflictYearEnd) minus 1 (@Ingeborg ToDo: please check this -1)
                    correspPairIds = rowB['correspPairIds']
                    SKpersonId_person1 = rowB['SKpersonId_person1']
                    personStrId_person1 = rowB['personStrId_person1']
                    SKpersonId_person2 = rowB['SKpersonId_person2']
                    personStrId_person2 = rowB['personStrId_person2']
                    relationYearStart = rowA['conflictYearStart']
                    relationYearEnd = rowA['conflictYearEnd']
                    signRelation = -1
                    _tempTypePair = 'slice1_certain'
                    notesConflict = rowA['notesConflict']
                    dfRelations1_v0 = dfRelations1_v0.append({
                        'SKpersonId_person1':SKpersonId_person1,
                        'personStrId_person1':personStrId_person1,
                        'SKpersonId_person2':SKpersonId_person2,
                        'personStrId_person2':personStrId_person2,
                        'correspPairIds':correspPairIds,
                        'relationYearStart':relationYearStart,
                        'relationYearEnd':relationYearEnd,
                        'signRelation':signRelation,
                        '_tempTypePair':_tempTypePair,
                        'notesConflict':notesConflict
                    },ignore_index=True)
                    # create positive relation in which relationYearStart = conflictYearEnd (ToDo: check if plus 1 is Ok, it didn't work out for creating year slices, since 1682-1683 was empty), until the earliest year of death of one of the correspondents
                    correspPairIds = rowB['correspPairIds']
                    SKpersonId_person1 = rowB['SKpersonId_person1']
                    personStrId_person1 = rowB['personStrId_person1']
                    SKpersonId_person2 = rowB['SKpersonId_person2']
                    personStrId_person2 = rowB['personStrId_person2']
                    relationYearStart = rowA['conflictYearEnd']
                    relationYearEnd = rowB['correspYearEnd']
                    signRelation = 1
                    _tempTypePair = 'slice1_certain'
                    notesConflict = rowA['notesConflict']
                    dfRelations1_v0 = dfRelations1_v0.append({
                        'SKpersonId_person1':SKpersonId_person1,
                        'personStrId_person1':personStrId_person1,
                        'SKpersonId_person2':SKpersonId_person2,
                        'personStrId_person2':personStrId_person2,
                        'correspPairIds':correspPairIds,
                        'relationYearStart':relationYearStart,
                        'relationYearEnd':relationYearEnd,
                        'signRelation':signRelation,
                        '_tempTypePair':_tempTypePair,
                        'notesConflict':notesConflict
                    },ignore_index=True)

In [251]:
# This is the first relations dataset
dfRelations1_v0.head(5)

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
0,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1667.0,1674.0,1.0,slice1_certain,null
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674.0,1699.0,-1.0,slice1_certain,null
2,skp006710,Carlo Roberto Dati^1619^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp006710,1657.0,1668.0,1.0,slice1_certain,null
3,skp006710,Carlo Roberto Dati^1619^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp006710,1668.0,1676.0,-1.0,slice1_certain,null
4,skp008118,Christophorus Arnoldus van Neurenberg^0^0^1666,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp008118,1675.0,1714.0,-1.0,slice1_certain,null

In [252]:
dfRelations1_v0.correspPairIds.nunique()

12

In [253]:
# test 200: check group in the corresponence set
# check updates in relations
test200 = combinedSetGroupsTies[combinedSetGroupsTies.correspPairIds.str.contains('skp003623@skp003755')] #with correspondence before conflict
test200

#skp003623@mop2088  with death date
#skp003623@skp003755 Bassetti
#skp024024@skp028586 Gronovius/Graevius

,correspPairIds,correspPairNames,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspYearStart,correspYearEnd,_tempTypePair,nameString_sender,dateBirth_person1,dateDeath_person1,dateFl_person1,nameString_receiver,dateBirth_person2,dateDeath_person2,dateFl_person2,dateDeath_earliest
2242,skp003623@skp003755,Antonio Marco Magliabechi^1633^1714^0@Apolloni...,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1667,1695,slice1_certain,Apollonio Bassetti,1631,1699,0,Antonio Marco Magliabechi,1633,1714,0,1699

In [254]:
# test 20
# check updates in relations
test20 = dfRelations1_v0[dfRelations1_v0.correspPairIds.str.contains('skp003623@skp003755')] 
test20

#skp003623@skp003755 Bassetti
#skp024024@skp028586 Gronovius/Graevius

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
0,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1667.0,1674.0,1.0,slice1_certain,null
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674.0,1699.0,-1.0,slice1_certain,null

In [255]:
# test20.info()

In [256]:
# test 21
# check updates in annotated file
test21 = annotatedTiesA_v2[annotatedTiesA_v2.correspPairIds.str.contains('skp003623@skp003755')] 
test21

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,conflictYearStart,conflictYearEnd,signRelation,notesConflict,conflictCaseType
0,skp003623@skp003755,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1674,1699,-1,null,A

In [257]:
# test 22
# check updates in annotated file
test22 = combinedSetGroupsTies[combinedSetGroupsTies.correspPairIds.str.contains('skp024024@skp028586')] 
test22

#skp008989@skp037757
#skp003623@skp003755

,correspPairIds,correspPairNames,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspYearStart,correspYearEnd,_tempTypePair,nameString_sender,dateBirth_person1,dateDeath_person1,dateFl_person1,nameString_receiver,dateBirth_person2,dateDeath_person2,dateFl_person2,dateDeath_earliest
3570,skp024024@skp028586,Jacobus Gronovius^1645^1716^0@Johannes Georgiu...,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,1682,1692,slice1_certain,Johannes Georgius Graevius,1632,1703,0,Jacobus Gronovius,1645,1716,0,1703

In [258]:
# convert datatypes and fill in empty values

dfRelations1_v0_columns = dfRelations1_v0.columns

for column in dfRelations1_v0_columns:
    dataType = dfRelations1_v0.dtypes[column]
    if dataType == np.float64:
        dfRelations1_v0[column] = dfRelations1_v0[column].fillna(0.0)
        dfRelations1_v0[column] = dfRelations1_v0[column].astype(int)
    if dataType == object:
        dfRelations1_v0[column] = dfRelations1_v0[column].fillna('null')
        dfRelations1_v0[column] = dfRelations1_v0[column].astype(str)

In [259]:
# this is the first relations dataset (*relations)
dfRelations1 = dfRelations1_v0.reset_index(drop=True).copy()

In [260]:
# test
# check updates in annotated file
test27 = dfRelations1[dfRelations1.correspPairIds.str.contains('skp024024@skp028586')] 
test27

#skp024024@skp028586

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
16,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1681,1682,-1,slice1_certain,Reconciliation
17,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1682,1692,1,slice1_certain,Reconciliation

In [261]:
# when there are no other rows in the main aggregated set which have the same pair Id as in the annotated set, create a default positive relation in which relationYearStart = correspYearStart, 
# until correspYearEnd (by default, the assumption is that they had a positive relation during those exchanges)

# First obtain the rows from the combined dataset which have no equivalent pair in the annotated dataset (using the correspPairIds)
df_diff_pairs = combinedSetGroupsTies[~combinedSetGroupsTies.correspPairIds.isin(annotatedTiesA_v2.correspPairIds)]

In [262]:
df_diff_pairs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4624
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4613 non-null   object
 1   correspPairNames     4613 non-null   object
 2   SKpersonId_person1   4613 non-null   object
 3   personStrId_person1  4613 non-null   object
 4   SKpersonId_person2   4613 non-null   object
 5   personStrId_person2  4613 non-null   object
 6   correspYearStart     4613 non-null   int64
 7   correspYearEnd       4613 non-null   int64
 8   _tempTypePair        4613 non-null   object
 9   nameString_sender    4613 non-null   object
 10  dateBirth_person1    4613 non-null   int64
 11  dateDeath_person1    4613 non-null   int64
 12  dateFl_person1       4613 non-null   int64
 13  nameString_receiver  4613 non-null   object
 14  dateBirth_person2    4613 non-null   int64
 15  dateDeath_person2    4613 non-null   int64
 16  dateFl_person2       4613 non-null   int64
 17  dateDeath_earliest   4613 non-null   int64
dtypes: int64(9), object(9)
memory usage: 684.7+ KB

In [263]:
# we now create another dataframe with the necessary columns only (for the relationships) and add a default positive relation to those pairs
dfRelations2_v0 = df_diff_pairs[['correspPairIds', 'SKpersonId_person1', 'personStrId_person1', 'SKpersonId_person2','personStrId_person2', '_tempTypePair', 'correspYearStart', 'correspYearEnd']].copy()

In [264]:
dfRelations2_v0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4624
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4613 non-null   object
 1   SKpersonId_person1   4613 non-null   object
 2   personStrId_person1  4613 non-null   object
 3   SKpersonId_person2   4613 non-null   object
 4   personStrId_person2  4613 non-null   object
 5   _tempTypePair        4613 non-null   object
 6   correspYearStart     4613 non-null   int64
 7   correspYearEnd       4613 non-null   int64
dtypes: int64(2), object(6)
memory usage: 324.4+ KB

In [265]:
# we now create the sign relation column for that set, positive by default
dfRelations2_v0['signRelation'] = 1

In [266]:
dfRelations2_v2 = dfRelations2_v0.reset_index(drop=True).copy()

In [267]:
dfRelations2_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4613 non-null   object
 1   SKpersonId_person1   4613 non-null   object
 2   personStrId_person1  4613 non-null   object
 3   SKpersonId_person2   4613 non-null   object
 4   personStrId_person2  4613 non-null   object
 5   _tempTypePair        4613 non-null   object
 6   correspYearStart     4613 non-null   int64
 7   correspYearEnd       4613 non-null   int64
 8   signRelation         4613 non-null   int64
dtypes: int64(3), object(6)
memory usage: 324.5+ KB

In [268]:
dfRelations2_v2.tail(5)

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,_tempTypePair,correspYearStart,correspYearEnd,signRelation
4608,skp053527@skp037757,skp053527,Nicholaus Antonius Bynaeus^0^1716^0,skp037757,Petrus Burman^1668^1741^0,slice2_uncertain,1650,1714,1
4609,skp017474@skp035864,skp017474,Ferdinando Cosimo II de Medici^1610^1670^0,skp035864,Nicolaas Heinsius^1620^1681^0,slice2_uncertain,1635,1670,1
4610,skp019576@skp042667,skp042667,Tiberius Hemsterhuis^1685^1766^0,skp019576,Henry Dodwell^1641^1711^0,slice2_uncertain,1700,1711,1
4611,skp002809@skp040889,skp040889,Samuel ten Nuyl^1635^1688^0,skp002809,Andreas Arnoldus^1646^1694^0,slice2_uncertain,1661,1688,1
4612,skp012062@skp040889,skp040889,Samuel ten Nuyl^1635^1688^0,skp012062,Etienne Le Moine^1624^1689^0,slice2_uncertain,1650,1688,1

In [269]:
# Because in this set the relations are only based on the ranges of the correspondence, we update the column names accordingly
dfRelations2_v3 = dfRelations2_v2.rename(columns={'correspYearStart':'relationYearStart',
                                                  'correspYearEnd':'relationYearEnd'
                                                 })

In [270]:
dfRelations2_v4 = dfRelations2_v3.reset_index(drop=True).copy()

In [271]:
dfRelations2_v4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4613 non-null   object
 1   SKpersonId_person1   4613 non-null   object
 2   personStrId_person1  4613 non-null   object
 3   SKpersonId_person2   4613 non-null   object
 4   personStrId_person2  4613 non-null   object
 5   _tempTypePair        4613 non-null   object
 6   relationYearStart    4613 non-null   int64
 7   relationYearEnd      4613 non-null   int64
 8   signRelation         4613 non-null   int64
dtypes: int64(3), object(6)
memory usage: 324.5+ KB

In [272]:
# convert datatypes
dfRelations2_v4['correspPairIds'] = dfRelations2_v4['correspPairIds'].astype(object)

In [273]:
# This is the second relations dataset (*relations)
dfRelations2 = dfRelations2_v4.reset_index(drop=True).copy()

In [274]:
dfRelations2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4613 non-null   object
 1   SKpersonId_person1   4613 non-null   object
 2   personStrId_person1  4613 non-null   object
 3   SKpersonId_person2   4613 non-null   object
 4   personStrId_person2  4613 non-null   object
 5   _tempTypePair        4613 non-null   object
 6   relationYearStart    4613 non-null   int64
 7   relationYearEnd      4613 non-null   int64
 8   signRelation         4613 non-null   int64
dtypes: int64(3), object(6)
memory usage: 324.5+ KB

In [275]:
# test
# check updates in annotated file
test26 = dfRelations2[dfRelations2.correspPairIds.str.contains('skp010907@skp035864')] 
test26

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,_tempTypePair,relationYearStart,relationYearEnd,signRelation
4606,skp010907@skp035864,skp035864,Nicolaas Heinsius^1620^1681^0,skp010907,Dux Braccianus^0^0^0,slice2_uncertain,1650,1714,1

## Extra dataB: annotated ties for non-existing pairs
This file contains data of manually added pairs of correspondents and an annotated tie (negative or positive). It was compiled during archival research by Ingeborg van Vugt. These correspondent pairs do not exist in the aggregated dataset.

### Upload dataset B

In [276]:
# Read annotated negative tiesB file
negative_tiesB_path = os.path.join(data_raw_directory, 'extraPairsWithTiesB_20220414_182100.csv')

annotatedTiesB_v00 = pd.read_csv(negative_tiesB_path, sep = ",", index_col=False, engine='python')

In [277]:
annotatedTiesB_v00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_sender    84 non-null     object
 1   nameString_sender    84 non-null     object
 2   dateBirth_sender     84 non-null     int64
 3   dateDeath_sender     84 non-null     int64
 4   dateFl_sender        84 non-null     int64
 5   SKpersonId_receiver  84 non-null     object
 6   nameString_receiver  84 non-null     object
 7   dateBirth_receiver   84 non-null     int64
 8   dateDeath_receiver   84 non-null     int64
 9   dateFl_receiver      84 non-null     int64
 10  conflictYearStart    84 non-null     int64
 11  conflictYearEnd      84 non-null     int64
 12  signRelation         84 non-null     int64
 13  notesConflict        1 non-null      object
dtypes: int64(9), object(5)
memory usage: 9.3+ KB

In [278]:
# convert datatypes and fill in empty values

annotatedTiesB_columns = annotatedTiesB_v00.columns

for column in annotatedTiesB_columns:
    dataType = annotatedTiesB_v00.dtypes[column]
    if dataType == np.float64:
        annotatedTiesB_v00[column] = annotatedTiesB_v00[column].fillna(0.0)
        annotatedTiesB_v00[column] = annotatedTiesB_v00[column].astype(int)
    if dataType == object:
        annotatedTiesB_v00[column] = annotatedTiesB_v00[column].fillna('null')
        annotatedTiesB_v00[column] = annotatedTiesB_v00[column].astype(str)
        
# convert dates of birth/death to string to be able to concatenate them into a personStrId
annotatedTiesB_v00['dateBirth_sender'] = annotatedTiesB_v00['dateBirth_sender'].astype(str)
annotatedTiesB_v00['dateDeath_sender'] = annotatedTiesB_v00['dateDeath_sender'].astype(str)
annotatedTiesB_v00['dateFl_sender'] = annotatedTiesB_v00['dateFl_sender'].astype(str)
annotatedTiesB_v00['dateBirth_receiver'] = annotatedTiesB_v00['dateBirth_receiver'].astype(str)
annotatedTiesB_v00['dateDeath_receiver'] = annotatedTiesB_v00['dateDeath_receiver'].astype(str)
annotatedTiesB_v00['dateFl_receiver'] = annotatedTiesB_v00['dateFl_receiver'].astype(str)

In [279]:
annotatedTiesB_v01 = annotatedTiesB_v00.reset_index(drop=True).copy()

In [280]:
annotatedTiesB_v01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_sender    84 non-null     object
 1   nameString_sender    84 non-null     object
 2   dateBirth_sender     84 non-null     object
 3   dateDeath_sender     84 non-null     object
 4   dateFl_sender        84 non-null     object
 5   SKpersonId_receiver  84 non-null     object
 6   nameString_receiver  84 non-null     object
 7   dateBirth_receiver   84 non-null     object
 8   dateDeath_receiver   84 non-null     object
 9   dateFl_receiver      84 non-null     object
 10  conflictYearStart    84 non-null     int64
 11  conflictYearEnd      84 non-null     int64
 12  signRelation         84 non-null     int64
 13  notesConflict        84 non-null     object
dtypes: int64(3), object(11)
memory usage: 9.3+ KB

### Generate correspondent pair Ids
Following the conventions in previous steps, the pair Id is created by joining the Ids of the correspondents when their names have been sorted alphabetically

ToDo: perhaps create automatically the personStrId, to avoid possible duplicates...

#### Create personStrId
To avoide duplicates in the dictionary due to equal strings (different dates = different persons)

In [281]:
annotatedTiesB_v01['personStrId_sender'] = annotatedTiesB_v01['nameString_sender'] + '^' + annotatedTiesB_v01['dateBirth_sender'] + '^' + annotatedTiesB_v01['dateDeath_sender'] + '^' + annotatedTiesB_v01['dateFl_sender']

In [282]:
annotatedTiesB_v01['personStrId_receiver'] = annotatedTiesB_v01['nameString_receiver'] + '^' + annotatedTiesB_v01['dateBirth_receiver'] + '^' + annotatedTiesB_v01['dateDeath_receiver'] + '^' + annotatedTiesB_v01['dateFl_receiver']

#### Create a dictionary of personId and person name

In [283]:
# first create dictionary for senders (source: https://cmdlinetips.com/2021/04/convert-two-column-values-from-pandas-dataframe-to-a-dictionary/)
sendersB = annotatedTiesB_v01.set_index('SKpersonId_sender').to_dict()['personStrId_sender']

In [284]:
len(sendersB)

41

In [285]:
sendersB

{'skp011835': 'Enrico Noris^1631^1704^0',
 'skp003755': 'Apollonio Bassetti^1631^1699^0',
 'mop1838': 'Ricciardi Giovanni Battista^1623^1686^0',
 'skp003623': 'Antonio Marco Magliabechi^1633^1714^0',
 'mop1526': 'Moneglia Giovanni Andrea^1625^1700^0',
 'skp025534': 'Jean Garnier^1612^1681^0',
 'ndg262904': 'Capponi Ferrante^1611^1689^0',
 'mop1854': 'Rilli Jacopo^0^0^1699',
 'mop2184': 'Viviani Vincenzo^1622^1703^0',
 'mop0241': 'Bellini Lorenzo^1643^1704^0',
 'ndg7335827': 'Nati Pietro^0^0^1675',
 'ndg264214': 'Menzini Benedetto^1646^1704^0',
 'mop2221': 'Zanetti Nicola^0^0^1704',
 'skp001591': 'Abraham van Berkel^1639^1686^0',
 'mop2163': 'Viali Felice^0^0^1678',
 'skp013303': 'Francesco Barberini^1597^1679^0',
 'mop1333': 'Macedo Francesco^1596^1681^0',
 'mop2009': 'Sparaviero Francesco^0^0^1678',
 'mop2026': 'Steensen Nicolaus^1638^1686^0',
 'skp006710': 'Carlo Roberto Dati^1619^1676^0',
 'mop0846': 'Fabri Onorato^0^0^1676',
 'ndg7535534': 'Ceffini Bencivenni^0^0^1675',
 'mop0448': 'Canale Giovanni^0^0^1683',
 'mop1229': 'La Fontaine Abraham de^0^0^1676',
 'mop1815': 'Redi Francesco^1626^1697^0',
 'mop1599': 'Nomi Federico^0^0^1692',
 'skp016959': 'Giovanni Cinelli Calvolli^1625^1706^0',
 'skp039570': 'Raphael Fabretti^1618^1700^0',
 'skp016830': 'Gijsbert Cuper^1644^1716^0',
 'ndg878874': 'Vangelisti Vincenzo^0^0^1685',
 'skp039717': 'Reinier Leers^1654^1714^0',
 'skp038400': 'Pierre Bayle^1647^1706^0',
 'ndg7468069': 'Lubieniecki Teodor^1653^1706^0',
 'mop0763': 'Desbordes Henry^0^0^1689',
 'mop1803': 'Ramazzini Bernardino^1633^1714^0',
 'skp003774': 'Archibald Pitcairne^0^0^1713',
 'skp024024': 'Jacobus Gronovius^1645^1716^0',
 'skp032432': 'Ludolphus Kuster^1670^1716^0',
 'mop0355': 'Bosca Pietro Paolo^0^0^1680',
 'mop0255': 'Benfatti Francesco^0^0^1683',
 'skp013301': 'Francesco Baldo di Paolo Feroni^1614^1696^0'}

In [286]:
# test: find Id per value using list comprehension
dict_itemsB = sendersB.items()
myValue3 = "Ludolphus Kuster^1670^1716^0"
myKey3 = [key for key,value in dict_itemsB if value==myValue3]
print(myKey3)

['skp032432']

In [287]:
# create dictionary for receivers
receiversB = annotatedTiesB_v01.set_index('SKpersonId_receiver').to_dict()['personStrId_receiver']

In [288]:
receiversB

{'skp016959': 'Giovanni Cinelli Calvolli^1625^1706^0',
 'ndg262904': 'Capponi Ferrante^1611^1689^0',
 'skp004230': 'Augustinus Coltellini^1613^1693^0',
 'skp011835': 'Enrico Noris^1631^1704^0',
 'skp024024': 'Jacobus Gronovius^1645^1716^0',
 'ndg7356390': 'Gornia Giovanbattista^1633^1684^0',
 'mop1400': 'Marchetti Alessandro^1633^1714^0',
 'mop2184': 'Viviani Vincenzo^1622^1703^0',
 'skp003623': 'Antonio Marco Magliabechi^1633^1714^0',
 'skp003755': 'Apollonio Bassetti^1631^1699^0',
 'mop2221': 'Zanetti Nicola^0^0^1704',
 'mop1815': 'Redi Francesco^1626^1697^0',
 'skp036430': 'Ottavio Ferrari^1607^1682^0',
 'mop1333': 'Macedo Francesco^1596^1681^0',
 'mop0261': 'Benvenuti Bernardo^0^0^1667',
 'mop1526': 'Moneglia Giovanni Andrea^1625^1700^0',
 'mop0647': 'Coronelli Vincenzo Maria^1650^1718^0',
 'skp024160': 'Jacobus Tollius^1633^1696^0',
 'skp003774': 'Archibald Pitcairne^0^0^1713',
 'skp009720': 'Daniel Cosson^1648^1688^0',
 'mop0664': 'Cosson Abraham^0^0^1701',
 'mop1838': 'Ricciardi Giovanni Battista^1623^1686^0',
 'skp031942': 'Lorenzo Panciatichi^1635^1676^0'}

In [289]:
# test: find Id per value using list comprehension
dict_itemsB = receiversB.items()
myValue4 = "Cosson Abraham^0^0^1701"
myKey4 = [key for key,value in dict_itemsB if value==myValue4]
print(myKey4)

['mop0664']

In [290]:
len(receiversB)

23

In [291]:
# combine both dictionaries (source: https://datagy.io/python-merge-dictionaries/)
personsDictB = {**sendersB, **receiversB}

In [292]:
# unique persons in the combined dictionary
len(personsDictB)

51

In [293]:
# Way to check that the dictionary doesn't contain duplicated values (source: https://www.geeksforgeeks.org/python-test-if-dictionary-contains-unique-keys-and-values/)
# using loops
# check for unique values
flag = False
hash_val = dict()
for keys in sendersB:
    if sendersB[keys] in hash_val:
        flag = True
        break
    else :
        hash_val[sendersB[keys]] = 1
  
# print result
print("Does dictionary contain repetition : " + str(flag))

Does dictionary contain repetition : False

In [294]:
# Get values and keys
key_listB = list(personsDictB.keys())
value_listB = list(personsDictB.values())

In [295]:
# Function to return key for any value
def get_key(val):
    for key, value in personsDictB.items():
         if val == value:
             return key
    return "key doesn't exist"

In [296]:
# test: find Id per value using list comprehension
dict_itemsB = personsDictB.items()
myValue6 = "Cosson Abraham^0^0^1701"
myKey6 = [key for key,value in dict_itemsB if value==myValue6]
print(myKey6)

['mop0664']

In [297]:
annotatedTiesB_v01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKpersonId_sender     84 non-null     object
 1   nameString_sender     84 non-null     object
 2   dateBirth_sender      84 non-null     object
 3   dateDeath_sender      84 non-null     object
 4   dateFl_sender         84 non-null     object
 5   SKpersonId_receiver   84 non-null     object
 6   nameString_receiver   84 non-null     object
 7   dateBirth_receiver    84 non-null     object
 8   dateDeath_receiver    84 non-null     object
 9   dateFl_receiver       84 non-null     object
 10  conflictYearStart     84 non-null     int64
 11  conflictYearEnd       84 non-null     int64
 12  signRelation          84 non-null     int64
 13  notesConflict         84 non-null     object
 14  personStrId_sender    84 non-null     object
 15  personStrId_receiver  84 non-null     object
dtypes: int64(3), object(13)
memory usage: 10.6+ KB

In [298]:
annotatedTiesB_v02 = annotatedTiesB_v01.reset_index(drop=True).copy()

In [299]:
annotatedTiesB_v02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKpersonId_sender     84 non-null     object
 1   nameString_sender     84 non-null     object
 2   dateBirth_sender      84 non-null     object
 3   dateDeath_sender      84 non-null     object
 4   dateFl_sender         84 non-null     object
 5   SKpersonId_receiver   84 non-null     object
 6   nameString_receiver   84 non-null     object
 7   dateBirth_receiver    84 non-null     object
 8   dateDeath_receiver    84 non-null     object
 9   dateFl_receiver       84 non-null     object
 10  conflictYearStart     84 non-null     int64
 11  conflictYearEnd       84 non-null     int64
 12  signRelation          84 non-null     int64
 13  notesConflict         84 non-null     object
 14  personStrId_sender    84 non-null     object
 15  personStrId_receiver  84 non-null     object
dtypes: int64(3), object(13)
memory usage: 10.6+ KB

#### Generate pair Ids

In [300]:
for index, row in annotatedTiesB_v02.iterrows():
    #capture personId for sender
    senderId = annotatedTiesB_v02.iloc[index,0]
    #capture personId for receiver
    receiverId = annotatedTiesB_v02.iloc[index,5]
    #capture personStrId for sender
    senderName = annotatedTiesB_v02.iloc[index,14]
    #capture personStrId for receiver
    receiverName = annotatedTiesB_v02.iloc[index,15]
    #find the first one in alphabetical order
    firstPairName = min(senderName,receiverName)
    # Get the key (personId) for this pair name using the dictionary created in the previous step
    IdFirstName = get_key(firstPairName)
    #find the second one in alphabetical order
    secondPairName = max(senderName,receiverName)
    # Get the key (personId) for this pair name using the dictionary created in the previous step
    IdSecondName = get_key(secondPairName)
    #add the names to the dataframe
    annotatedTiesB_v02.loc[index,'correspPairIds'] = IdFirstName + "@" + IdSecondName

In [301]:
annotatedTiesB_v02

,SKpersonId_sender,nameString_sender,dateBirth_sender,dateDeath_sender,dateFl_sender,SKpersonId_receiver,nameString_receiver,dateBirth_receiver,dateDeath_receiver,dateFl_receiver,conflictYearStart,conflictYearEnd,signRelation,notesConflict,personStrId_sender,personStrId_receiver,correspPairIds
0,skp011835,Enrico Noris,1631,1704,0,skp016959,Giovanni Cinelli Calvolli,1625,1706,0,1682,0,-1,null,Enrico Noris^1631^1704^0,Giovanni Cinelli Calvolli^1625^1706^0,skp011835@skp016959
1,skp003755,Apollonio Bassetti,1631,1699,0,skp016959,Giovanni Cinelli Calvolli,1625,1706,0,1682,0,-1,null,Apollonio Bassetti^1631^1699^0,Giovanni Cinelli Calvolli^1625^1706^0,skp003755@skp016959
2,mop1838,Ricciardi Giovanni Battista,1623,1686,0,skp016959,Giovanni Cinelli Calvolli,1625,1706,0,1682,0,-1,null,Ricciardi Giovanni Battista^1623^1686^0,Giovanni Cinelli Calvolli^1625^1706^0,skp016959@mop1838
3,skp003623,Antonio Marco Magliabechi,1633,1714,0,ndg262904,Capponi Ferrante,1611,1689,0,1674,0,-1,null,Antonio Marco Magliabechi^1633^1714^0,Capponi Ferrante^1611^1689^0,skp003623@ndg262904
4,mop1526,Moneglia Giovanni Andrea,1625,1700,0,skp004230,Augustinus Coltellini,1613,1693,0,1674,0,-1,null,Moneglia Giovanni Andrea^1625^1700^0,Augustinus Coltellini^1613^1693^0,skp004230@mop1526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,skp011835,Enrico Noris,1631,1704,0,mop1526,Moneglia Giovanni Andrea,1625,1700,0,1674,0,1,null,Enrico Noris^1631^1704^0,Moneglia Giovanni Andrea^1625^1700^0,skp011835@mop1526
80,mop1838,Ricciardi Giovanni Battista,1623,1686,0,mop1526,Moneglia Giovanni Andrea,1625,1700,0,1674,0,1,null,Ricciardi Giovanni Battista^1623^1686^0,Moneglia Giovanni Andrea^1625^1700^0,mop1526@mop1838
81,skp032432,Ludolphus Kuster,1670,1716,0,mop0664,Cosson Abraham,0,0,1701,1698,0,1,null,Ludolphus Kuster^1670^1716^0,Cosson Abraham^0^0^1701,mop0664@skp032432
82,skp006710,Carlo Roberto Dati,1619,1676,0,mop1526,Moneglia Giovanni Andrea,1625,1700,0,1674,0,1,null,Carlo Roberto Dati^1619^1676^0,Moneglia Giovanni Andrea^1625^1700^0,skp006710@mop1526
83,skp013301,Francesco Baldo di Paolo Feroni,1614,1696,0,skp003623,Antonio Marco Magliabechi,1633,1714,0,1675,0,-1,null,Francesco Baldo di Paolo Feroni^1614^1696^0,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp013301

In [302]:
annotatedTiesB_v02.correspPairIds.nunique()

84

In [303]:
# Test that these pairIds do not occur indeed in the main dataset (this should result in an empty dataframe)
df_diff_pairsB = annotatedTiesB_v02[annotatedTiesB_v02.correspPairIds.isin(combinedSetGroupsTies.correspPairIds)]

In [304]:
df_diff_pairsB

Empty DataFrame
Columns: [SKpersonId_sender, nameString_sender, dateBirth_sender, dateDeath_sender, dateFl_sender, SKpersonId_receiver, nameString_receiver, dateBirth_receiver, dateDeath_receiver, dateFl_receiver, conflictYearStart, conflictYearEnd, signRelation, notesConflict, personStrId_sender, personStrId_receiver, correspPairIds]
Index: []

In [305]:
annotatedTiesB_v02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SKpersonId_sender     84 non-null     object
 1   nameString_sender     84 non-null     object
 2   dateBirth_sender      84 non-null     object
 3   dateDeath_sender      84 non-null     object
 4   dateFl_sender         84 non-null     object
 5   SKpersonId_receiver   84 non-null     object
 6   nameString_receiver   84 non-null     object
 7   dateBirth_receiver    84 non-null     object
 8   dateDeath_receiver    84 non-null     object
 9   dateFl_receiver       84 non-null     object
 10  conflictYearStart     84 non-null     int64
 11  conflictYearEnd       84 non-null     int64
 12  signRelation          84 non-null     int64
 13  notesConflict         84 non-null     object
 14  personStrId_sender    84 non-null     object
 15  personStrId_receiver  84 non-null     object
 16  correspPairIds        84 non-null     object
dtypes: int64(3), object(14)
memory usage: 11.3+ KB

In [306]:
# Change column names: since the direction of the relationship is not anymore based on "sender"/"receiver"
annotatedTiesB_v03 = annotatedTiesB_v02.rename(columns={'SKpersonId_sender':'SKpersonId_person1',
                                                      'SKpersonId_receiver':'SKpersonId_person2',
                                                      'personStrId_sender':'personStrId_person1',
                                                      'personStrId_receiver':'personStrId_person2',
                                                      'dateBirth_sender':'dateBirth_person1',
                                                      'dateDeath_sender':'dateDeath_person1', 
                                                      'dateFl_sender':'dateFl_person1',
                                                      'dateBirth_receiver':'dateBirth_person2', 
                                                      'dateDeath_receiver':'dateDeath_person2', 
                                                      'dateFl_receiver':'dateFl_person2',
                                                      'conflictYearStart': 'relationYearStart' #here also change the column name of conflict start to relation start
                                                     })

In [307]:
annotatedTiesB_v04 = annotatedTiesB_v03.reset_index(drop=True).copy()

In [308]:
annotatedTiesB_v04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   84 non-null     object
 1   nameString_sender    84 non-null     object
 2   dateBirth_person1    84 non-null     object
 3   dateDeath_person1    84 non-null     object
 4   dateFl_person1       84 non-null     object
 5   SKpersonId_person2   84 non-null     object
 6   nameString_receiver  84 non-null     object
 7   dateBirth_person2    84 non-null     object
 8   dateDeath_person2    84 non-null     object
 9   dateFl_person2       84 non-null     object
 10  relationYearStart    84 non-null     int64
 11  conflictYearEnd      84 non-null     int64
 12  signRelation         84 non-null     int64
 13  notesConflict        84 non-null     object
 14  personStrId_person1  84 non-null     object
 15  personStrId_person2  84 non-null     object
 16  correspPairIds       84 non-null     object
dtypes: int64(3), object(14)
memory usage: 11.3+ KB

In [309]:
annotatedTiesB_v04.conflictYearEnd.value_counts()

0       83
1704     1
Name: conflictYearEnd, dtype: int64

### Add end of conflict year to annotated dataset using rules
Because there is no correspondence data attached to these pairs, we generate the relationships only using the rules above

In [310]:
# iterate rows in the annotated ties file checking if there is a conflict ending year
# In that case, and if the end year of the conflict is missing, fill in the earliest date of death
# Note: because this dataset doesn't have any information related to correspondence, we update directly the relationships dataset

for index, row in annotatedTiesB_v04.iterrows():
    # check rule1 (if the end of the relation is unknown, we use earliest date of death as default and don't generate a positive relation if the correspondence )
    if row['conflictYearEnd'] == 0:
        # determine which is the earliest date of death when both persons have dateDeath
        # check if both persons have dateDeath
        if (row['dateDeath_person1'] != 0) & (row['dateDeath_person2'] != 0):
            # check which is the earliest date of death
            if row['dateDeath_person1'] <= row['dateDeath_person2']:
                #add earliest date of death to annotatedTiesApersonDates as end of the relationship
                annotatedTiesB_v04.at[index,'relationYearEnd'] = row['dateDeath_person1']
            # check which is the earliest date of death
            elif row['dateDeath_person2'] <= row['dateDeath_person1']:
                #add earliest date of death to annotatedTiesApersonDates as end of the relationship
                annotatedTiesB_v04.at[index,'relationYearEnd'] = row['dateDeath_person2']
        # determine which is the earliest date of death when only person1 has dateDeath
        # check if person1 has dateDeath and person2 has not
        if (row['dateDeath_person1'] != 0) & (row['dateDeath_person2'] == 0):
            #add earliest date of death to annotatedTiesApersonDates as end of the relationship
            annotatedTiesB_v04.at[index,'relationYearEnd'] = row['dateDeath_person1']
        # determine which is the earliest date of death when only person2 has dateDeath
        # check if person1 has no dateDeath and person2 has it
        if (row['dateDeath_person1'] == 0) & (row['dateDeath_person2'] != 0):
            #add earliest date of death to annotatedTiesApersonDates as end of the relationship
            annotatedTiesB_v04.at[index,'relationYearEnd'] = row['dateDeath_person2']
        # elif nor person1/person2 have dateDeath
        elif (row['dateDeath_person1'] == 0) & (row['dateDeath_person2'] == 0):
        #add Magliabechi's dateDeath as end of conflict
            annotatedTiesB_v04.at[index,'relationYearEnd'] = 1714
    else:
        annotatedTiesB_v04.at[index,'relationYearEnd'] = row['conflictYearEnd']

In [311]:
annotatedTiesB_v04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   84 non-null     object
 1   nameString_sender    84 non-null     object
 2   dateBirth_person1    84 non-null     object
 3   dateDeath_person1    84 non-null     object
 4   dateFl_person1       84 non-null     object
 5   SKpersonId_person2   84 non-null     object
 6   nameString_receiver  84 non-null     object
 7   dateBirth_person2    84 non-null     object
 8   dateDeath_person2    84 non-null     object
 9   dateFl_person2       84 non-null     object
 10  relationYearStart    84 non-null     int64
 11  conflictYearEnd      84 non-null     int64
 12  signRelation         84 non-null     int64
 13  notesConflict        84 non-null     object
 14  personStrId_person1  84 non-null     object
 15  personStrId_person2  84 non-null     object
 16  correspPairIds       84 non-null     object
 17  relationYearEnd      84 non-null     object
dtypes: int64(3), object(15)
memory usage: 11.9+ KB

In [312]:
annotatedTiesB_v04.relationYearEnd.value_counts()

0       33
1686     9
1700     7
1689     5
1704     4
1699     4
1676     3
1681     3
1679     3
1706     2
1716     2
1703     2
1684     2
1714     1
1693     1
1688     1
1704     1
1696     1
Name: relationYearEnd, dtype: int64

In [313]:
# convert datatypes for relationYearEnd

annotatedTiesB_v04["relationYearEnd"] = annotatedTiesB_v04["relationYearEnd"].astype(int)

In [314]:
annotatedTiesB_v04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   84 non-null     object
 1   nameString_sender    84 non-null     object
 2   dateBirth_person1    84 non-null     object
 3   dateDeath_person1    84 non-null     object
 4   dateFl_person1       84 non-null     object
 5   SKpersonId_person2   84 non-null     object
 6   nameString_receiver  84 non-null     object
 7   dateBirth_person2    84 non-null     object
 8   dateDeath_person2    84 non-null     object
 9   dateFl_person2       84 non-null     object
 10  relationYearStart    84 non-null     int64
 11  conflictYearEnd      84 non-null     int64
 12  signRelation         84 non-null     int64
 13  notesConflict        84 non-null     object
 14  personStrId_person1  84 non-null     object
 15  personStrId_person2  84 non-null     object
 16  correspPairIds       84 non-null     object
 17  relationYearEnd      84 non-null     int64
dtypes: int64(4), object(14)
memory usage: 11.9+ KB

In [315]:
annotatedTiesB_v05 = annotatedTiesB_v04.reset_index(drop=True).copy()

In [316]:
annotatedTiesB_v05.relationYearEnd.value_counts()

0       33
1686     9
1700     7
1704     5
1689     5
1699     4
1681     3
1679     3
1676     3
1684     2
1703     2
1716     2
1706     2
1693     1
1714     1
1688     1
1696     1
Name: relationYearEnd, dtype: int64

In [317]:
# if persons don't have complete dates of birth/death, add date of death of Magliabechi as end of negative relation
annotatedTiesB_v05['relationYearEnd']= annotatedTiesB_v05['relationYearEnd'].replace(0,1714)

# ToDo: convert 0 to na
# annotatedTiesB_v05['relationYearEnd'] = annotatedTiesB_v05['relationYearEnd'].fillna(1714)
# annotatedTiesB_v05['relationYearEnd'] = annotatedTiesB_v05['relationYearEnd'].astype(int)

# annotatedTiesB_v04.loc[annotatedTiesB_v04.relationYearEnd == 0,'relationYearEnd'] = 1714
# annotatedTiesB_v04['relationYearEnd'] = annotatedTiesB_v04['relationYearEnd'].replace(0, 1714)

In [318]:
annotatedTiesB_v05.relationYearEnd.value_counts()

1714    34
1686     9
1700     7
1704     5
1689     5
1699     4
1681     3
1679     3
1676     3
1684     2
1703     2
1716     2
1706     2
1693     1
1688     1
1696     1
Name: relationYearEnd, dtype: int64

In [319]:
##ToDoL: check all relations that end in 1714, that it makes sense with the dates of birth/death of the correspondents when one is empty
checkDateEndRelation = annotatedTiesB_v05[annotatedTiesB_v05.relationYearEnd == 1714]

In [320]:
checkDateEndRelation.head(10)

,SKpersonId_person1,nameString_sender,dateBirth_person1,dateDeath_person1,dateFl_person1,SKpersonId_person2,nameString_receiver,dateBirth_person2,dateDeath_person2,dateFl_person2,relationYearStart,conflictYearEnd,signRelation,notesConflict,personStrId_person1,personStrId_person2,correspPairIds,relationYearEnd
10,mop1854,Rilli Jacopo,0,0,1699,skp024024,Jacobus Gronovius,1645,1716,0,1674,0,-1,null,Rilli Jacopo^0^0^1699,Jacobus Gronovius^1645^1716^0,skp024024@mop1854,1714
13,ndg7335827,Nati Pietro,0,0,1675,skp003623,Antonio Marco Magliabechi,1633,1714,0,1674,0,-1,null,Nati Pietro^0^0^1675,Antonio Marco Magliabechi^1633^1714^0,skp003623@ndg7335827,1714
14,ndg7335827,Nati Pietro,0,0,1675,skp024024,Jacobus Gronovius,1645,1716,0,1675,0,-1,null,Nati Pietro^0^0^1675,Jacobus Gronovius^1645^1716^0,skp024024@ndg7335827,1714
17,mop2221,Zanetti Nicola,0,0,1704,ndg262904,Capponi Ferrante,1611,1689,0,1675,0,-1,null,Zanetti Nicola^0^0^1704,Capponi Ferrante^1611^1689^0,ndg262904@mop2221,1714
18,mop1526,Moneglia Giovanni Andrea,1625,1700,0,mop2221,Zanetti Nicola,0,0,1704,1675,0,-1,null,Moneglia Giovanni Andrea^1625^1700^0,Zanetti Nicola^0^0^1704,mop1526@mop2221,1714
20,mop2221,Zanetti Nicola,0,0,1704,mop1815,Redi Francesco,1626,1697,0,1675,0,-1,null,Zanetti Nicola^0^0^1704,Redi Francesco^1626^1697^0,mop1815@mop2221,1714
21,mop2163,Viali Felice,0,0,1678,skp024024,Jacobus Gronovius,1645,1716,0,1675,0,-1,null,Viali Felice^0^0^1678,Jacobus Gronovius^1645^1716^0,skp024024@mop2163,1714
26,mop2009,Sparaviero Francesco,0,0,1678,mop1333,Macedo Francesco,1596,1681,0,1675,0,-1,null,Sparaviero Francesco^0^0^1678,Macedo Francesco^1596^1681^0,mop1333@mop2009,1714
27,mop2026,Steensen Nicolaus,1638,1686,0,mop0261,Benvenuti Bernardo,0,0,1667,1675,0,-1,null,Steensen Nicolaus^1638^1686^0,Benvenuti Bernardo^0^0^1667,mop0261@mop2026,1714
29,mop2163,Viali Felice,0,0,1678,mop1526,Moneglia Giovanni Andrea,1625,1700,0,1675,0,-1,null,Viali Felice^0^0^1678,Moneglia Giovanni Andrea^1625^1700^0,mop1526@mop2163,1714

In [321]:
annotatedTiesB_v06 = annotatedTiesB_v05.reset_index(drop=True).copy()

In [322]:
# add column for indicating the certainty/uncertainty of these data
annotatedTiesB_v06['_tempTypePair'] = 'slice1_certain'

In [323]:
annotatedTiesB_v06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   84 non-null     object
 1   nameString_sender    84 non-null     object
 2   dateBirth_person1    84 non-null     object
 3   dateDeath_person1    84 non-null     object
 4   dateFl_person1       84 non-null     object
 5   SKpersonId_person2   84 non-null     object
 6   nameString_receiver  84 non-null     object
 7   dateBirth_person2    84 non-null     object
 8   dateDeath_person2    84 non-null     object
 9   dateFl_person2       84 non-null     object
 10  relationYearStart    84 non-null     int64
 11  conflictYearEnd      84 non-null     int64
 12  signRelation         84 non-null     int64
 13  notesConflict        84 non-null     object
 14  personStrId_person1  84 non-null     object
 15  personStrId_person2  84 non-null     object
 16  correspPairIds       84 non-null     object
 17  relationYearEnd      84 non-null     int64
 18  _tempTypePair        84 non-null     object
dtypes: int64(4), object(15)
memory usage: 12.6+ KB

In [324]:
# get df with relevant columns only
dfRelations3_v0 = annotatedTiesB_v06[['correspPairIds', 'SKpersonId_person1', 'personStrId_person1', 'SKpersonId_person2','personStrId_person2','relationYearStart', 'relationYearEnd', 'signRelation', '_tempTypePair', 'notesConflict']].copy()

In [325]:
# this is the third relations set (*relations)
dfRelations3 = dfRelations3_v0.reset_index(drop=True).copy()

In [326]:
dfRelations3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       84 non-null     object
 1   SKpersonId_person1   84 non-null     object
 2   personStrId_person1  84 non-null     object
 3   SKpersonId_person2   84 non-null     object
 4   personStrId_person2  84 non-null     object
 5   relationYearStart    84 non-null     int64
 6   relationYearEnd      84 non-null     int64
 7   signRelation         84 non-null     int64
 8   _tempTypePair        84 non-null     object
 9   notesConflict        84 non-null     object
dtypes: int64(3), object(7)
memory usage: 6.7+ KB

In [327]:
dfRelations3

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
0,skp011835@skp016959,skp011835,Enrico Noris^1631^1704^0,skp016959,Giovanni Cinelli Calvolli^1625^1706^0,1682,1704,-1,slice1_certain,null
1,skp003755@skp016959,skp003755,Apollonio Bassetti^1631^1699^0,skp016959,Giovanni Cinelli Calvolli^1625^1706^0,1682,1699,-1,slice1_certain,null
2,skp016959@mop1838,mop1838,Ricciardi Giovanni Battista^1623^1686^0,skp016959,Giovanni Cinelli Calvolli^1625^1706^0,1682,1686,-1,slice1_certain,null
3,skp003623@ndg262904,skp003623,Antonio Marco Magliabechi^1633^1714^0,ndg262904,Capponi Ferrante^1611^1689^0,1674,1689,-1,slice1_certain,null
4,skp004230@mop1526,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp004230,Augustinus Coltellini^1613^1693^0,1674,1693,-1,slice1_certain,null
...,...,...,...,...,...,...,...,...,...,...
79,skp011835@mop1526,skp011835,Enrico Noris^1631^1704^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,1674,1700,1,slice1_certain,null
80,mop1526@mop1838,mop1838,Ricciardi Giovanni Battista^1623^1686^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,1674,1686,1,slice1_certain,null
81,mop0664@skp032432,skp032432,Ludolphus Kuster^1670^1716^0,mop0664,Cosson Abraham^0^0^1701,1698,1714,1,slice1_certain,null
82,skp006710@mop1526,skp006710,Carlo Roberto Dati^1619^1676^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,1674,1676,1,slice1_certain,null
83,skp003623@skp013301,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,1675,1696,-1,slice1_certain,null

In [328]:
# test
# check updates in annotated file
test28 = dfRelations3[dfRelations3.correspPairIds.str.contains('skp024024@mop1526')] 
test28

,correspPairIds,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
8,skp024024@mop1526,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp024024,Jacobus Gronovius^1645^1716^0,1674,1700,-1,slice1_certain,null

# Combine all relations into one set

In [329]:
dfRelations1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   22 non-null     object
 1   personStrId_person1  22 non-null     object
 2   SKpersonId_person2   22 non-null     object
 3   personStrId_person2  22 non-null     object
 4   correspPairIds       22 non-null     object
 5   relationYearStart    22 non-null     int64
 6   relationYearEnd      22 non-null     int64
 7   signRelation         22 non-null     int64
 8   _tempTypePair        22 non-null     object
 9   notesConflict        22 non-null     object
dtypes: int64(3), object(7)
memory usage: 1.8+ KB

In [330]:
dfRelations2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   correspPairIds       4613 non-null   object
 1   SKpersonId_person1   4613 non-null   object
 2   personStrId_person1  4613 non-null   object
 3   SKpersonId_person2   4613 non-null   object
 4   personStrId_person2  4613 non-null   object
 5   _tempTypePair        4613 non-null   object
 6   relationYearStart    4613 non-null   int64
 7   relationYearEnd      4613 non-null   int64
 8   signRelation         4613 non-null   int64
dtypes: int64(3), object(6)
memory usage: 324.5+ KB

In [331]:
dfRelations_v0 = pd.concat([dfRelations1, dfRelations2, dfRelations3])

In [332]:
dfRelations_v0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4719 entries, 0 to 83
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4719 non-null   object
 1   personStrId_person1  4719 non-null   object
 2   SKpersonId_person2   4719 non-null   object
 3   personStrId_person2  4719 non-null   object
 4   correspPairIds       4719 non-null   object
 5   relationYearStart    4719 non-null   int64
 6   relationYearEnd      4719 non-null   int64
 7   signRelation         4719 non-null   int64
 8   _tempTypePair        4719 non-null   object
 9   notesConflict        106 non-null    object
dtypes: int64(3), object(7)
memory usage: 405.5+ KB

In [333]:
# convert datatypes and fill in empty values
dfRelations_v0['notesConflict'] = dfRelations_v0['notesConflict'].fillna('null')
dfRelations_v0['notesConflict'] = dfRelations_v0['notesConflict'].astype(str)

In [334]:
# This is the resulting dataset with all relations
dfRelations = dfRelations_v0.reset_index(drop=True).copy()

In [335]:
dfRelations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4719 entries, 0 to 4718
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4719 non-null   object
 1   personStrId_person1  4719 non-null   object
 2   SKpersonId_person2   4719 non-null   object
 3   personStrId_person2  4719 non-null   object
 4   correspPairIds       4719 non-null   object
 5   relationYearStart    4719 non-null   int64
 6   relationYearEnd      4719 non-null   int64
 7   signRelation         4719 non-null   int64
 8   _tempTypePair        4719 non-null   object
 9   notesConflict        4719 non-null   object
dtypes: int64(3), object(7)
memory usage: 368.8+ KB

In [336]:
# test
test23 = dfRelations[dfRelations.correspPairIds.str.contains('skp024024@skp028586')]
test23

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
16,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1681,1682,-1,slice1_certain,Reconciliation
17,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1682,1692,1,slice1_certain,Reconciliation

In [337]:
# # Export relations data. ToDo: update path

# timestr = time.strftime("%Y%m%d-%H%M%S")
# fileName30 = (f"{pathRepository}magliabechiRelationsAll_{timestr}.csv")
# dfRelations.to_csv(fileName30)

# Create slices per year
Split relationship year range into individual years


This step will generate two datasets that contains the final correspondent pairs (i.e., correspondent pairs + year ranges) of the aggregated datasets of Garfagnini and CEN. These datasets are:

- All pairs: it contains both the certain and uncertain slices generated in the previous steps (step 4)
- Slice certain only: it contains
contain the pairs which range is most certain ("slice1_certain" from the previous step) and only the pairs from the uncertain set ("slice2_uncertain" from previous step). These pairs were classified according to the certainty level of the letter metadata into two groups (column "_tempTypePair").

In [338]:
# Quality control: before proceeding to separate the two final slices, we do a preliminary check on whether negative ranges were created in the previous steps:

In [339]:
checkNegative = dfRelations[['correspPairIds', 'relationYearStart', 'relationYearEnd']].copy()

checkNegative['substraction'] = checkNegative['relationYearEnd'] - checkNegative['relationYearStart']

In [340]:
checkNegative

           correspPairIds  relationYearStart  relationYearEnd  substraction
0     skp003623@skp003755               1667             1674             7
1     skp003623@skp003755               1674             1699            25
2     skp003623@skp006710               1657             1668            11
3     skp003623@skp006710               1668             1676             8
4     skp003623@skp008118               1675             1714            39
...                   ...                ...              ...           ...
4714    skp011835@mop1526               1674             1700            26
4715      mop1526@mop1838               1674             1686            12
4716    mop0664@skp032432               1698             1714            16
4717    skp006710@mop1526               1674             1676             2
4718  skp003623@skp013301               1675             1696            21

[4719 rows x 4 columns]

In [341]:
checkNegative.substraction.unique()

array([  7,  25,  11,   8,  39,   5,   1,  30,  23,   4,   6,  24,  10,
         2,   3,  15,   0,  26,  29,  32,  13,  18,  28,  41,  14,  12,
         9,  17,  22,  27,  31,  16,  20,  34,  21,  40,  45,  19,  35,
        47,  36,  43,  38,  48,  42,  33,  49,  37,  63,  64,  55,  51,
        52,  54,  65,  -5, -12,  46,  50, -14,  44,  56])

In [342]:
# test. ToDo: check these and fix in original data
test31 = checkNegative[(checkNegative.substraction >= -14) & (checkNegative.substraction < 0)]
test31

           correspPairIds  relationYearStart  relationYearEnd  substraction
4420  skp003694@skp016830               1659             1654            -5
4447  skp012820@skp020583               1633             1621           -12
4546  skp008989@skp037757               1755             1741           -14

In [343]:
# check negative pairs (correct in original data if possible)
checkneg01 = dfRelations[dfRelations.correspPairIds.str.contains('skp008989@skp037757')]
checkneg01

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict
4546,skp037757,Petrus Burman^1668^1741^0,skp008989,Cornelis van Hoogeveen^1740^1792^0,skp008989@skp037757,1755,1741,1,slice2_uncertain,null

## Certain slice only

In [344]:
dfRelations._tempTypePair.value_counts()

slice1_certain      4446
slice2_uncertain     273
Name: _tempTypePair, dtype: int64

In [345]:
# For obtaining the relationships per year, we will limit to use the "certain" relationships in this section
dfRelationsCertain_v0 = dfRelations[dfRelations._tempTypePair == 'slice1_certain']

In [346]:
dfRelationsCertain_v0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4718
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4446 non-null   object
 1   personStrId_person1  4446 non-null   object
 2   SKpersonId_person2   4446 non-null   object
 3   personStrId_person2  4446 non-null   object
 4   correspPairIds       4446 non-null   object
 5   relationYearStart    4446 non-null   int64
 6   relationYearEnd      4446 non-null   int64
 7   signRelation         4446 non-null   int64
 8   _tempTypePair        4446 non-null   object
 9   notesConflict        4446 non-null   object
dtypes: int64(3), object(7)
memory usage: 382.1+ KB

In [347]:
dfRelationsCertain = dfRelationsCertain_v0.reset_index(drop=True).copy()

In [348]:
dfRelationsCertain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4446 non-null   object
 1   personStrId_person1  4446 non-null   object
 2   SKpersonId_person2   4446 non-null   object
 3   personStrId_person2  4446 non-null   object
 4   correspPairIds       4446 non-null   object
 5   relationYearStart    4446 non-null   int64
 6   relationYearEnd      4446 non-null   int64
 7   signRelation         4446 non-null   int64
 8   _tempTypePair        4446 non-null   object
 9   notesConflict        4446 non-null   object
dtypes: int64(3), object(7)
memory usage: 347.5+ KB

In [349]:
# # check if the negative relations are in the certain slice, if so, fix in the original data, if impossible then
# drop row that has the negative value (it's a mistake -14) ToDo: correct this in original CEN
# dfRelationsPerYear = dfRelations.drop(dfRelations.index[[4575]]) --> add here indexes from checkneg01

In [350]:
# dfRelationsPerYear.shape

In [351]:
dfRelationsPerYear_certain_v01 = dfRelationsCertain.reset_index(drop=True).copy()

In [352]:
dfRelationsPerYear_certain_v01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4446 non-null   object
 1   personStrId_person1  4446 non-null   object
 2   SKpersonId_person2   4446 non-null   object
 3   personStrId_person2  4446 non-null   object
 4   correspPairIds       4446 non-null   object
 5   relationYearStart    4446 non-null   int64
 6   relationYearEnd      4446 non-null   int64
 7   signRelation         4446 non-null   int64
 8   _tempTypePair        4446 non-null   object
 9   notesConflict        4446 non-null   object
dtypes: int64(3), object(7)
memory usage: 347.5+ KB

In [353]:
# create a column for each year in the range between min and max years

for index, row in dfRelationsPerYear_certain_v01.iterrows():
    start = dfRelationsPerYear_certain_v01.iloc[index,5]
    end = dfRelationsPerYear_certain_v01.iloc[index,6]
    periods = end - (start)
    year_ranges = pd.interval_range(start=start, end=end, periods=periods)
    years = year_ranges
    for year in years:
        dfRelationsPerYear_certain_v01.loc[index, year] = year

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

In [354]:
dfRelationsPerYear_certain_v01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Columns: 159 entries, SKpersonId_person1 to (1622, 1623]
dtypes: int64(3), object(156)
memory usage: 5.4+ MB

In [355]:
dfRelationsPerYear_certain_v02 = dfRelationsPerYear_certain_v01.reset_index(drop=True).copy()

In [356]:
# test
test32 = dfRelationsPerYear_certain_v01[dfRelationsPerYear_certain_v01.correspPairIds.str.contains('skp024024@skp028586')]

pd.set_option('display.max_columns', None)
test32

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict,"(1667, 1668]","(1668, 1669]","(1669, 1670]","(1670, 1671]","(1671, 1672]","(1672, 1673]","(1673, 1674]","(1674, 1675]","(1675, 1676]","(1676, 1677]","(1677, 1678]","(1678, 1679]","(1679, 1680]","(1680, 1681]","(1681, 1682]","(1682, 1683]","(1683, 1684]","(1684, 1685]","(1685, 1686]","(1686, 1687]","(1687, 1688]","(1688, 1689]","(1689, 1690]","(1690, 1691]","(1691, 1692]","(1692, 1693]","(1693, 1694]","(1694, 1695]","(1695, 1696]","(1696, 1697]","(1697, 1698]","(1698, 1699]","(1657, 1658]","(1658, 1659]","(1659, 1660]","(1660, 1661]","(1661, 1662]","(1662, 1663]","(1663, 1664]","(1664, 1665]","(1665, 1666]","(1666, 1667]","(1699, 1700]","(1700, 1701]","(1701, 1702]","(1702, 1703]","(1703, 1704]","(1704, 1705]","(1705, 1706]","(1706, 1707]","(1707, 1708]","(1708, 1709]","(1709, 1710]","(1710, 1711]","(1711, 1712]","(1712, 1713]","(1713, 1714]","(1652, 1653]","(1653, 1654]","(1654, 1655]","(1655, 1656]","(1656, 1657]","(1650, 1651]","(1651, 1652]","(1730, 1731]","(1731, 1732]","(1714, 1715]","(1644, 1645]","(1645, 1646]","(1646, 1647]","(1647, 1648]","(1648, 1649]","(1649, 1650]","(1630, 1631]","(1631, 1632]","(1632, 1633]","(1633, 1634]","(1634, 1635]","(1635, 1636]","(1636, 1637]","(1637, 1638]","(1638, 1639]","(1639, 1640]","(1640, 1641]","(1641, 1642]","(1642, 1643]","(1643, 1644]","(1724, 1725]","(1725, 1726]","(1726, 1727]","(1727, 1728]","(1728, 1729]","(1729, 1730]","(1715, 1716]","(1716, 1717]","(1717, 1718]","(1720, 1721]","(1721, 1722]","(1732, 1733]","(1733, 1734]","(1734, 1735]","(1735, 1736]","(1736, 1737]","(1718, 1719]","(1719, 1720]","(1722, 1723]","(1723, 1724]","(1737, 1738]","(1738, 1739]","(1628, 1629]","(1629, 1630]","(1759, 1760]","(1752, 1753]","(1753, 1754]","(1754, 1755]","(1755, 1756]","(1756, 1757]","(1757, 1758]","(1758, 1759]","(1739, 1740]","(1740, 1741]","(1741, 1742]","(1742, 1743]","(1743, 1744]","(1744, 1745]","(1745, 1746]","(1746, 1747]","(1747, 1748]","(1748, 1749]","(1749, 1750]","(1750, 1751]","(1751, 1752]","(1624, 1625]","(1625, 1626]","(1626, 1627]","(1627, 1628]","(1623, 1624]","(1611, 1612]","(1612, 1613]","(1613, 1614]","(1614, 1615]","(1615, 1616]","(1616, 1617]","(1617, 1618]","(1618, 1619]","(1619, 1620]","(1620, 1621]","(1621, 1622]","(1622, 1623]"
16,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1681,1682,-1,slice1_certain,Reconciliation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1681, 1682]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1682,1692,1,slice1_certain,Reconciliation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1682, 1683]","(1683, 1684]","(1684, 1685]","(1685, 1686]","(1686, 1687]","(1687, 1688]","(1688, 1689]","(1689, 1690]","(1690, 1691]","(1691, 1692]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [357]:
# test32.loc[41]

In [358]:
# # To inspect if it got all years in columns

# dfA_columns = dfA.columns

# for column in dfA_columns:
#     print(column)

In [359]:
dfRelationsPerYear_certain_v02 = dfRelationsPerYear_certain_v01.reset_index(drop=True).copy()

In [360]:
# ToDo: BECAUSE I COULDN'T SOLVE THE PROBLEM OF HANDLING THE LABELS OF THESE INTERVALS, 
# HERE I EXPORT THE FILE TO DO SOME CHANGES IN SUBLIME AND IMPORT AGAIN --ToDo: fix this...

# store this file in /data/temp folder of the repository

# this line will add the time stamp to the file name
timestr = time.strftime("%Y%m%d-%H%M%S")

# (this is a file with all the relations per year, in which the column labels are a two-year range, it's to fix externally for now)
relationsPerYearCertain_file = (f"MagliabechiCombinedSet_correspondentGroupsPerYear_certain_toFixColumnLabels_{timestr}.csv")
relationsPerYearCertain_path = os.path.join(data_temp_directory, relationsPerYearCertain_file)
dfRelationsPerYear_certain_v02.to_csv(relationsPerYearCertain_path, sep='⑄', index = False)

In [ ]:
# MANUAL STEP --> TO DO BY USER OUTSIDE THE NOTEBOOK
# Process the file outside, in Sublime:
## ⑄(\()(\d+)(, \d+)(\]) --> replace with ⑄$2
## then replace the , (commas) for semicolomns ; (#ToDo Liliana: in the original files replace the commas)
## then replace the separator ⑄ for commas
## THEN SAVE THE FILE WITH NAME: MagliabechiCombinedSet_correspondentGroupsPerYear_CERTAIN.csv
## save it in the data/temp directory

In [361]:
# reimport the file

# Read fixed file
correspGroupsCertain_perYear_path = os.path.join(data_temp_directory, 'MagliabechiCombinedSet_correspondentGroupsPerYear_CERTAIN.csv')

correspGroupsCertain_perYear_imp = pd.read_csv(correspGroupsCertain_perYear_path, sep = ",", index_col=False, engine='python')



# previous versions
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_cy29_20220207-130457.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_cy29_20220209-111115.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_cy29_20220209-134800.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_20220411-195800.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_20220414-195200.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_20220419-134900.csv", sep = ",", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathRepository}/data/processed/MagliabechiCombinedSet_correspondentGroupsPerYear_CERTAIN_20220503-155200.csv", sep = ",", index_col=False, engine='python')

In [362]:
dfB_t00 = correspGroupsCertain_perYear_imp.reset_index(drop=True).copy()

In [363]:
dfB_t00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Columns: 159 entries, SKpersonId_person1 to 1622
dtypes: float64(149), int64(3), object(7)
memory usage: 5.4+ MB

In [364]:
# convert datatypes and fill in empty values

# # first handle this exception:
# dfB_t01['dateFl'] = dfB_t01['dateFl'].fillna(0.0)
# dfB_t01['dateFl'] = dfB_t01['dateFl'].astype(int)

dfB_t00_columns = dfB_t00.columns

for column in dfB_t00_columns:
    dataType = dfB_t00.dtypes[column]
    if dataType == np.float64:
        dfB_t00[column] = dfB_t00[column].fillna(0.0)
        dfB_t00[column] = dfB_t00[column].astype(int)
    if dataType == object:
        dfB_t00[column] = dfB_t00[column].fillna('null')
        dfB_t00[column] = dfB_t00[column].astype(str)
        
# Handle exceptions (I have to convert these to string to use int in the following loop)
dfB_t00['relationYearStart'] = dfB_t00['relationYearStart'].astype(str)
dfB_t00['relationYearEnd'] = dfB_t00['relationYearEnd'].astype(str)

In [365]:
dfB_t00.head(2)

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1652,1653,1654,1655,1656,1650,1651,1730,1731,1714,1644,1645,1646,1647,1648,1649,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1724,1725,1726,1727,1728,1729,1715,1716,1717,1720,1721,1732,1733,1734,1735,1736,1718,1719,1722,1723,1737,1738,1628,1629,1759,1752,1753,1754,1755,1756,1757,1758,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1624,1625,1626,1627,1623,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622
0,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1667,1674,1,slice1_certain,null,1667,1668,1669,1670,1671,1672,1673,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674,1699,-1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [366]:
# # drop unnecessary columns

# dfB_t01 = dfB_t00.drop(['Unnamed: 0'], axis=1)

In [367]:
# Slices should be only: 1663 til 1714
dfB_t02 = dfB_t00.drop(['1611','1612','1613','1614','1615','1616','1617','1618','1619','1620','1621','1622','1623','1624','1625','1626','1627','1628','1629','1630','1631','1632','1633','1634','1635','1636','1637','1638','1639','1640','1641','1642','1643','1644','1645','1646','1647','1648','1649','1650','1651','1652','1653','1654','1655','1656','1657','1658','1659','1660','1661','1662','1715','1716','1717','1718','1719','1720','1721','1722','1723','1724','1725','1726','1727','1728','1729','1730','1731','1732','1733','1734','1735','1736','1737','1738','1739','1740','1741','1742','1743','1744','1745','1746','1747','1748','1749','1750','1751','1752','1753','1754','1755','1756','1757','1758','1759'], axis=1)

## ToDo: test: these years were to drop in the first version of the dataset: '1611','1612','1613','1614','1615','1616','1617','1618','1619','1620','1621','1622','1623','1624','1625','1626','1627','1628','1629','1630','1631','1632','1633','1634','1635','1636','1637','1638','1639','1640','1641','1642','1643','1644','1645','1646','1647','1648','1649','1650','1651','1652','1653','1654','1655','1656','1657','1658','1659','1660','1661','1662','1715','1716','1717','1718','1719','1720','1721','1722','1723','1724','1725','1726','1727','1728','1729','1730','1731','1732','1733','1734','1735','1736','1737','1738','1739','1740','1741','1742','1743','1744','1745','1746','1747','1748','1749','1750','1751','1752','1753','1754','1755','1756','1757','1758','1759','1760','1761','1762','1763','1764','1765','1766','1767','1768','1769','1770','1771','1772','1773','1774','1775','1776','1777','1778','1779','1780','1781','1782','1783','1784','1785','1786','1787','1788','1789','1790','1791','1792','1793','1794','1795'

In [368]:
# Temporary: ToDo: fix this later in the R script, the column name is more clear as "signRelation" not just as sign but we
# change it here manually now for testing the R script (April 19, 2022)

dfB_t02.rename(columns={"signRelation":"sign"},inplace=True)

In [369]:
dfB = dfB_t02.reset_index(drop=True).copy()

In [370]:
dfB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4446 non-null   object
 1   personStrId_person1  4446 non-null   object
 2   SKpersonId_person2   4446 non-null   object
 3   personStrId_person2  4446 non-null   object
 4   correspPairIds       4446 non-null   object
 5   relationYearStart    4446 non-null   object
 6   relationYearEnd      4446 non-null   object
 7   sign                 4446 non-null   int64
 8   _tempTypePair        4446 non-null   object
 9   notesConflict        4446 non-null   object
 10  1667                 4446 non-null   int64
 11  1668                 4446 non-null   int64
 12  1669                 4446 non-null   int64
 13  1670                 4446 non-null   int64
 14  1671                 4446 non-null   int64
 15  1672                 4446 non-null   int64
 16  1673                 4446 non-null   int64
 17  1674                 4446 non-null   int64
 18  1675                 4446 non-null   int64
 19  1676                 4446 non-null   int64
 20  1677                 4446 non-null   int64
 21  1678                 4446 non-null   int64
 22  1679                 4446 non-null   int64
 23  1680                 4446 non-null   int64
 24  1681                 4446 non-null   int64
 25  1682                 4446 non-null   int64
 26  1683                 4446 non-null   int64
 27  1684                 4446 non-null   int64
 28  1685                 4446 non-null   int64
 29  1686                 4446 non-null   int64
 30  1687                 4446 non-null   int64
 31  1688                 4446 non-null   int64
 32  1689                 4446 non-null   int64
 33  1690                 4446 non-null   int64
 34  1691                 4446 non-null   int64
 35  1692                 4446 non-null   int64
 36  1693                 4446 non-null   int64
 37  1694                 4446 non-null   int64
 38  1695                 4446 non-null   int64
 39  1696                 4446 non-null   int64
 40  1697                 4446 non-null   int64
 41  1698                 4446 non-null   int64
 42  1663                 4446 non-null   int64
 43  1664                 4446 non-null   int64
 44  1665                 4446 non-null   int64
 45  1666                 4446 non-null   int64
 46  1699                 4446 non-null   int64
 47  1700                 4446 non-null   int64
 48  1701                 4446 non-null   int64
 49  1702                 4446 non-null   int64
 50  1703                 4446 non-null   int64
 51  1704                 4446 non-null   int64
 52  1705                 4446 non-null   int64
 53  1706                 4446 non-null   int64
 54  1707                 4446 non-null   int64
 55  1708                 4446 non-null   int64
 56  1709                 4446 non-null   int64
 57  1710                 4446 non-null   int64
 58  1711                 4446 non-null   int64
 59  1712                 4446 non-null   int64
 60  1713                 4446 non-null   int64
 61  1714                 4446 non-null   int64
dtypes: int64(53), object(9)
memory usage: 2.1+ MB

In [371]:
dfB.tail(2)

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,sign,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714
4444,skp006710,Carlo Roberto Dati^1619^1676^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp006710@mop1526,1674,1676,1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4445,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp013301,1675,1696,-1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [372]:
dfB[dfB['1692'] != 0]

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,sign,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674,1699,-1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,skp008118,Christophorus Arnoldus van Neurenberg^0^0^1666,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp008118,1675,1714,-1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,0
8,skp011835,Enrico Noris^1631^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp011835,1674,1704,-1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,0,0,0,0,0,0,0,0,0,0,0
14,skp003539,Anton Maria Salvini^1653^1729^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003539@skp003623,1685,1709,1,slice1_certain,null,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,0,0,0,0,0,0
45,gap0025,Aldimari Biagio^0^0^1693,skp003623,Antonio Marco Magliabechi^1633^1714^0,gap0025@skp003623,1680,1706,1,slice1_certain,null,0,0,0,0,0,0,0,0,0,0,0,0,0,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4438,mop0255,Benfatti Francesco^0^0^1683,skp003755,Apollonio Bassetti^1631^1699^0,skp003755@mop0255,1675,1714,1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,0
4439,mop0255,Benfatti Francesco^0^0^1683,skp011835,Enrico Noris^1631^1704^0,mop0255@skp011835,1675,1714,1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,0
4440,mop1803,Ramazzini Bernardino^1633^1714^0,skp016959,Giovanni Cinelli Calvolli^1625^1706^0,skp016959@mop1803,1681,1706,1,slice1_certain,null,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,0,0,0,0,0,0,0,0,0
4441,skp011835,Enrico Noris^1631^1704^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp011835@mop1526,1674,1700,1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4445,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp013301,1675,1696,-1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [373]:
pd.set_option('display.max_columns', None)
for column in dfB.columns:
    print(column)

SKpersonId_person1
personStrId_person1
SKpersonId_person2
personStrId_person2
correspPairIds
relationYearStart
relationYearEnd
sign
_tempTypePair
notesConflict
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1663
1664
1665
1666
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714

In [374]:
# columnsYears = dfB_columns #ToDo: create a range here
columnsYears = ['1663','1664','1665','1666','1667','1668','1669','1670','1671','1672','1673','1674','1675','1676','1677','1678','1679','1680','1681','1682','1683','1684','1685','1686','1687','1688','1689','1690','1691','1692','1693','1694','1695','1696','1697','1698','1699','1700','1701','1702','1703','1704','1705','1706','1707','1708','1709','1710','1711','1712','1713','1714']

dataFrameNames = []
dataFrames = []

# create dataframe name
for column in columnsYears:
    dfName = (f"{column}")
    dataFrameNames.append(dfName)
    dfC = dfB[dfB[column] != 0]
    dfD = dfC[['SKpersonId_person1', 'SKpersonId_person2', 'personStrId_person1', 'personStrId_person2', 'sign']]
    dfE = dfD.reset_index(drop=True).copy()
    dataFrames.append(dfE)

In [375]:
check = columnsYears.index('1692')
check

29

In [376]:
type(dataFrames)

list

In [377]:
len(dataFrames)

52

In [378]:
dataFrames[25].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   491 non-null    object
 1   SKpersonId_person2   491 non-null    object
 2   personStrId_person1  491 non-null    object
 3   personStrId_person2  491 non-null    object
 4   sign                 491 non-null    int64
dtypes: int64(1), object(4)
memory usage: 19.3+ KB

In [379]:
dataFrameNames[25]

'1688'

In [380]:
dataFramesDictionary = dict(zip(dataFrameNames, dataFrames))

In [381]:
key_list = list(dataFramesDictionary.keys())
value_list = list(dataFramesDictionary.values())

In [382]:
# store these files in /data/processed folder of the repository

# create path to the sub-folder to store files in the repository where the processed data is located
data_processed_directory_perYearCertain = os.path.join(data_directory, 'processed/perYear_certain')

# this line will add the time stamp to the file name
timestr = time.strftime("%Y%m%d-%H%M%S")

for key, value in dataFramesDictionary.items():
    perYear_certain_file = (f"MagliabechiCombinedSet_{key}_{timestr}.csv")
    perYear_certain_path = os.path.join(data_processed_directory_perYearCertain, perYear_certain_file)
    value.to_csv(perYear_certain_path, sep = ',', index=False)

## ALL: including uncertain

In [383]:
# For obtaining the relationships per year, we separated the "certain" relationships in the previous section. In this section here below, we create the files
# for all the data, including the uncertain pairs/ranges, only for testing purposes
dfRelationsAll_v0 = dfRelations.reset_index(drop=True).copy()

In [384]:
dfRelationsAll_v0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4719 entries, 0 to 4718
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4719 non-null   object
 1   personStrId_person1  4719 non-null   object
 2   SKpersonId_person2   4719 non-null   object
 3   personStrId_person2  4719 non-null   object
 4   correspPairIds       4719 non-null   object
 5   relationYearStart    4719 non-null   int64
 6   relationYearEnd      4719 non-null   int64
 7   signRelation         4719 non-null   int64
 8   _tempTypePair        4719 non-null   object
 9   notesConflict        4719 non-null   object
dtypes: int64(3), object(7)
memory usage: 368.8+ KB

In [385]:
dfRelationsAll = dfRelationsAll_v0.reset_index(drop=True).copy()

In [386]:
dfRelationsAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4719 entries, 0 to 4718
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4719 non-null   object
 1   personStrId_person1  4719 non-null   object
 2   SKpersonId_person2   4719 non-null   object
 3   personStrId_person2  4719 non-null   object
 4   correspPairIds       4719 non-null   object
 5   relationYearStart    4719 non-null   int64
 6   relationYearEnd      4719 non-null   int64
 7   signRelation         4719 non-null   int64
 8   _tempTypePair        4719 non-null   object
 9   notesConflict        4719 non-null   object
dtypes: int64(3), object(7)
memory usage: 368.8+ KB

In [387]:
test31

           correspPairIds  relationYearStart  relationYearEnd  substraction
4420  skp003694@skp016830               1659             1654            -5
4447  skp012820@skp020583               1633             1621           -12
4546  skp008989@skp037757               1755             1741           -14

In [388]:
# # check if the negative relations are in the uncertain slice, if so, fix in the original data, if impossible then
# drop row that has the negative value. ToDo: correct this in original CEN
# dfRelationsPerYear = dfRelations.drop(dfRelations.index[[4575]]) --> add here indexes from checkneg01

# drop row that has the negative value (it's a mistake -14) ToDo: correct this in original CEN
dfRelationsAllPerYear = dfRelationsAll.drop(dfRelations.index[[4420, 4447, 4546]])

# old: in the first version of the data:
# dfRelationsAllPerYear = dfRelationsAll.drop(dfRelations.index[[4454, 4482, 4558, 4569, 4623]])

In [389]:
dfRelationsAllPerYear.shape

(4716, 10)

In [390]:
dfRelationsAllPerYear_v01 = dfRelationsAllPerYear.reset_index(drop=True).copy()

In [391]:
dfRelationsAllPerYear_v01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4716 entries, 0 to 4715
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4716 non-null   object
 1   personStrId_person1  4716 non-null   object
 2   SKpersonId_person2   4716 non-null   object
 3   personStrId_person2  4716 non-null   object
 4   correspPairIds       4716 non-null   object
 5   relationYearStart    4716 non-null   int64
 6   relationYearEnd      4716 non-null   int64
 7   signRelation         4716 non-null   int64
 8   _tempTypePair        4716 non-null   object
 9   notesConflict        4716 non-null   object
dtypes: int64(3), object(7)
memory usage: 368.6+ KB

In [392]:
# create a column for each year in the range between min and max years

for index, row in dfRelationsAllPerYear_v01.iterrows():
    start = dfRelationsAllPerYear_v01.iloc[index,5]
    end = dfRelationsAllPerYear_v01.iloc[index,6]
    periods = end - (start)
    year_ranges = pd.interval_range(start=start, end=end, periods=periods)
    years = year_ranges
    for year in years:
        dfRelationsAllPerYear_v01.loc[index, year] = year

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

In [393]:
dfRelationsAllPerYear_v01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4716 entries, 0 to 4715
Columns: 161 entries, SKpersonId_person1 to (1761, 1762]
dtypes: int64(3), object(158)
memory usage: 5.8+ MB

In [394]:
dfRelationsAllPerYear_v02 = dfRelationsAllPerYear_v01.reset_index(drop=True).copy()

In [395]:
# test
test32 = dfRelationsAllPerYear_v02[dfRelationsAllPerYear_v02.correspPairIds.str.contains('skp024024@skp028586')]

pd.set_option('display.max_columns', None)
test32

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict,"(1667, 1668]","(1668, 1669]","(1669, 1670]","(1670, 1671]","(1671, 1672]","(1672, 1673]","(1673, 1674]","(1674, 1675]","(1675, 1676]","(1676, 1677]","(1677, 1678]","(1678, 1679]","(1679, 1680]","(1680, 1681]","(1681, 1682]","(1682, 1683]","(1683, 1684]","(1684, 1685]","(1685, 1686]","(1686, 1687]","(1687, 1688]","(1688, 1689]","(1689, 1690]","(1690, 1691]","(1691, 1692]","(1692, 1693]","(1693, 1694]","(1694, 1695]","(1695, 1696]","(1696, 1697]","(1697, 1698]","(1698, 1699]","(1657, 1658]","(1658, 1659]","(1659, 1660]","(1660, 1661]","(1661, 1662]","(1662, 1663]","(1663, 1664]","(1664, 1665]","(1665, 1666]","(1666, 1667]","(1699, 1700]","(1700, 1701]","(1701, 1702]","(1702, 1703]","(1703, 1704]","(1704, 1705]","(1705, 1706]","(1706, 1707]","(1707, 1708]","(1708, 1709]","(1709, 1710]","(1710, 1711]","(1711, 1712]","(1712, 1713]","(1713, 1714]","(1652, 1653]","(1653, 1654]","(1654, 1655]","(1655, 1656]","(1656, 1657]","(1650, 1651]","(1651, 1652]","(1730, 1731]","(1731, 1732]","(1714, 1715]","(1644, 1645]","(1645, 1646]","(1646, 1647]","(1647, 1648]","(1648, 1649]","(1649, 1650]","(1630, 1631]","(1631, 1632]","(1632, 1633]","(1633, 1634]","(1634, 1635]","(1635, 1636]","(1636, 1637]","(1637, 1638]","(1638, 1639]","(1639, 1640]","(1640, 1641]","(1641, 1642]","(1642, 1643]","(1643, 1644]","(1724, 1725]","(1725, 1726]","(1726, 1727]","(1727, 1728]","(1728, 1729]","(1729, 1730]","(1715, 1716]","(1716, 1717]","(1717, 1718]","(1720, 1721]","(1721, 1722]","(1732, 1733]","(1733, 1734]","(1734, 1735]","(1735, 1736]","(1736, 1737]","(1718, 1719]","(1719, 1720]","(1722, 1723]","(1723, 1724]","(1737, 1738]","(1738, 1739]","(1628, 1629]","(1629, 1630]","(1759, 1760]","(1752, 1753]","(1753, 1754]","(1754, 1755]","(1755, 1756]","(1756, 1757]","(1757, 1758]","(1758, 1759]","(1739, 1740]","(1740, 1741]","(1741, 1742]","(1742, 1743]","(1743, 1744]","(1744, 1745]","(1745, 1746]","(1746, 1747]","(1747, 1748]","(1748, 1749]","(1749, 1750]","(1750, 1751]","(1751, 1752]","(1624, 1625]","(1625, 1626]","(1626, 1627]","(1627, 1628]","(1623, 1624]","(1611, 1612]","(1612, 1613]","(1613, 1614]","(1614, 1615]","(1615, 1616]","(1616, 1617]","(1617, 1618]","(1618, 1619]","(1619, 1620]","(1620, 1621]","(1621, 1622]","(1622, 1623]","(1760, 1761]","(1761, 1762]"
16,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1681,1682,-1,slice1_certain,Reconciliation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1681, 1682]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,skp028586,Johannes Georgius Graevius^1632^1703^0,skp024024,Jacobus Gronovius^1645^1716^0,skp024024@skp028586,1682,1692,1,slice1_certain,Reconciliation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1682, 1683]","(1683, 1684]","(1684, 1685]","(1685, 1686]","(1686, 1687]","(1687, 1688]","(1688, 1689]","(1689, 1690]","(1690, 1691]","(1691, 1692]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [396]:
# test32.loc[41]

In [397]:
dfRelationsAllPerYear_v03 = dfRelationsAllPerYear_v02.reset_index(drop=True).copy()

In [398]:
# ToDo: BECAUSE I COULDN'T SOLVE THE PROBLEM OF HANDLING THE LABELS OF THESE INTERVALS, 
# HERE I EXPORT THE FILE TO DO SOME CHANGES IN SUBLIME AND IMPORT AGAIN --ToDo: fix this...

# store this file in /data/temp folder of the repository

# this line will add the time stamp to the file name
timestr = time.strftime("%Y%m%d-%H%M%S")

# (this is a file with all the relations per year, in which the column labels are a two-year range, it's to fix externally for now)
relationsPerYearAll_file = (f"MagliabechiCombinedSet_correspondentGroupsPerYear_All_toFixColumnLabels_{timestr}.csv")
relationsPerYearAll_path = os.path.join(data_temp_directory, relationsPerYearAll_file)
dfRelationsAllPerYear_v03.to_csv(relationsPerYearAll_path, sep='⑄', index = False)

In [399]:
# MANUAL STEP --> TO DO BY USER OUTSIDE THE NOTEBOOK
# Process the file outside, in Sublime:
## ⑄(\()(\d+)(, \d+)(\]) --> replace with ⑄$2
## then replace the , (commas) for semicolomns ; (#ToDo Liliana: in the original files replace the commas)
## then replace the separator ⑄ for commas
## THEN SAVE THE FILE WITH NAME: MagliabechiCombinedSet_correspondentGroupsPerYear_ALL.csv

In [400]:
# reimport the file

# Read fixed file
correspGroupsAll_perYear_path = os.path.join(data_temp_directory, 'MagliabechiCombinedSet_correspondentGroupsPerYear_ALL.csv')

dfM_t00 = pd.read_csv(correspGroupsAll_perYear_path, sep = ",", index_col=False, engine='python')


# previous versions
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_cy29_20220207-130457.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_cy29_20220209-111115.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_cy29_20220209-134800.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_20220411-195800.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_20220414-195200.csv", sep = "⑄", index_col=False, engine='python')
# dfB_t00 = pd.read_csv(f"{pathFolder}MagliabechiCombinedSet_correspondentGroupsPerYear_WithLabels_20220419-134900.csv", sep = ",", index_col=False, engine='python')
# dfM_t00 = pd.read_csv(f"{pathRepository}/data/processed/MagliabechiCombinedSet_correspondentGroupsPerYear_ALL_20220503-155200.csv", sep = ",", index_col=False, engine='python')

In [401]:
dfM_t00

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1652,1653,1654,1655,1656,1650,1651,1730,1731,1714,1644,1645,1646,1647,1648,1649,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1724,1725,1726,1727,1728,1729,1715,1716,1717,1720,1721,1732,1733,1734,1735,1736,1718,1719,1722,1723,1737,1738,1628,1629,1759,1752,1753,1754,1755,1756,1757,1758,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1624,1625,1626,1627,1623,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1760,1761
0,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1667,1674,1,slice1_certain,NaN,1667.0,1668.0,1669.0,1670.0,1671.0,1672.0,1673.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674,1699,-1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1674.0,1675.0,1676.0,1677.0,1678.0,1679.0,1680.0,1681.0,1682.0,1683.0,1684.0,1685.0,1686.0,1687.0,1688.0,1689.0,1690.0,1691.0,1692.0,1693.0,1694.0,1695.0,1696.0,1697.0,1698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,skp006710,Carlo Roberto Dati^1619^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp006710,1657,1668,1,slice1_certain,NaN,1667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1657.0,1658.0,1659.0,1660.0,1661.0,1662.0,1663.0,1664.0,1665.0,1666.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,skp006710,Carlo Roberto Dati^1619^1676^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp006710,1668,1676,-1,slice1_certain,NaN,NaN,1668.0,1669.0,1670.0,1671.0,1672.0,1673.0,1674.0,1675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,skp008118,Christophorus Arnoldus van Neurenberg^0^0^1666,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp008118,1675,1714,-1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1675.0,1676.0,1677.0,1678.0,1679.0,1680.0,1681.0,1682.0,1683.0,1684.0,1685.0,1686.0,1687.0,1688.0,1689.0,1690.0,1691.0,1692.0,1693.0,1694.0,1695.0,1696.0,1697.0,1698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1699.0,1700.0,1701.0,1702.0,1703.0,1704.0,1705.0,1706.0,1707.0,1708.0,1709.0,1710.0,1711.0,1712.0,1713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,skp011835,Enrico Noris^1631^1704^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp011835@mop1526,1674,1700,1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1674.0,1675.0,1676.0,1677.0,1678.0,1679.0,1680.0,1681.0,1682.0,1683.0,1684.0,1685.0,1686.0,1687.0,1688.0,1689.0,1690.0,1691.0,1692.0,1693.0,1694.0,1695.0,1696.0,1697.0,1698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1699.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4712,mop1838,Ricciardi Giovanni Battista^1623^1686^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,mop1526@mop1838,1674,1686,1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1674.0,1675.0,1676.0,1677.0,1678.0,1679.0,1680.0,1681.0,1682.0,1683.0,1684.0,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4713,skp032432,Ludolphus Kuster^1670^1716^0,mop0664,Cosson Abraham^0^0^1701,mop0664@skp032432,1698,1714,1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1699.0,1700.0,1701.0,1702.0,1703.0,1704.0,1705.0,1706.0,1707.0,1708.0,1709.0,1710.0,1711.0,1712.0,1713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4714,skp006710,Carlo Roberto Dati^1619^1676^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp006710@mop1526,1674,1676,1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1674.0,1675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4715,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp013301,1675,1696,-1,slice1_certain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1675.0,1676.0,1677.0,1678.0,1679.0,1680.0,1681.0,1682.0,1683.0,1684.0,1685.0,1686.0,1687.0,1688.0,1689.0,1690.0,1691.0,1692.0,1693.0,1694.0,1695.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [402]:
dfM_t00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4716 entries, 0 to 4715
Columns: 161 entries, SKpersonId_person1 to 1761
dtypes: float64(151), int64(3), object(7)
memory usage: 5.8+ MB

In [403]:
# convert datatypes and fill in empty values

# # first handle this exception:
# dfB_t01['dateFl'] = dfB_t01['dateFl'].fillna(0.0)
# dfB_t01['dateFl'] = dfB_t01['dateFl'].astype(int)

dfM_t00_columns = dfM_t00.columns

for column in dfM_t00_columns:
    dataType = dfM_t00.dtypes[column]
    if dataType == np.float64:
        dfM_t00[column] = dfM_t00[column].fillna(0.0)
        dfM_t00[column] = dfM_t00[column].astype(int)
    if dataType == object:
        dfM_t00[column] = dfM_t00[column].fillna('null')
        dfM_t00[column] = dfM_t00[column].astype(str)
        
# Handle exceptions (I have to convert these to string to use int in the following loop)
dfM_t00['relationYearStart'] = dfM_t00['relationYearStart'].astype(str)
dfM_t00['relationYearEnd'] = dfM_t00['relationYearEnd'].astype(str)

In [404]:
dfM_t00.head(2)

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,signRelation,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1652,1653,1654,1655,1656,1650,1651,1730,1731,1714,1644,1645,1646,1647,1648,1649,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1724,1725,1726,1727,1728,1729,1715,1716,1717,1720,1721,1732,1733,1734,1735,1736,1718,1719,1722,1723,1737,1738,1628,1629,1759,1752,1753,1754,1755,1756,1757,1758,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1624,1625,1626,1627,1623,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1760,1761
0,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1667,1674,1,slice1_certain,null,1667,1668,1669,1670,1671,1672,1673,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674,1699,-1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [405]:
# # drop unnecessary columns

# dfM_t01 = dfM_t00.drop(['Unnamed: 0'], axis=1)

In [406]:
# Slices should be only: 1663 til 1714

dfM_t02 = dfM_t00.drop(['1611','1612','1613','1614','1615','1616','1617','1618','1619','1620','1621','1622','1623','1624','1625','1626','1627','1628','1629','1630','1631','1632','1633','1634','1635','1636','1637','1638','1639','1640','1641','1642','1643','1644','1645','1646','1647','1648','1649','1650','1651','1652','1653','1654','1655','1656','1657','1658','1659','1660','1661','1662','1715','1716','1717','1718','1719','1720','1721','1722','1723','1724','1725','1726','1727','1728','1729','1730','1731','1732','1733','1734','1735','1736','1737','1738','1739','1740','1741','1742','1743','1744','1745','1746','1747','1748','1749','1750','1751','1752','1753','1754','1755','1756','1757','1758','1759','1760','1761'], axis=1)

# old: in first version of the data these were to drop:
# dfM_t02 = dfM_t00.drop(['1611','1612','1613','1614','1615','1616','1617','1618','1619','1620','1621','1622','1623','1624','1625','1626','1627','1628','1629','1630','1631','1632','1633','1634','1635','1636','1637','1638','1639','1640','1641','1642','1643','1644','1645','1646','1647','1648','1649','1650','1651','1652','1653','1654','1655','1656','1657','1658','1659','1660','1661','1662','1715','1716','1717','1718','1719','1720','1721','1722','1723','1724','1725','1726','1727','1728','1729','1730','1731','1732','1733','1734','1735','1736','1737','1738','1739','1740','1741','1742','1743','1744','1745','1746','1747','1748','1749','1750','1751','1752','1753','1754','1755','1756','1757','1758','1759','1760','1761','1762','1763','1764','1765','1766','1767','1768','1769','1770','1771','1772','1773','1774','1775','1776','1777','1778','1779','1780','1781','1782','1783','1784','1785','1786','1787','1788','1789','1790','1791','1792','1793','1794','1795'], axis=1)

In [407]:
# Temporary: ToDo: fix this later in the R script, the column name is more clear as "signRelation" not just as sign but we
# change it here manually now for testing the R script (April 19, 2022)

dfM_t02.rename(columns={"signRelation":"sign"},inplace=True)

In [408]:
dfM = dfM_t02.reset_index(drop=True).copy()

In [409]:
dfM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4716 entries, 0 to 4715
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   4716 non-null   object
 1   personStrId_person1  4716 non-null   object
 2   SKpersonId_person2   4716 non-null   object
 3   personStrId_person2  4716 non-null   object
 4   correspPairIds       4716 non-null   object
 5   relationYearStart    4716 non-null   object
 6   relationYearEnd      4716 non-null   object
 7   sign                 4716 non-null   int64
 8   _tempTypePair        4716 non-null   object
 9   notesConflict        4716 non-null   object
 10  1667                 4716 non-null   int64
 11  1668                 4716 non-null   int64
 12  1669                 4716 non-null   int64
 13  1670                 4716 non-null   int64
 14  1671                 4716 non-null   int64
 15  1672                 4716 non-null   int64
 16  1673                 4716 non-null   int64
 17  1674                 4716 non-null   int64
 18  1675                 4716 non-null   int64
 19  1676                 4716 non-null   int64
 20  1677                 4716 non-null   int64
 21  1678                 4716 non-null   int64
 22  1679                 4716 non-null   int64
 23  1680                 4716 non-null   int64
 24  1681                 4716 non-null   int64
 25  1682                 4716 non-null   int64
 26  1683                 4716 non-null   int64
 27  1684                 4716 non-null   int64
 28  1685                 4716 non-null   int64
 29  1686                 4716 non-null   int64
 30  1687                 4716 non-null   int64
 31  1688                 4716 non-null   int64
 32  1689                 4716 non-null   int64
 33  1690                 4716 non-null   int64
 34  1691                 4716 non-null   int64
 35  1692                 4716 non-null   int64
 36  1693                 4716 non-null   int64
 37  1694                 4716 non-null   int64
 38  1695                 4716 non-null   int64
 39  1696                 4716 non-null   int64
 40  1697                 4716 non-null   int64
 41  1698                 4716 non-null   int64
 42  1663                 4716 non-null   int64
 43  1664                 4716 non-null   int64
 44  1665                 4716 non-null   int64
 45  1666                 4716 non-null   int64
 46  1699                 4716 non-null   int64
 47  1700                 4716 non-null   int64
 48  1701                 4716 non-null   int64
 49  1702                 4716 non-null   int64
 50  1703                 4716 non-null   int64
 51  1704                 4716 non-null   int64
 52  1705                 4716 non-null   int64
 53  1706                 4716 non-null   int64
 54  1707                 4716 non-null   int64
 55  1708                 4716 non-null   int64
 56  1709                 4716 non-null   int64
 57  1710                 4716 non-null   int64
 58  1711                 4716 non-null   int64
 59  1712                 4716 non-null   int64
 60  1713                 4716 non-null   int64
 61  1714                 4716 non-null   int64
dtypes: int64(53), object(9)
memory usage: 2.2+ MB

In [410]:
dfM.tail(2)

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,sign,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714
4714,skp006710,Carlo Roberto Dati^1619^1676^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp006710@mop1526,1674,1676,1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4715,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp013301,1675,1696,-1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [411]:
dfM[dfM['1692'] != 0]

,SKpersonId_person1,personStrId_person1,SKpersonId_person2,personStrId_person2,correspPairIds,relationYearStart,relationYearEnd,sign,_tempTypePair,notesConflict,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1663,1664,1665,1666,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714
1,skp003755,Apollonio Bassetti^1631^1699^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp003755,1674,1699,-1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,skp008118,Christophorus Arnoldus van Neurenberg^0^0^1666,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp008118,1675,1714,-1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,0
8,skp011835,Enrico Noris^1631^1704^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp011835,1674,1704,-1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,0,0,0,0,0,0,0,0,0,0,0
14,skp003539,Anton Maria Salvini^1653^1729^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003539@skp003623,1685,1709,1,slice1_certain,null,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,0,0,0,0,0,0
45,gap0025,Aldimari Biagio^0^0^1693,skp003623,Antonio Marco Magliabechi^1633^1714^0,gap0025@skp003623,1680,1706,1,slice1_certain,null,0,0,0,0,0,0,0,0,0,0,0,0,0,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4708,mop0255,Benfatti Francesco^0^0^1683,skp003755,Apollonio Bassetti^1631^1699^0,skp003755@mop0255,1675,1714,1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,0
4709,mop0255,Benfatti Francesco^0^0^1683,skp011835,Enrico Noris^1631^1704^0,mop0255@skp011835,1675,1714,1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,0
4710,mop1803,Ramazzini Bernardino^1633^1714^0,skp016959,Giovanni Cinelli Calvolli^1625^1706^0,skp016959@mop1803,1681,1706,1,slice1_certain,null,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,1700,1701,1702,1703,1704,1705,0,0,0,0,0,0,0,0,0
4711,skp011835,Enrico Noris^1631^1704^0,mop1526,Moneglia Giovanni Andrea^1625^1700^0,skp011835@mop1526,1674,1700,1,slice1_certain,null,0,0,0,0,0,0,0,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,0,0,0,0,1699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4715,skp013301,Francesco Baldo di Paolo Feroni^1614^1696^0,skp003623,Antonio Marco Magliabechi^1633^1714^0,skp003623@skp013301,1675,1696,-1,slice1_certain,null,0,0,0,0,0,0,0,0,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [412]:
pd.set_option('display.max_columns', None)
for column in dfM.columns:
    print(column)

SKpersonId_person1
personStrId_person1
SKpersonId_person2
personStrId_person2
correspPairIds
relationYearStart
relationYearEnd
sign
_tempTypePair
notesConflict
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1663
1664
1665
1666
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714

In [413]:
# columnsYears = dfB_columns #ToDo: create a range here
columnsYears = ['1663','1664','1665','1666','1667','1668','1669','1670','1671','1672','1673','1674','1675','1676','1677','1678','1679','1680','1681','1682','1683','1684','1685','1686','1687','1688','1689','1690','1691','1692','1693','1694','1695','1696','1697','1698','1699','1700','1701','1702','1703','1704','1705','1706','1707','1708','1709','1710','1711','1712','1713','1714']

dataFrameNames = []
dataFrames = []

# create dataframe name
for column in columnsYears:
    dfName = (f"{column}")
    dataFrameNames.append(dfName)
    dfN = dfM[dfM[column] != 0]
    dfO = dfN[['SKpersonId_person1', 'SKpersonId_person2', 'personStrId_person1', 'personStrId_person2', 'sign']]
    dfP = dfO.reset_index(drop=True).copy()
    dataFrames.append(dfP)

In [414]:
check = columnsYears.index('1692')
check

29

In [415]:
type(dataFrames)

list

In [416]:
len(dataFrames)

52

In [417]:
dataFrames[25].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SKpersonId_person1   685 non-null    object
 1   SKpersonId_person2   685 non-null    object
 2   personStrId_person1  685 non-null    object
 3   personStrId_person2  685 non-null    object
 4   sign                 685 non-null    int64
dtypes: int64(1), object(4)
memory usage: 26.9+ KB

In [418]:
dataFrameNames[25]

'1688'

In [419]:
dataFramesDictionary = dict(zip(dataFrameNames, dataFrames))

In [420]:
key_list = list(dataFramesDictionary.keys())
value_list = list(dataFramesDictionary.values())

In [421]:
# store these files in /data/processed folder of the repository

# create path to the sub-folder to store files in the repository where the processed data is located
data_processed_directory_perYearALL = os.path.join(data_directory, 'processed/perYear_ALL')

# this line will add the time stamp to the file name
timestr = time.strftime("%Y%m%d-%H%M%S")

for key, value in dataFramesDictionary.items():
    perYearAll_file = (f"MagliabechiCombinedSet_{key}_{timestr}.csv")
    perYearAll_path = os.path.join(data_processed_directory_perYearALL, perYearAll_file)
    value.to_csv(perYearAll_path, sep = ',', index=False)

# ANALYSIS (R script)

To continue with the analysis part, move to the Jupyter notebook that contains the steps (in R) to do the network analysis of the negative ties. The notebook is here:
https://github.com/inge1211/unlinked_historical_structural_balance (pending to add DOI)